<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/Model_RF_D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import os

In [7]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [8]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx',
 'CheckerDD.xlsx',
 'Color-checkerDD.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting5.xlsx',
 'Setting6.xlsx',
 'Setting2.xlsx']

In [9]:
CC1 = os.path.join(path,'CheckerDD.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/CheckerDD.xlsx

In [10]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [11]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [12]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [13]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [14]:
import numpy as np

In [15]:
from sklearn import metrics

In [16]:
from sklearn import datasets

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
clf=RandomForestClassifier()

In [19]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3set5')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.533317  203.558640  ...    A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
1  224.624949  202.937586  ...    A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
2  225.539161  206.125964  ...    A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
3  224.508644  208.011363  ...    A1  9131592F-9798-4457-ACD3-8109CCA36224.png
4  225.235127  209.102021  ...    A1  653769F4-F724-4660-A3EE-76C3101A90E5.png

[5 rows x 16 columns]

In [20]:
table_D3CC2 = pd.read_excel(CC1 , sheet_name='D3set6')
table_D3CC2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.974434  221.510592  ...    A1  271DC401-D060-44CF-9035-B5163A38C82A.png
1  224.099505  229.098369  ...    A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
2  223.496388  229.110949  ...    A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
3  223.590861  229.145362  ...    A1  FD507C4E-07C8-4DCC-9DCB-F3FB2C76AAB4.png
4  223.864134  229.322052  ...    A1  10D62DA7-31C9-483A-A627-9AD9F089ECD0.png

[5 rows x 16 columns]

#DD

##D3

In [21]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [22]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [23]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [24]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

In [25]:
RGB_D3_CC1 = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [26]:
HSV_D3_CC1 = table_D3CC1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [27]:
RGB_D3_CC2 = table_D3CC2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [28]:
HSV_D3_CC2 = table_D3CC2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

###RGB CC1

In [29]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [30]:
RGB_D3_Set4 = table_D3Set4

In [31]:
RGB_D3_Set1 = table_D3Set1

In [32]:
RGB_D3_Set2 = table_D3Set2

In [33]:
RGB_D3_Set3 = table_D3Set3

In [34]:
RGB_D3_concat = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [35]:
RGB_D3_concat0 = pd.concat([RGB_D3_concat,RGB_D3_Set4])

In [36]:
RGB_D3_concat1 = pd.concat([RGB_D3_concat0,RGB_D3_Set3])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [37]:
RGB_D3_concat2 = RGB_D3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [38]:
X_test_D3_RGB = np.array(RGB_D3_CC1)

In [39]:
y_D3_RGB =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [40]:
y_test_D3_RGB = np.array(y_D3_RGB)#เปลี่ยนให้ค่าในตารางเป็น array

In [41]:
X_train_D3_RGB = np.array(RGB_D3_concat2)#เปลี่ยนให้ค่าในตารางเป็น array

In [42]:
y_train_D3RGB = RGB_D3_concat1.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [43]:
y_train_D3_RGB = np.array(y_train_D3RGB)#เปลี่ยนให้ค่าในตารางเป็น array

In [44]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [45]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [46]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0775

###HSV CC1

In [47]:
HSV_D3_concat2 = RGB_D3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [48]:
X_test_D3_HSV = np.array(HSV_D3_CC1)

In [49]:
y_D3_HSV =  table_D3CC1.iloc[:,14:15]

In [50]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [51]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [52]:
y_train_D3HSV = RGB_D3_concat1.iloc[:,14:15]

In [53]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [54]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [55]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [56]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.0975

###RGB CC2

In [57]:
RGB_D3_Set4 = table_D3Set4

In [58]:
RGB_D3_Set1 = table_D3Set1

In [59]:
RGB_D3_Set2 = table_D3Set2

In [60]:
RGB_D3_Set3 = table_D3Set3

In [61]:
RGB_D3_concat_2 = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [62]:
RGB_D3_concat0_2 = pd.concat([RGB_D3_concat_2,RGB_D3_Set4])

In [63]:
RGB_D3_concat1_2 = pd.concat([RGB_D3_concat0_2,RGB_D3_Set3])

In [64]:
RGB_D3_concat2_2 = RGB_D3_concat1_2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [65]:
X_test_D3_RGB_2 = np.array(RGB_D3_CC2)

In [66]:
y_D3_RGB_2 =  table_D3CC2.iloc[:,14:15]

In [67]:
y_test_D3_RGB_2 = np.array(y_D3_RGB_2)

In [68]:
X_train_D3_RGB_2 = np.array(RGB_D3_concat2_2)

In [69]:
y_train_D3RGB_2 = RGB_D3_concat1_2.iloc[:,14:15]

In [70]:
y_train_D3_RGB_2 = np.array(y_train_D3RGB_2)

In [71]:
clf.fit(X_train_D3_RGB_2, y_train_D3_RGB_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [72]:
y_pred_D3_RGB_2 = clf.predict(X_test_D3_RGB_2)

In [73]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

Accuracy: 0.06625

###HSV CC2

In [74]:
HSV_D3_concat2_2 = RGB_D3_concat1_2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [75]:
X_test_D3_HSV_2 = np.array(HSV_D3_CC2)

In [76]:
y_D3_HSV_2 =  table_D3CC2.iloc[:,14:15]

In [77]:
y_test_D3_HSV_2 = np.array(y_D3_RGB_2)

In [78]:
X_train_D3_HSV_2 = np.array(HSV_D3_concat2_2)

In [79]:
y_train_D3HSV_2 = RGB_D3_concat1.iloc[:,14:15]

In [80]:
y_train_D3_HSV_2 = np.array(y_train_D3HSV_2)

In [81]:
clf.fit(X_train_D3_HSV_2, y_train_D3_HSV_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [82]:
y_pred_D3_HSV_2 = clf.predict(X_test_D3_HSV_2)

In [83]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

Accuracy: 0.0625

#D3 Set1 ref

##RGB

In [84]:
RGB_D3_Set1_1 = table_D3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [85]:
RGB_D3_concat0_3 = pd.concat([RGB_D3_Set2,RGB_D3_Set3])

In [86]:
RGB_D3_concat1_3 = pd.concat([RGB_D3_concat0_3,RGB_D3_Set4])

In [87]:
RGB_D3_concat2_3 = RGB_D3_concat1_3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [88]:
X_test_D3_RGB_3 = np.array(RGB_D3_Set1_1)

In [89]:
y_D3_RGB_3 =  table_D3Set1.iloc[:,14:15]

In [90]:
y_test_D3_RGB_3 = np.array(y_D3_RGB_3)

In [91]:
X_train_D3_RGB_3 = np.array(RGB_D3_concat2_3)

In [92]:
y_train_D3RGB_3 = RGB_D3_concat1_3.iloc[:,14:15]

In [93]:
y_train_D3_RGB_3 = np.array(y_train_D3RGB_3)

In [94]:
clf.fit(X_train_D3_RGB_3, y_train_D3_RGB_3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [95]:
y_pred_D3_RGB_3 = clf.predict(X_test_D3_RGB_3)

In [96]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_3, y_pred_D3_RGB_3))

Accuracy: 1.0

#Accuracy

##RGB

In [97]:
y_test_D3_RGB.shape

(800, 1)

In [98]:
y_pred_D3_RGB.shape

(800,)

In [99]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.0775

In [100]:
y_test_D3_RGB_2.shape

(800, 1)

In [101]:
y_pred_D3_RGB_2.shape

(800,)

In [102]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.06625

##HSV

In [103]:
y_test_D3_HSV.shape

(800, 1)

In [104]:
y_pred_D3_HSV.shape

(800,)

In [105]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.0975

In [106]:
y_test_D3_HSV_2.shape

(800, 1)

In [107]:
y_pred_D3_HSV_2.shape

(800,)

In [108]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.0625

#Model

In [109]:
#save model
import pickle
with open('modelD3.pkl', 'wb') as pickle_file :
       pickle.dump(y_pred_D3_RGB_3, pickle_file )

In [110]:
#load model
import pickle
with open('modelD3.pkl', 'rb') as pickle_file :
      new_data = pickle.load(pickle_file )

In [111]:
print(new_data)

['A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A2' 'A2' 'A2' 'A2'
 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3'
 'A3' 'A3' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5'
 'A3.5' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'B1' 'B1' 'B1'
 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2'
 'B2' 'B2' 'B2' 'B2' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3'
 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'C1' 'C1' 'C1' 'C1'
 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2'
 'C2' 'C2' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C4' 'C4'
 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2'
 'D2' 'D2' 'D2' 'D2' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3'
 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'A1' 'A1' 'A1' 'A1'
 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2'
 'A2' 'A2' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3.5' 'A3.5'
 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A4' 'A4' 'A4'
 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1'
 'B1' 'B1' 'B1' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2'
 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B4' 'B4' 'B4' 'B4'
 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1'
 'C1' 'C1' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C3' 'C3'
 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4'
 'C4' 'C4' 'C4' 'C4' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2'
 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D4' 'D4' 'D4' 'D4'
 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1'
 'A1' 'A1' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A3' 'A3'
 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3.5' 'A3.5' 'A3.5' 'A3.5'
 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4'
 'A4' 'A4' 'A4' 'A4' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1'
 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B3' 'B3' 'B3'
 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4'
 'B4' 'B4' 'B4' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C2'
 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C3' 'C3' 'C3' 'C3' 'C3'
 'C3' 'C3' 'C3' 'C3' 'C3' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4'
 'C4' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D3' 'D3' 'D3'
 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4'
 'D4' 'D4' 'D4' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A2'
 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A2' 'A3' 'A3' 'A3' 'A3' 'A3'
 'A3' 'A3' 'A3' 'A3' 'A3' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5'
 'A3.5' 'A3.5' 'A3.5' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4'
 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B2' 'B2' 'B2' 'B2'
 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3'
 'B3' 'B3' 'B3' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'C1'
 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C2' 'C2' 'C2' 'C2' 'C2'
 'C2' 'C2' 'C2' 'C2' 'C2' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3'
 'C3' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'D2' 'D2' 'D2'
 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3'
 'D3' 'D3' 'D3' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'A1'
 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A1' 'A2' 'A2' 'A2' 'A2' 'A2'
 'A2' 'A2' 'A2' 'A2' 'A2' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3' 'A3'
 'A3' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5' 'A3.5'
 'A3.5' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'A4' 'B1' 'B1' 'B1'
 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B1' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2' 'B2'
 'B2' 'B2' 'B2' 'B2' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3' 'B3'
 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'B4' 'C1' 'C1' 'C1' 'C1'
 'C1' 'C1' 'C1' 'C1' 'C1' 'C1' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2' 'C2'
 'C2' 'C2' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C3' 'C4' 'C4'
 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'C4' 'D2' 'D2' 'D2' 'D2' 'D2' 'D2'
 'D2' 'D2' 'D2' 'D2' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3' 'D3'
 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4' 'D4']