<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/Model_RF_D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [ ]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx',
 'CheckerDD.xlsx',
 'Color-checkerDD.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting5.xlsx',
 'Setting6.xlsx',
 'Setting2.xlsx']

In [ ]:
CC1 = os.path.join(path,'CheckerDD.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/CheckerDD.xlsx

In [ ]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [ ]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [ ]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [ ]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [ ]:
import numpy as np

In [ ]:
from sklearn import metrics

In [ ]:
from sklearn import datasets

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf=RandomForestClassifier()

In [ ]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3set5')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.533317  203.558640  ...    A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
1  224.624949  202.937586  ...    A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
2  225.539161  206.125964  ...    A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
3  224.508644  208.011363  ...    A1  9131592F-9798-4457-ACD3-8109CCA36224.png
4  225.235127  209.102021  ...    A1  653769F4-F724-4660-A3EE-76C3101A90E5.png

[5 rows x 16 columns]

In [ ]:
table_D3CC2 = pd.read_excel(CC1 , sheet_name='D3set6')
table_D3CC2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.974434  221.510592  ...    A1  271DC401-D060-44CF-9035-B5163A38C82A.png
1  224.099505  229.098369  ...    A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
2  223.496388  229.110949  ...    A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
3  223.590861  229.145362  ...    A1  FD507C4E-07C8-4DCC-9DCB-F3FB2C76AAB4.png
4  223.864134  229.322052  ...    A1  10D62DA7-31C9-483A-A627-9AD9F089ECD0.png

[5 rows x 16 columns]

#DD

##D3

In [ ]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [ ]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [ ]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [ ]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

In [ ]:
RGB_D3_CC1 = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D3_CC1 = table_D3CC1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D3_CC2 = table_D3CC2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D3_CC2 = table_D3CC2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

###RGB CC1

In [ ]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [ ]:
RGB_D3_Set4 = table_D3Set4

In [ ]:
RGB_D3_Set1 = table_D3Set1

In [ ]:
RGB_D3_Set2 = table_D3Set2

In [ ]:
RGB_D3_Set3 = table_D3Set3

In [ ]:
RGB_D3_concat = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [ ]:
RGB_D3_concat0 = pd.concat([RGB_D3_concat,RGB_D3_Set4])

In [ ]:
RGB_D3_concat1 = pd.concat([RGB_D3_concat0,RGB_D3_Set3])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [ ]:
RGB_D3_concat2 = RGB_D3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [ ]:
X_test_D3_RGB = np.array(RGB_D3_CC1)

In [ ]:
y_D3_RGB =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_test_D3_RGB = np.array(y_D3_RGB)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
X_train_D3_RGB = np.array(RGB_D3_concat2)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3RGB = RGB_D3_concat1.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_train_D3_RGB = np.array(y_train_D3RGB)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0775

###HSV CC1

In [ ]:
HSV_D3_concat2 = RGB_D3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_HSV = np.array(HSV_D3_CC1)

In [ ]:
y_D3_HSV =  table_D3CC1.iloc[:,14:15]

In [ ]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [ ]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [ ]:
y_train_D3HSV = RGB_D3_concat1.iloc[:,14:15]

In [ ]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [ ]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.10125

###RGB CC2

In [ ]:
RGB_D3_Set4 = table_D3Set4

In [ ]:
RGB_D3_Set1 = table_D3Set1

In [ ]:
RGB_D3_Set2 = table_D3Set2

In [ ]:
RGB_D3_Set3 = table_D3Set3

In [ ]:
RGB_D3_concat_2 = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [ ]:
RGB_D3_concat0_2 = pd.concat([RGB_D3_concat_2,RGB_D3_Set4])

In [ ]:
RGB_D3_concat1_2 = pd.concat([RGB_D3_concat0_2,RGB_D3_Set3])

In [ ]:
RGB_D3_concat2_2 = RGB_D3_concat1_2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB_2 = np.array(RGB_D3_CC2)

In [ ]:
y_D3_RGB_2 =  table_D3CC2.iloc[:,14:15]

In [ ]:
y_test_D3_RGB_2 = np.array(y_D3_RGB_2)

In [ ]:
X_train_D3_RGB_2 = np.array(RGB_D3_concat2_2)

In [ ]:
y_train_D3RGB_2 = RGB_D3_concat1_2.iloc[:,14:15]

In [ ]:
y_train_D3_RGB_2 = np.array(y_train_D3RGB_2)

In [ ]:
clf.fit(X_train_D3_RGB_2, y_train_D3_RGB_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_2 = clf.predict(X_test_D3_RGB_2)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

Accuracy: 0.08375

###HSV CC2

In [ ]:
HSV_D3_concat2_2 = RGB_D3_concat1_2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_HSV_2 = np.array(HSV_D3_CC2)

In [ ]:
y_D3_HSV_2 =  table_D3CC2.iloc[:,14:15]

In [ ]:
y_test_D3_HSV_2 = np.array(y_D3_RGB_2)

In [ ]:
X_train_D3_HSV_2 = np.array(HSV_D3_concat2_2)

In [ ]:
y_train_D3HSV_2 = RGB_D3_concat1.iloc[:,14:15]

In [ ]:
y_train_D3_HSV_2 = np.array(y_train_D3HSV_2)

In [ ]:
clf.fit(X_train_D3_HSV_2, y_train_D3_HSV_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_HSV_2 = clf.predict(X_test_D3_HSV_2)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

Accuracy: 0.07625

#D3 Set1 ref

##RGB

In [ ]:
RGB_D3_Set1_1 = table_D3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D3_concat0_3 = pd.concat([RGB_D3_Set2,RGB_D3_Set3])

In [ ]:
RGB_D3_concat1_3 = pd.concat([RGB_D3_concat0_3,RGB_D3_Set4])

In [ ]:
RGB_D3_concat2_3 = RGB_D3_concat1_3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB_3 = np.array(RGB_D3_Set1_1)

In [ ]:
y_D3_RGB_3 =  table_D3Set1.iloc[:,14:15]

In [ ]:
y_test_D3_RGB_3 = np.array(y_D3_RGB_3)

In [ ]:
X_train_D3_RGB_3 = np.array(RGB_D3_concat2_3)

In [ ]:
y_train_D3RGB_3 = RGB_D3_concat1_3.iloc[:,14:15]

In [ ]:
y_train_D3_RGB_3 = np.array(y_train_D3RGB_3)

In [ ]:
clf.fit(X_train_D3_RGB_3, y_train_D3_RGB_3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_3 = clf.predict(X_test_D3_RGB_3)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_3, y_pred_D3_RGB_3))

Accuracy: 1.0

#Accuracy

##RGB

In [ ]:
y_test_D3_RGB.shape

(800, 1)

In [ ]:
y_pred_D3_RGB.shape

(800,)

In [ ]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.0775

In [ ]:
y_test_D3_RGB_2.shape

(800, 1)

In [ ]:
y_pred_D3_RGB_2.shape

(800,)

In [ ]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.08375

##HSV

In [ ]:
y_test_D3_HSV.shape

(800, 1)

In [ ]:
y_pred_D3_HSV.shape

(800,)

In [ ]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.10125

In [ ]:
y_test_D3_HSV_2.shape

(800, 1)

In [ ]:
y_pred_D3_HSV_2.shape

(800,)

In [ ]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.07625

#Model

In [ ]:
clf

RandomForestClassifier()

In [ ]:
#save model
import pickle
with open('Model_D3.pkl', 'wb') as pickle_file :
       pickle.dump(clf, pickle_file )

In [ ]:
#load model
import pickle
with open('Model_D3.pkl', 'rb') as pickle_file :
      new_data = pickle.load(pickle_file )

In [ ]:
print(new_data)

RandomForestClassifier()

In [ ]:
from azure.storage.blob import BlockBlobService
import os
import cv2
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')
pic = ('D760B698-4146-47E4-98EF-45A3E1B99CC6.png')#A15
img  = cv2.imread(pic)

In [ ]:
img  = cv2.imread(pic)
img

array([[[ 85,  85,  91],
        [ 85,  85,  91],
        [ 80,  80,  86],
        ...,
        [100, 101, 105],
        [ 96,  97, 101],
        [101, 102, 106]],

       [[ 86,  86,  92],
        [ 87,  87,  93],
        [ 80,  80,  86],
        ...,
        [102, 103, 107],
        [109, 110, 114],
        [109, 110, 114]],

       [[103, 103, 109],
        [ 97,  97, 103],
        [ 88,  88,  94],
        ...,
        [106, 107, 111],
        [106, 107, 111],
        [103, 104, 108]],

       ...,

       [[ 67,  67,  73],
        [ 52,  52,  58],
        [ 63,  63,  69],
        ...,
        [ 24,  27,  32],
        [ 15,  18,  23],
        [ 16,  19,  24]],

       [[ 65,  65,  71],
        [ 63,  63,  69],
        [ 59,  59,  65],
        ...,
        [ 22,  25,  30],
        [ 23,  26,  31],
        [ 24,  27,  32]],

       [[ 58,  58,  64],
        [ 60,  60,  66],
        [ 55,  55,  61],
        ...,
        [ 24,  27,  32],
        [ 19,  22,  27],
        [ 23,  26,  31]]], dtype=uint8)

In [ ]:
list_total = list()
S1_double = pic
img00  = cv2.imread(S1_double)
S1RGB_imgA1A1_1= cv2.cvtColor(img00, cv2.COLOR_BGR2RGB)
S1meanrefA1_1 = list()
for i in range(S1RGB_imgA1A1_1.shape[0]): 
   for j in range(S1RGB_imgA1A1_1.shape[1]): 
              if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
              if 1770<i<1880 and 2015<j<2145 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j])
S1meanrefA1_1 = np.array(S1meanrefA1_1)
S1meanA1_2 = np.array(S1meanrefA1_1)
S1rgbrefA1_1 = list()
#S1rgbA1_2 = list()
for i in range(3):
  S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  S1rgbrefA1_1.append(S1meanA1_2[:,i].mean())
list_total.append(S1rgbrefA1_1)

In [ ]:
list_total

[[223.96687135167917,
  223.96687135167917,
  197.16113259040256,
  197.16113259040256,
  144.0643241604124,
  144.0643241604124]]

In [ ]:
X_test_D3_RGB_1 = np.array(list_total)
predic_model= new_data.predict(list_total)

In [ ]:
predic_model

array(['B1'], dtype=object)

In [ ]:
data = str(predic_model)
data

"['B1']"

In [ ]:
x = data.strip('[]')
x

"'B1'"

In [ ]:
x

"'B1'"

In [ ]:
data.tostr()

AttributeError: ignored

#ตาราง output

In [ ]:
import pandas as pd

In [ ]:
data1 = "B1"

In [ ]:
data1

'B1'

In [ ]:
df = pd.read_csv('OUTPUT.csv')

In [ ]:
df

   ชื่อเฉดไกด์  ... เทียบเท่าเฉดไกด์ 3D Master
0           A1  ...                    0M1 0M3
1           A2  ...                    0M2 1M2
2           A3  ...                    1M2 0M2
3         A3.5  ...                  2R1.5 2M2
4           A4  ...                 2M3 2R2.5
5           B1  ...                    0M1 0M3
6           B2  ...                    1M1 1M2
7           B3  ...                  2R2.5 2M2
8           B4  ...                    1M1 1M2
9           C1  ...                  2R2.5 2M2
10          C2  ...                  2R2.5 2M2
11          C3  ...                  2R1.5 2M2
12          C4  ...                3R2.5 3R1.5
13          D2  ...                    1M2 0M2
14          D3  ...                  1M1 2R1.5
15          D4  ...                  2R1.5 2M2

[16 rows x 5 columns]

In [ ]:
N = df[df['ชื่อเฉดไกด์']== x]
N

Empty DataFrame
Columns: [ชื่อเฉดไกด์, ค่าสี CIE l a b, โทนสี, ชื่อเฉดไกด์ที่ใกล้เคียง, เทียบเท่าเฉดไกด์ 3D Master]
Index: []

In [ ]:
N

Empty DataFrame
Columns: [ชื่อเฉดไกด์, ค่าสี CIE l a b, โทนสี, ชื่อเฉดไกด์ที่ใกล้เคียง, เทียบเท่าเฉดไกด์ 3D Master]
Index: []

In [ ]:
print("เฉดไกด์ที่จับคู่ได้ คือ", N['ชื่อเฉดไกด์'].values)

เฉดไกด์ที่จับคู่ได้ คือ ['B1']

In [ ]:
print("เฉดไกด์ที่จับคู่ได้ คือ", N['ชื่อเฉดไกด์'].values)
print("ค่าสี CIE l a b คือ",N['ค่าสี CIE l a b'].values)
print("อยู่ในโทนสี คือ", N['โทนสี'].values)
print("เฉดไกด์ที่จับคู่ได้ใกล้เคียง คือ", N['ชื่อเฉดไกด์ที่ใกล้เคียง'].values)
print("เทียบเท่าเฉดไกด์ 3D Master คือ", N['เทียบเท่าเฉดไกด์ 3D Master'].values)

เฉดไกด์ที่จับคู่ได้ คือ ['B1']
ค่าสี CIE l a b คือ ['(78.9,-1.76,12.33)']
อยู่ในโทนสี คือ ['Reddish-yellowish']
เฉดไกด์ที่จับคู่ได้ใกล้เคียง คือ ['A1 B2']
เทียบเท่าเฉดไกด์ 3D Master คือ ['0M1 0M3']