<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/Model_RF_D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [5]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx',
 'CheckerDD.xlsx',
 'Color-checkerDD.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting5.xlsx',
 'Setting6.xlsx',
 'Setting2.xlsx']

In [6]:
CC1 = os.path.join(path,'CheckerDD.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/CheckerDD.xlsx

In [7]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [8]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [9]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [10]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [11]:
import numpy as np

In [12]:
from sklearn import metrics

In [13]:
from sklearn import datasets

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
clf=RandomForestClassifier()

In [16]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3set5')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.533317  203.558640  ...    A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
1  224.624949  202.937586  ...    A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
2  225.539161  206.125964  ...    A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
3  224.508644  208.011363  ...    A1  9131592F-9798-4457-ACD3-8109CCA36224.png
4  225.235127  209.102021  ...    A1  653769F4-F724-4660-A3EE-76C3101A90E5.png

[5 rows x 16 columns]

In [17]:
table_D3CC2 = pd.read_excel(CC1 , sheet_name='D3set6')
table_D3CC2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.974434  221.510592  ...    A1  271DC401-D060-44CF-9035-B5163A38C82A.png
1  224.099505  229.098369  ...    A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
2  223.496388  229.110949  ...    A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
3  223.590861  229.145362  ...    A1  FD507C4E-07C8-4DCC-9DCB-F3FB2C76AAB4.png
4  223.864134  229.322052  ...    A1  10D62DA7-31C9-483A-A627-9AD9F089ECD0.png

[5 rows x 16 columns]

#DD

##D3

In [18]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [19]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [20]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [21]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

In [22]:
RGB_D3_CC1 = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [23]:
HSV_D3_CC1 = table_D3CC1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [24]:
RGB_D3_CC2 = table_D3CC2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [25]:
HSV_D3_CC2 = table_D3CC2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

###RGB CC1

In [26]:
#

In [27]:
RGB_D3_Set4 = table_D3Set4

In [28]:
RGB_D3_Set1 = table_D3Set1

In [29]:
RGB_D3_Set2 = table_D3Set2

In [30]:
RGB_D3_Set3 = table_D3Set3

In [31]:
RGB_D3_concat = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [32]:
RGB_D3_concat0 = pd.concat([RGB_D3_concat,RGB_D3_Set4])

In [33]:
RGB_D3_concat1 = pd.concat([RGB_D3_concat0,RGB_D3_Set3])
# setting  train

In [34]:
RGB_D3_concat2 = RGB_D3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
# RGB

In [35]:
X_test_D3_RGB = np.array(RGB_D3_CC1)

In [36]:
y_D3_RGB =  table_D3CC1.iloc[:,14:15]
# column shad

In [37]:
y_test_D3_RGB = np.array(y_D3_RGB)# array

In [38]:
X_train_D3_RGB = np.array(RGB_D3_concat2)# array

In [39]:
y_train_D3RGB = RGB_D3_concat1.iloc[:,14:15]# column shad

In [40]:
y_train_D3_RGB = np.array(y_train_D3RGB)# array

In [41]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB) # x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [42]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB) # random forest  X_test

In [43]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
# Accuracy  y_test  y_pred

Accuracy: 0.0775

###HSV CC1

In [44]:
HSV_D3_concat2 = RGB_D3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [45]:
X_test_D3_HSV = np.array(HSV_D3_CC1)

In [46]:
y_D3_HSV =  table_D3CC1.iloc[:,14:15]

In [47]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [48]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [49]:
y_train_D3HSV = RGB_D3_concat1.iloc[:,14:15]

In [50]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [51]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [52]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [53]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.10125

###RGB CC2

In [54]:
RGB_D3_Set4 = table_D3Set4

In [55]:
RGB_D3_Set1 = table_D3Set1

In [56]:
RGB_D3_Set2 = table_D3Set2

In [57]:
RGB_D3_Set3 = table_D3Set3

In [58]:
RGB_D3_concat_2 = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [59]:
RGB_D3_concat0_2 = pd.concat([RGB_D3_concat_2,RGB_D3_Set4])

In [60]:
RGB_D3_concat1_2 = pd.concat([RGB_D3_concat0_2,RGB_D3_Set3])

In [61]:
RGB_D3_concat2_2 = RGB_D3_concat1_2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [62]:
X_test_D3_RGB_2 = np.array(RGB_D3_CC2)

In [63]:
y_D3_RGB_2 =  table_D3CC2.iloc[:,14:15]

In [64]:
y_test_D3_RGB_2 = np.array(y_D3_RGB_2)

In [65]:
X_train_D3_RGB_2 = np.array(RGB_D3_concat2_2)

In [66]:
y_train_D3RGB_2 = RGB_D3_concat1_2.iloc[:,14:15]

In [67]:
y_train_D3_RGB_2 = np.array(y_train_D3RGB_2)

In [68]:
clf.fit(X_train_D3_RGB_2, y_train_D3_RGB_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [69]:
y_pred_D3_RGB_2 = clf.predict(X_test_D3_RGB_2)

In [70]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

Accuracy: 0.08375

###HSV CC2

In [71]:
HSV_D3_concat2_2 = RGB_D3_concat1_2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [72]:
X_test_D3_HSV_2 = np.array(HSV_D3_CC2)

In [73]:
y_D3_HSV_2 =  table_D3CC2.iloc[:,14:15]

In [74]:
y_test_D3_HSV_2 = np.array(y_D3_RGB_2)

In [75]:
X_train_D3_HSV_2 = np.array(HSV_D3_concat2_2)

In [76]:
y_train_D3HSV_2 = RGB_D3_concat1.iloc[:,14:15]

In [77]:
y_train_D3_HSV_2 = np.array(y_train_D3HSV_2)

In [78]:
clf.fit(X_train_D3_HSV_2, y_train_D3_HSV_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [79]:
y_pred_D3_HSV_2 = clf.predict(X_test_D3_HSV_2)

In [80]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

Accuracy: 0.07625

#D3 Set1 ref

##RGB

In [81]:
RGB_D3_Set1_1 = table_D3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [82]:
RGB_D3_concat0_3 = pd.concat([RGB_D3_Set2,RGB_D3_Set3])

In [83]:
RGB_D3_concat1_3 = pd.concat([RGB_D3_concat0_3,RGB_D3_Set4])

In [84]:
RGB_D3_concat2_3 = RGB_D3_concat1_3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [85]:
X_test_D3_RGB_3 = np.array(RGB_D3_Set1_1)

In [86]:
y_D3_RGB_3 =  table_D3Set1.iloc[:,14:15]

In [87]:
y_test_D3_RGB_3 = np.array(y_D3_RGB_3)

In [88]:
X_train_D3_RGB_3 = np.array(RGB_D3_concat2_3)

In [89]:
y_train_D3RGB_3 = RGB_D3_concat1_3.iloc[:,14:15]

In [90]:
y_train_D3_RGB_3 = np.array(y_train_D3RGB_3)

In [91]:
clf.fit(X_train_D3_RGB_3, y_train_D3_RGB_3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [92]:
y_pred_D3_RGB_3 = clf.predict(X_test_D3_RGB_3)

In [93]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_3, y_pred_D3_RGB_3))

Accuracy: 1.0

#Accuracy

##RGB

In [94]:
y_test_D3_RGB.shape

(800, 1)

In [95]:
y_pred_D3_RGB.shape

(800,)

In [96]:
print(" D3  Accuracy :", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

 D3  Accuracy : 0.0775

In [97]:
y_test_D3_RGB_2.shape

(800, 1)

In [98]:
y_pred_D3_RGB_2.shape

(800,)

In [99]:
print(" D3  Accuracy :", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

 D3  Accuracy : 0.08375

##HSV

In [100]:
y_test_D3_HSV.shape

(800, 1)

In [101]:
y_pred_D3_HSV.shape

(800,)

In [102]:
print(" D3  Accuracy :", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

 D3  Accuracy : 0.10125

In [103]:
y_test_D3_HSV_2.shape

(800, 1)

In [104]:
y_pred_D3_HSV_2.shape

(800,)

In [105]:
print(" D3  Accuracy :", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

 D3  Accuracy : 0.07625

#Model

In [109]:
clf

RandomForestClassifier()

In [113]:
#save model
import pickle
with open('Model_D3.pkl', 'wb') as pickle_file :
       pickle.dump(clf, pickle_file )

In [114]:
#load model
import pickle
with open('Model_D3.pkl', 'rb') as pickle_file :
      new_data = pickle.load(pickle_file )

In [115]:
print(new_data)

RandomForestClassifier()

In [117]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     || 88 kB 4.4 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     || 47 kB 5.4 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     || 3.6 MB 45.8 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [118]:
from azure.storage.blob import BlockBlobService
import os

In [121]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [124]:
blob_service_client.get_blob_to_path('shadeimg')
imgS1_A1A1_1  = cv2.imread(S1_double)

TypeError: ignored

TypeError: ignored

In [ ]:
 imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)