<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newA5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.6 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 2.8 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 23.6 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'Color-checkerAA1.xlsx')

In [170]:
A1_set1= pd.read_excel(AA, sheet_name='A4_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    AB1C9965-2E7E-4281-A494-A553E63C36A8.png  ...  Duration 1/100 ISO 630
1    6B0ED610-A7A7-4902-827F-1C42826C2306.png  ...  Duration 1/100 ISO 630
2    CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png  ...  Duration 1/100 ISO 630
3    C6577193-835E-4206-B7FE-A94E89B202FA.png  ...  Duration 1/100 ISO 630
4    A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  34E6B62F-835B-425C-9EB1-90662D01B559.png  ...  Duration 1/100 ISO 630
156  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png  ...  Duration 1/100 ISO 630
157  DF52D2B8-7022-4016-A838-91F9029AD855.png  ...  Duration 1/100 ISO 630
158  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png  ...  Duration 1/100 ISO 630
159  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [171]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [172]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [173]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [174]:
A1_set1

                                          Img  ...                หมายเหตุ
0    AB1C9965-2E7E-4281-A494-A553E63C36A8.png  ...  Duration 1/100 ISO 630
1    6B0ED610-A7A7-4902-827F-1C42826C2306.png  ...  Duration 1/100 ISO 630
2    CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png  ...  Duration 1/100 ISO 630
3    C6577193-835E-4206-B7FE-A94E89B202FA.png  ...  Duration 1/100 ISO 630
4    A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  34E6B62F-835B-425C-9EB1-90662D01B559.png  ...  Duration 1/100 ISO 630
156  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png  ...  Duration 1/100 ISO 630
157  DF52D2B8-7022-4016-A838-91F9029AD855.png  ...  Duration 1/100 ISO 630
158  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png  ...  Duration 1/100 ISO 630
159  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [175]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [176]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    A4   A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    A4   A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    A4   A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    A4   A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..   ..  ...                                       ...
155  A4   D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  A4   D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  A4   D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  A4   D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  A4   D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 3 columns]

In [177]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    A4   A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    A4   A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    A4   A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    A4   A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..   ..  ...                                       ...
155  A4   D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  A4   D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  A4   D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  A4   D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  A4   D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 3 columns]

In [178]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  AB1C9965-2E7E-4281-A494-A553E63C36A8.png  A4  ...    สีดำ  Duration 1/100 ISO 630
1  6B0ED610-A7A7-4902-827F-1C42826C2306.png  A4  ...    สีดำ  Duration 1/100 ISO 630
2  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png  A4  ...    สีดำ  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [179]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [180]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [181]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [182]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [183]:
list_total1

[[228.01623244866488, 209.01980358737114, 167.8660011362714],
 [230.360522684847, 211.4622189757325, 171.01306712117523],
 [229.40183426669913, 209.87939290641992, 168.84108432757083]]

In [184]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [185]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [186]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [187]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [188]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  19.315640  90.779726  225.454590  20.601899  63.860563  233.462787    Set1
1  19.208830  89.495658  226.659200  20.290642  61.163380  236.042286    Set1
2  19.016638  90.384141  226.348998  20.415145  63.040419  234.681925    Set1

In [189]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [190]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [191]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [192]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.760003  195.839461  143.769337  233.462787  215.081162  175.054703
1    225.810973  197.012093  145.555637  236.042123  217.893840  179.488353
2    225.700998  196.124990  144.728675  234.681925  216.282607  176.723480
3    224.995942  195.518708  143.551660  234.708059  216.283743  176.208506
4    226.279279  196.885642  145.237400  236.625436  218.214187  178.887753
..          ...         ...         ...         ...         ...         ...
155  223.313936  191.930363  134.160377  226.339826  200.894895  144.392014
156  229.998783  200.948300  146.406542  232.927684  210.133025  154.016801
157  222.009090  190.753591  133.800503  225.752293  199.998539  143.392419
158  222.912101  191.822336  134.402889  226.271407  201.685983  144.457349
159  228.643860  199.284311  144.846279  231.907637  208.495820  153.096421

[160 rows x 6 columns]

In [193]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [194]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set5'
t11

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.230501   92.025485  224.760003  ...  63.860563  233.462787     Set5
1    19.166383   90.782242  225.810973  ...  61.163380  236.042286     Set5
2    18.913968   91.587209  225.700998  ...  63.040419  234.681925     Set5
3    19.110462   92.413440  224.995942  ...  63.637042  234.708141     Set5
4    19.007305   91.411817  226.279279  ...  62.283175  236.625436     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.158916  101.853178  223.313936  ...  92.357439  226.339826     Set5
156  19.482266   92.839136  229.998783  ...  86.546871  232.927684     Set5
157  19.081568  101.370181  222.009090  ...  93.059979  225.752293     Set5
158  19.163704  101.311744  222.912101  ...  92.283337  226.271407     Set5
159  19.415307   93.579174  228.643860  ...  86.798799  231.907637     Set5

[160 rows x 7 columns]

In [195]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    224.760003  195.839461  ...    A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    225.810973  197.012093  ...    A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    225.700998  196.124990  ...    A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    224.995942  195.518708  ...    A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    226.279279  196.885642  ...    A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..          ...         ...  ...   ...                                       ...
155  223.313936  191.930363  ...    D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  229.998783  200.948300  ...    D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  222.009090  190.753591  ...    D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  222.912101  191.822336  ...    D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  228.643860  199.284311  ...    D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 16 columns]

#Datapoint 2

In [196]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [197]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [198]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.680302  195.716094  143.608879  233.351757  214.945540  174.878013
1    225.706355  196.859670  145.340476  235.947894  217.771691  179.317831
2    225.610259  195.973460  144.533723  234.572356  216.147066  176.547439
3    224.899521  195.368233  143.356789  234.595163  216.145362  176.021995
4    226.183021  196.730866  145.039201  236.544112  218.106404  178.742635
..          ...         ...         ...         ...         ...         ...
155  223.190812  191.783297  133.982875  226.221248  200.742553  144.230176
156  229.896599  200.784352  146.195763  232.849606  210.010957  153.882802
157  221.905040  190.625436  133.657658  225.643211  199.862430  143.258908
158  222.777697  191.663583  134.217352  226.152829  201.538025  144.301924
159  228.521143  199.101372  144.616833  231.841165  208.383897  152.961367

[160 rows x 6 columns]

In [199]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [200]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set5'
t22

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.224251   92.150556  224.680302  ...  63.958120  233.351757     Set5
1    19.158916   90.946758  225.706355  ...  61.267511  235.947894     Set5
2    18.900414   91.738252  225.610259  ...  63.139680  234.572356     Set5
3    19.100885   92.562536  224.899521  ...  63.745638  234.595163     Set5
4    18.997078   91.562130  226.183021  ...  62.371074  236.544112     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.154127  101.969402  223.190812  ...  92.453129  226.221248     Set5
156  19.466926   92.999757  229.896599  ...  86.636718  232.849606     Set5
157  19.075806  101.462706  221.905040  ...  93.132457  225.643211     Set5
158  19.158266  101.428212  222.777697  ...  92.372616  226.152829     Set5
159  19.401997   93.744339  228.521143  ...  86.899196  231.841165     Set5

[160 rows x 7 columns]

In [201]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    224.680302  195.716094  ...    A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    225.706355  196.859670  ...    A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    225.610259  195.973460  ...    A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    224.899521  195.368233  ...    A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    226.183021  196.730866  ...    A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..          ...         ...  ...   ...                                       ...
155  223.190812  191.783297  ...    D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  229.896599  200.784352  ...    D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  221.905040  190.625436  ...    D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  222.777697  191.663583  ...    D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  228.521143  199.101372  ...    D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 16 columns]

#Datapoint 3

In [202]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [203]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [204]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.810324  193.020615  140.148040  231.700430  213.038877  172.511160
1    223.701648  194.141222  141.674215  234.456132  215.930606  176.688012
2    224.059898  193.491275  141.409545  232.975408  214.246003  173.927847
3    222.920948  192.695642  139.933203  232.864134  214.161838  173.388037
4    224.382842  194.019235  141.710170  234.898953  216.190975  176.174093
..          ...         ...         ...         ...         ...         ...
155  220.851230  189.143251  131.255580  224.213376  198.500446  141.897411
156  227.688337  197.567649  142.181073  230.963883  207.311744  150.859589
157  219.906663  188.366366  131.302248  223.684847  197.731678  141.171820
158  220.382842  189.002516  131.517977  224.343803  199.467738  142.226848
159  226.570489  196.300463  141.181154  229.952764  205.579661  149.820875

[160 rows x 6 columns]

In [205]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [206]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set5'
t33

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.104537   94.732895  222.810324  ...  65.179450  231.700430     Set5
1    19.079701   93.652382  223.701648  ...  62.871520  234.456132     Set5
2    18.705462   94.143819  224.059898  ...  64.666180  232.975408     Set5
3    19.006331   95.036198  222.920948  ...  65.192679  232.864134     Set5
4    18.852285   94.022644  224.382842  ...  63.784190  234.898953     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.075806  103.476828  220.851230  ...  93.656521  224.213376     Set5
156  19.229121   95.918026  227.688337  ...  88.570895  230.963883     Set5
157  19.013067  102.784027  219.906663  ...  94.092119  223.684847     Set5
158  19.081406  102.837757  220.382842  ...  93.417742  224.343803     Set5
159  19.227092   96.215161  226.570489  ...  88.964776  229.952764     Set5

[160 rows x 7 columns]

In [207]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    222.810324  193.020615  ...    A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    223.701648  194.141222  ...    A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    224.059898  193.491275  ...    A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    222.920948  192.695642  ...    A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    224.382842  194.019235  ...    A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..          ...         ...  ...   ...                                       ...
155  220.851230  189.143251  ...    D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  227.688337  197.567649  ...    D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  219.906663  188.366366  ...    D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  220.382842  189.002516  ...    D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  226.570489  196.300463  ...    D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 16 columns]

#Datapoint 4

In [208]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [209]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [210]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.626004  190.182372  136.492655  229.748559  210.907800  170.097963
1    221.308498  191.146498  137.881990  232.192517  213.456862  173.487947
2    222.169061  190.921922  137.930038  231.045207  211.942050  171.138138
3    220.528853  189.691827  136.160458  230.605470  211.709845  170.372291
4    222.294213  191.228634  138.103157  232.601250  213.701323  173.181154
..          ...         ...         ...         ...         ...         ...
155  217.943836  186.110137  128.975002  221.739875  196.025323  139.558477
156  224.837026  194.022401  137.760734  228.539323  203.984092  147.173363
157  217.500609  185.744420  129.349809  221.167357  195.179937  138.926224
158  217.823716  186.347780  129.282526  221.910884  197.086762  140.175716
159  224.174986  193.087331  137.260612  227.546222  202.268241  146.135703

[160 rows x 6 columns]

In [211]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [212]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set5'
t44

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.033845   97.347131  220.626004  ...  66.231637  229.748559     Set5
1    19.023862   96.235533  221.308498  ...  64.488597  232.192517     Set5
2    18.646620   96.739713  222.169061  ...  66.119552  231.045207     Set5
3    18.943349   97.634770  220.528853  ...  66.623083  230.605470     Set5
4    18.794822   96.624381  222.294213  ...  65.139518  232.601250     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  18.970213  104.086194  217.943836  ...  94.544761  221.739875     Set5
156  19.112410   98.857560  224.837026  ...  90.858047  228.539323     Set5
157  18.895544  103.355896  217.500609  ...  94.847253  221.167357     Set5
158  19.036685  103.638666  217.823716  ...  93.989205  221.910884     Set5
159  19.067365   98.909585  224.174986  ...  91.276114  227.546222     Set5

[160 rows x 7 columns]

In [213]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    220.626004  190.182372  ...    A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    221.308498  191.146498  ...    A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    222.169061  190.921922  ...    A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    220.528853  189.691827  ...    A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    222.294213  191.228634  ...    A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..          ...         ...  ...   ...                                       ...
155  217.943836  186.110137  ...    D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  224.837026  194.022401  ...    D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  217.500609  185.744420  ...    D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  217.823716  186.347780  ...    D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  224.174986  193.087331  ...    D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 16 columns]

#Datapoint 5

In [214]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [215]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [216]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    218.584206  187.634283  133.441766  228.100560  209.099018  168.142846
1    219.070773  188.578687  135.010064  230.397776  211.478857  171.248519
2    220.433650  188.762844  135.268404  229.434218  209.982225  169.157698
3    218.480967  187.245922  133.235452  228.539485  209.534859  167.940914
4    220.438033  188.909748  135.316695  230.548332  211.489165  170.914780
..          ...         ...         ...         ...         ...         ...
155  215.054541  183.306144  127.338284  218.903498  193.499878  137.916646
156  222.055758  191.028001  134.376674  226.372778  201.137083  144.423180
157  214.896031  183.230338  128.273192  218.219950  192.575765  137.369613
158  215.227904  183.923626  127.733626  219.112410  194.561399  138.625680
159  221.942699  190.563266  134.520737  225.355491  199.631199  143.475367

[160 rows x 6 columns]

In [217]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [218]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set5'
t55

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    18.964370   99.399075  218.584206  ...  67.060547  228.100560     Set5
1    18.959013   97.943105  219.070773  ...  65.460515  230.397776     Set5
2    18.595812   98.556367  220.433650  ...  66.982875  229.434218     Set5
3    18.900089   99.536482  218.480967  ...  67.623651  228.539485     Set5
4    18.750832   98.487136  220.438033  ...  65.946920  230.548332     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  18.855207  103.955361  215.054541  ...  94.348511  218.903498     Set5
156  19.085545  100.732733  222.055758  ...  92.375294  226.372778     Set5
157  18.766659  102.755864  214.896031  ...  94.474880  218.219950     Set5
158  19.013148  103.628520  215.227904  ...  93.693856  219.112410     Set5
159  18.987988  100.457999  221.942699  ...  92.683224  225.355491     Set5

[160 rows x 7 columns]

In [219]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    218.584206  187.634283  ...    A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    219.070773  188.578687  ...    A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    220.433650  188.762844  ...    A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    218.480967  187.245922  ...    A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    220.438033  188.909748  ...    A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..          ...         ...  ...   ...                                       ...
155  215.054541  183.306144  ...    D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  222.055758  191.028001  ...    D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  214.896031  183.230338  ...    D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  215.227904  183.923626  ...    D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  221.942699  190.563266  ...    D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[160 rows x 16 columns]

In [220]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    224.760003  195.839461  ...    A1  AB1C9965-2E7E-4281-A494-A553E63C36A8.png
1    225.810973  197.012093  ...    A1  6B0ED610-A7A7-4902-827F-1C42826C2306.png
2    225.700998  196.124990  ...    A1  CA42A1DC-A0F0-4E31-958E-6D2A78A65401.png
3    224.995942  195.518708  ...    A1  C6577193-835E-4206-B7FE-A94E89B202FA.png
4    226.279279  196.885642  ...    A1  A2C42F36-55F3-42AF-BA42-A3EFA37FCA7D.png
..          ...         ...  ...   ...                                       ...
155  215.054541  183.306144  ...    D4  34E6B62F-835B-425C-9EB1-90662D01B559.png
156  222.055758  191.028001  ...    D4  BC34099E-9C6D-4580-A2FF-2ABC1495B5CE.png
157  214.896031  183.230338  ...    D4  DF52D2B8-7022-4016-A838-91F9029AD855.png
158  215.227904  183.923626  ...    D4  A2147EF1-E597-4E4D-8CD7-5CDDB887EC70.png
159  221.942699  190.563266  ...    D4  EC099712-4BF2-4E7D-BB72-892C11DA27AA.png

[800 rows x 16 columns]

In [221]:
st1.to_csv('A4_5.csv', index=False)