<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 5.8 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.8 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 28.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'AA1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='A4Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png  ...  Duration 1/100 ISO 630
1    9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png  ...  Duration 1/100 ISO 630
2    29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png  ...  Duration 1/100 ISO 630
3    7747C1F9-E3F2-4D88-974B-850F771E6B3B.png  ...  Duration 1/100 ISO 630
4    31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  BDED8773-F06E-424C-A0EC-6E37A368D376.png  ...  Duration 1/100 ISO 630
156  EF7B897A-747A-40A5-9911-2C710447835C.png  ...  Duration 1/100 ISO 630
157  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png  ...  Duration 1/100 ISO 630
158  2D96B485-9E93-4932-9EB2-A18652E9293A.png  ...  Duration 1/100 ISO 630
159  09465AD5-3439-42E1-9488-B35F8F1D171A.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png  ...  Duration 1/100 ISO 630
1    9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png  ...  Duration 1/100 ISO 630
2    29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png  ...  Duration 1/100 ISO 630
3    7747C1F9-E3F2-4D88-974B-850F771E6B3B.png  ...  Duration 1/100 ISO 630
4    31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  BDED8773-F06E-424C-A0EC-6E37A368D376.png  ...  Duration 1/100 ISO 630
156  EF7B897A-747A-40A5-9911-2C710447835C.png  ...  Duration 1/100 ISO 630
157  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png  ...  Duration 1/100 ISO 630
158  2D96B485-9E93-4932-9EB2-A18652E9293A.png  ...  Duration 1/100 ISO 630
159  09465AD5-3439-42E1-9488-B35F8F1D171A.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    A4   A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    A4   A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    A4   A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    A4   A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..   ..  ...                                       ...
155  A4   D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  A4   D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  A4   D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  A4   D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  A4   D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    A4   A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    A4   A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    A4   A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    A4   A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..   ..  ...                                       ...
155  A4   D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  A4   D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  A4   D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  A4   D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  A4   D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png  A4  ...    สีดำ  Duration 1/100 ISO 630
1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png  A4  ...    สีดำ  Duration 1/100 ISO 630
2  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png  A4  ...    สีดำ  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[222.57511565619674, 204.21507994480967, 162.77396315234154],
 [231.13951789627464, 210.9340962584206, 166.7336255174093],
 [225.1822092362633, 204.8679490301112, 161.60952844736627]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref       S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  19.376025  102.674296  217.856424  21.258096  67.239185  229.435598    Set1
1  19.542245   97.956659  224.975002  20.960717  66.531288  237.073290    Set1
2  19.387144  105.196575  219.663826  20.324568  69.952358  233.201850    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    216.645078  185.742553  128.334470  229.435598  211.204123  168.973460
1    224.198361  193.866813  137.009821  237.073290  218.199253  175.309147
2    218.432595  186.328626  127.109407  233.201850  212.871926  169.258177
3    219.579093  187.970700  128.021751  234.008684  214.499635  170.544112
4    219.786056  187.681357  128.328951  233.488191  213.398669  168.988150
..          ...         ...         ...         ...         ...         ...
155  222.911695  191.044315  131.216216  227.434056  202.415226  145.252577
156  228.826962  198.637529  141.588426  233.973216  210.802208  153.685983
157  222.613100  190.745962  130.886779  227.549793  202.693613  144.659606
158  225.359873  194.420664  137.917783  229.866245  205.785164  149.819252
159  226.211833  195.125315  138.381868  229.610097  205.882477  149.309390

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.285691  103.952520  216.645078  ...  67.239185  229.435598     Set1
1    19.535752   99.375457  224.198442  ...  66.531288  237.073290     Set1
2    19.310608  106.613587  218.432595  ...  69.952358  233.201850     Set1
3    19.700592  106.332035  219.579093  ...  69.195844  234.008684     Set1
4    19.318968  106.113384  219.786056  ...  70.478857  233.488191     Set1
..         ...         ...         ...  ...        ...         ...      ...
155  19.511566  104.913968  222.911695  ...  92.213781  227.434056     Set1
156  19.604091   97.401915  228.826962  ...  87.666017  233.974921     Set1
157  19.499959  105.079296  222.613100  ...  92.928253  227.549793     Set1
158  19.355085   99.093093  225.362958  ...  88.943917  229.872169     Set1
159  19.354192   99.156968  226.213944  ...  89.310364  229.611639     Set1

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    216.645078  185.742553  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    224.198361  193.866813  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    218.432595  186.328626  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    219.579093  187.970700  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    219.786056  187.681357  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..          ...         ...  ...   ...                                       ...
155  222.911695  191.044315  ...    D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  228.826962  198.637529  ...    D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  222.613100  190.745962  ...    D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  225.359873  194.420664  ...    D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  226.211833  195.125315  ...    D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    216.553770  185.629657  128.207857  229.315396  211.062738  168.811460
1    224.083841  193.702865  136.783134  236.981495  218.080919  175.166139
2    218.337635  186.218326  126.978249  233.090821  212.732002  169.088305
3    219.490869  187.859427  127.887022  233.902281  214.386495  170.401510
4    219.681763  187.562130  128.190488  233.386738  213.270108  168.828423
..          ...         ...         ...         ...         ...         ...
155  222.820550  190.939128  131.097395  227.349241  202.303384  145.143901
156  228.705787  198.449314  141.330493  233.858372  210.625193  153.451749
157  222.523009  190.637529  130.787436  227.461164  202.582907  144.561075
158  225.231312  194.245759  137.669183  229.747098  205.602711  149.580797
159  226.093580  194.935638  138.108189  229.538998  205.766090  149.164191

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.281471  104.037091  216.553770  ...  67.316695  229.315396     Set1
1    19.530558   99.551092  224.083922  ...  66.610178  236.981495     Set1
2    19.309309  106.700430  218.337635  ...  70.048210  233.090821     Set1
3    19.696859  106.426832  219.490869  ...  69.264751  233.902281     Set1
4    19.315234  106.202175  219.681763  ...  70.570733  233.386738     Set1
..         ...         ...         ...  ...        ...         ...      ...
155  19.507508  104.987582  222.820550  ...  92.275059  227.349241     Set1
156  19.596542   97.599627  228.705787  ...  87.832400  233.859184     Set1
157  19.493223  105.130996  222.523009  ...  92.974840  227.461164     Set1
158  19.351838   99.279198  225.234397  ...  89.112653  229.752699     Set1
159  19.344047   99.375457  226.095203  ...  89.417661  229.540054     Set1

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    216.553770  185.629657  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    224.083841  193.702865  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    218.337635  186.218326  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    219.490869  187.859427  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    219.681763  187.562130  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..          ...         ...  ...   ...                                       ...
155  222.820550  190.939128  ...    D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  228.705787  198.449314  ...    D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  222.523009  190.637529  ...    D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  225.231312  194.245759  ...    D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  226.093580  194.935638  ...    D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    214.512377  183.344047  126.052674  227.657252  209.235695  167.082623
1    221.783378  190.543706  132.340963  235.091794  215.701729  172.392582
2    216.388686  184.054541  124.699213  231.248519  210.567162  166.856424
3    217.667154  185.866082  125.762438  232.149420  212.511241  168.261018
4    217.724535  185.435922  126.026215  231.731921  211.304927  166.621540
..          ...         ...         ...         ...         ...         ...
155  220.901469  188.795552  128.976301  225.549793  200.475773  143.442010
156  226.524146  195.202094  136.736872  231.972405  207.935233  150.132213
157  220.565944  188.523740  128.826313  225.584612  200.545491  142.719016
158  223.087249  191.358981  133.615859  228.171820  203.171171  146.551497
159  224.123367  192.192598  133.901794  228.084733  203.452480  146.322052

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.202906  105.157211  214.512377  ...  67.870790  227.657252     Set1
1    19.479344  102.962260  221.783378  ...  68.069962  235.091794     Set1
2    19.292996  108.023537  216.388686  ...  71.038633  231.248519     Set1
3    19.651814  107.636637  217.667154  ...  70.201932  232.149420     Set1
4    19.256473  107.377404  217.724535  ...  71.653600  231.731921     Set1
..         ...         ...         ...  ...        ...         ...      ...
155  19.415226  106.099748  220.901469  ...  92.884750  225.549793     Set1
156  19.474231  101.165652  226.524146  ...  90.060222  231.972405     Set1
157  19.407191  106.050564  220.565944  ...  93.691989  225.584612     Set1
158  19.280253  102.319779  223.087412  ...  91.263696  228.171820     Set1
159  19.362714  102.725509  224.123367  ...  91.462057  228.084815     Set1

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    214.512377  183.344047  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    221.783378  190.543706  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    216.388686  184.054541  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    217.667154  185.866082  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    217.724535  185.435922  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..          ...         ...  ...   ...                                       ...
155  220.901469  188.795552  ...    D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  226.524146  195.202094  ...    D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  220.565944  188.523740  ...    D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  223.087249  191.358981  ...    D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  224.123367  192.192598  ...    D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    211.963315  180.722506  123.997890  225.602224  207.136353  165.244136
1    219.386982  187.379433  128.357763  233.221492  213.473825  169.682250
2    213.943511  181.471390  122.619349  228.693126  208.149014  164.625193
3    215.442821  183.559127  123.955767  229.857236  210.493223  166.110137
4    215.232368  182.924194  123.835890  229.691746  209.258096  164.775181
..          ...         ...         ...         ...         ...         ...
155  218.580472  186.464410  127.199984  223.162162  198.201769  141.569921
156  224.238130  192.217109  132.731272  229.738982  205.130509  147.111436
157  218.201364  186.157292  126.977437  223.225793  198.104780  140.870059
158  220.905852  188.572518  130.064443  226.075075  200.269946  143.545573
159  221.928821  189.376836  129.973866  226.102751  200.644672  143.185293

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.128074  105.813814  211.963315  ...  68.256797  225.602224     Set1
1    19.342992  105.846847  219.386982  ...  69.497119  233.221492     Set1
2    19.234721  108.818521  213.943511  ...  71.466439  228.693126     Set1
3    19.537619  108.262154  215.442821  ...  70.766983  229.857236     Set1
4    19.234072  108.258502  215.232368  ...  72.076293  229.691746     Set1
..         ...         ...         ...  ...        ...         ...      ...
155  19.344696  106.582177  218.580472  ...  93.283987  223.162162     Set1
156  19.425047  104.079296  224.238130  ...  91.774125  229.738982     Set1
157  19.330330  106.581527  218.201364  ...  94.085707  223.225793     Set1
158  19.152585  104.834510  220.905852  ...  93.088873  226.075075     Set1
159  19.370100  105.682737  221.928821  ...  93.520737  226.102751     Set1

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    211.963315  180.722506  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    219.386982  187.379433  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    213.943511  181.471390  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    215.442821  183.559127  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    215.232368  182.924194  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..          ...         ...  ...   ...                                       ...
155  218.580472  186.464410  ...    D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  224.238130  192.217109  ...    D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  218.201364  186.157292  ...    D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  220.905852  188.572518  ...    D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  221.928821  189.376836  ...    D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    209.243974  178.262885  122.711387  222.965668  204.657576  163.479912
1    217.295025  184.933690  125.547196  231.199253  211.169791  167.152260
2    211.331142  178.967860  121.454914  225.492087  205.277331  162.284961
3    213.066959  181.303141  123.062414  227.123691  208.043422  164.021183
4    212.533236  180.431134  122.595406  226.914942  206.831994  163.076861
..          ...         ...         ...         ...         ...         ...
155  216.104293  184.395909  126.455077  220.367584  195.780456  140.228147
156  222.305576  190.013879  130.306063  227.744582  202.930119  145.217596
157  215.907962  184.237562  126.248356  220.515948  195.734275  139.782242
158  218.888645  186.522036  127.865676  224.159484  198.119958  141.458810
159  220.072640  187.380732  127.610015  224.384953  198.489084  141.004789

[160 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.080188  105.431783  209.243974  ...  68.056408  222.965668     Set1
1    19.275952  107.647837  217.295025  ...  70.649217  231.199253     Set1
2    19.068420  108.394530  211.331142  ...  71.489976  225.492087     Set1
3    19.354192  107.675108  213.066959  ...  70.905689  227.123691     Set1
4    19.118497  107.857723  212.533236  ...  71.737521  226.914942     Set1
..         ...         ...         ...  ...        ...         ...      ...
155  19.292833  105.736791  216.104293  ...  92.741661  220.367584     Set1
156  19.402646  105.526581  222.305576  ...  92.448908  227.744582     Set1
157  19.300219  105.828423  215.907962  ...  93.332197  220.515948     Set1
158  19.146498  105.992127  218.888645  ...  94.077429  224.159484     Set1
159  19.391608  107.132781  220.072640  ...  94.745719  224.384953     Set1

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    209.243974  178.262885  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    217.295025  184.933690  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    211.331142  178.967860  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    213.066959  181.303141  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    212.533236  180.431134  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..          ...         ...  ...   ...                                       ...
155  216.104293  184.395909  ...    D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  222.305576  190.013879  ...    D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  215.907962  184.237562  ...    D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  218.888645  186.522036  ...    D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  220.072640  187.380732  ...    D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    216.645078  185.742553  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1    224.198361  193.866813  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2    218.432595  186.328626  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3    219.579093  187.970700  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4    219.786056  187.681357  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png
..          ...         ...  ...   ...                                       ...
155  216.104293  184.395909  ...    D4  BDED8773-F06E-424C-A0EC-6E37A368D376.png
156  222.305576  190.013879  ...    D4  EF7B897A-747A-40A5-9911-2C710447835C.png
157  215.907962  184.237562  ...    D4  CAB11A83-6E4D-4D34-AB03-07AA48EA1B91.png
158  218.888645  186.522036  ...    D4  2D96B485-9E93-4932-9EB2-A18652E9293A.png
159  220.072640  187.380732  ...    D4  09465AD5-3439-42E1-9488-B35F8F1D171A.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('A4_2.csv', index=False)