<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newA6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.4 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.9 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 39.7 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'Color-checkerAA1.xlsx')

In [231]:
A1_set1= pd.read_excel(AA, sheet_name='A4_2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png  ...  Duration 1/145 ISO 145
1    1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png  ...  Duration 1/145 ISO 145
2    5F82050C-E574-46EA-BD33-2A868C1CC1D4.png  ...  Duration 1/145 ISO 145
3    AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png  ...  Duration 1/145 ISO 145
4    E85068C9-3202-4A67-A503-38637B247DBD.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png  ...  Duration 1/145 ISO 145
156  594607B5-DB19-4E4D-882E-13DB81A1A31D.png  ...  Duration 1/145 ISO 145
157  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png  ...  Duration 1/145 ISO 145
158  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png  ...  Duration 1/145 ISO 145
159  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [232]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [233]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [234]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [235]:
A1_set1

                                          Img  ...                หมายเหตุ
0    3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png  ...  Duration 1/145 ISO 145
1    1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png  ...  Duration 1/145 ISO 145
2    5F82050C-E574-46EA-BD33-2A868C1CC1D4.png  ...  Duration 1/145 ISO 145
3    AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png  ...  Duration 1/145 ISO 145
4    E85068C9-3202-4A67-A503-38637B247DBD.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png  ...  Duration 1/145 ISO 145
156  594607B5-DB19-4E4D-882E-13DB81A1A31D.png  ...  Duration 1/145 ISO 145
157  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png  ...  Duration 1/145 ISO 145
158  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png  ...  Duration 1/145 ISO 145
159  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [229]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [237]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    A4   A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    A4   A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    A4   A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    A4   A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..   ..  ...                                       ...
155  A4   D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  A4   D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  A4   D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  A4   D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  A4   D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 3 columns]

In [238]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    A4   A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    A4   A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    A4   A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    A4   A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..   ..  ...                                       ...
155  A4   D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  A4   D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  A4   D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  A4   D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  A4   D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 3 columns]

In [239]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png  A4  ...    สีดำ  Duration 1/145 ISO 145
1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png  A4  ...    สีดำ  Duration 1/145 ISO 145
2  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png  A4  ...    สีดำ  Duration 1/145 ISO 145

[3 rows x 7 columns]

In [240]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [241]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [242]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [243]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [244]:
list_total1

[[226.09252495738983, 227.34834834834834, 206.07856505153802],
 [225.70822173524877, 226.6833860887915, 205.87809431052673],
 [226.11857803749695, 226.51513675838, 206.56521386251117]]

In [245]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [246]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [247]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [248]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [249]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  29.248438  52.914293  231.139356  33.028326  22.511160  231.337148    Set1
1  29.150312  52.602792  230.923545  32.531532  22.471877  230.569191    Set1
2  29.723399  52.052593  231.327977  31.429429  21.948705  230.669589    Set1

In [250]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [251]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [252]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [253]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    230.124746  224.387550  181.079052  229.778265  231.159971  210.933528
1    229.836377  223.713091  181.041636  229.165652  230.336823  210.268079
2    230.160052  224.022969  181.927847  229.788816  230.189027  210.828098
3    230.042691  223.998539  181.667316  229.320104  230.653437  210.828748
4    230.218489  224.247626  181.802045  229.080919  230.681601  210.577956
..          ...         ...         ...         ...         ...         ...
155  225.147472  218.776966  174.881422  220.712686  218.385277  178.193328
156  234.151124  229.719747  195.961610  228.121013  227.586965  194.763493
157  225.356221  219.222628  175.387306  220.801477  218.768850  179.054298
158  225.070124  218.655060  174.911858  220.337229  218.189514  178.359468
159  225.507913  219.288613  175.745069  220.885724  218.890025  179.256797

[160 rows x 6 columns]

In [254]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [255]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set6'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.999026  55.055271  230.209886  33.028326  22.511160  231.337148    Set6
1    28.656116  54.900576  229.925980  32.531532  22.471877  230.569191    Set6
2    29.214268  54.255255  230.280091  31.429429  21.948705  230.669589    Set6
3    28.765603  54.359792  230.125315  32.885886  22.097557  230.800747    Set6
4    29.373427  54.389092  230.318805  33.072397  22.317182  230.760166    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.386008  57.046668  225.147472  28.608392  49.173119  220.714228    Set6
156  31.437627  42.601575  234.475773  31.013716  37.911127  228.425452    Set6
157  26.519682  56.657090  225.356221  28.909666  48.289181  220.803912    Set6
158  26.344696  56.932554  225.070124  28.819008  48.633065  220.340719    Set6
159  26.445094  56.364337  225.507913  28.957227  48.128318  220.890593    Set6

[160 rows x 7 columns]

In [256]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    230.124746  224.387550  ...    A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    229.836377  223.713091  ...    A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    230.160052  224.022969  ...    A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    230.042691  223.998539  ...    A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    230.218489  224.247626  ...    A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..          ...         ...  ...   ...                                       ...
155  225.147472  218.776966  ...    D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  234.151124  229.719747  ...    D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  225.356221  219.222628  ...    D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  225.070124  218.655060  ...    D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  225.507913  219.288613  ...    D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 16 columns]

#Datapoint 2

In [257]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [258]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [259]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    230.047805  224.292752  180.841977  229.690041  231.071179  210.809756
1    229.750507  223.603360  180.781024  229.076698  230.239510  210.134973
2    230.068420  223.908043  181.662527  229.700268  230.088873  210.702946
3    229.957065  223.890269  181.399724  229.230582  230.557260  210.700511
4    230.118740  224.127587  181.518059  228.991884  230.590942  210.454509
..          ...         ...         ...         ...         ...         ...
155  225.077672  218.695885  174.757568  220.636555  218.298271  178.037416
156  234.051295  229.601006  195.711631  228.061196  227.512945  194.642643
157  225.285204  219.150556  175.274491  220.724292  218.682493  178.898141
158  225.005032  218.579174  174.790277  220.261099  218.104375  178.216135
159  225.440711  219.216541  175.628115  220.803993  218.801071  179.090658

[160 rows x 6 columns]

In [260]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [261]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set6'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.996672  55.247464  230.132619  32.999270  22.554582  231.249006    Set6
1    28.641912  55.108270  229.838649  32.505154  22.520980  230.475530    Set6
2    29.185618  54.461083  230.187160  31.384547  21.985553  230.573492    Set6
3    28.756432  54.574872  230.039039  32.845224  22.139680  230.707004    Set6
4    29.361578  54.610097  230.218732  33.061196  22.359955  230.671049    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.382112  57.125071  225.077672  28.602062  49.278792  220.637448    Set6
156  31.342180  42.767146  234.369775  31.003652  37.984011  228.361253    Set6
157  26.522441  56.720802  225.285204  28.905527  48.393069  220.725672    Set6
158  26.341693  57.012255  225.005032  28.814057  48.723480  220.262966    Set6
159  26.445743  56.436004  225.440711  28.953332  48.237318  220.806022    Set6

[160 rows x 7 columns]

In [262]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    230.047805  224.292752  ...    A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    229.750507  223.603360  ...    A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    230.068420  223.908043  ...    A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    229.957065  223.890269  ...    A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    230.118740  224.127587  ...    A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..          ...         ...  ...   ...                                       ...
155  225.077672  218.695885  ...    D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  234.051295  229.601006  ...    D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  225.285204  219.150556  ...    D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  225.005032  218.579174  ...    D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  225.440711  219.216541  ...    D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 16 columns]

#Datapoint 3

In [263]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [264]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [265]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.761383  221.456456  174.296242  228.149501  229.534129  208.663583
1    227.583800  220.876471  174.423667  227.691502  228.711387  208.143008
2    228.034575  221.327895  175.544599  228.121338  228.437951  208.765603
3    227.914780  221.342829  175.280659  227.725834  228.953738  208.636961
4    228.112572  221.671780  175.581122  227.484863  229.063144  208.483646
..          ...         ...         ...         ...         ...         ...
155  223.815356  217.313367  173.160133  219.282039  216.901226  176.239753
156  232.323350  227.623245  191.263128  226.431540  225.551173  190.969483
157  223.953494  217.725266  173.697103  219.443146  217.305657  177.039445
158  223.657576  217.202094  173.157536  218.915591  216.740605  176.410275
159  224.193978  217.864703  174.078159  219.462787  217.454996  177.264264

[160 rows x 6 columns]

In [266]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [267]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set6'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.607094  60.217839  227.794416  32.616427  23.338447  229.721776    Set6
1    27.667478  60.013554  227.625112  32.071585  23.204935  229.004789    Set6
2    28.071747  59.213457  228.103320  30.996267  22.430160  228.939534    Set6
3    27.954062  59.372535  227.964532  32.321402  22.795228  229.141628    Set6
4    28.625193  59.240321  228.181966  32.694018  22.959094  229.152666    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.317344  57.816086  223.815356  28.583800  50.074913  219.282039    Set6
156  30.350540  45.920542  232.590050  30.215567  40.336742  226.612207    Set6
157  26.470335  57.318643  223.953494  28.861213  49.320185  219.443146    Set6
158  26.339177  57.665774  223.657576  28.824365  49.530152  218.916241    Set6
159  26.390066  57.074588  224.193978  28.979060  49.076455  219.462787    Set6

[160 rows x 7 columns]

In [268]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    227.761383  221.456456  ...    A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    227.583800  220.876471  ...    A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    228.034575  221.327895  ...    A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    227.914780  221.342829  ...    A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    228.112572  221.671780  ...    A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..          ...         ...  ...   ...                                       ...
155  223.815356  217.313367  ...    D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  232.323350  227.623245  ...    D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  223.953494  217.725266  ...    D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  223.657576  217.202094  ...    D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  224.193978  217.864703  ...    D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 16 columns]

#Datapoint 4

In [269]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [270]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [271]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.631442  218.909423  168.607581  226.326110  227.730217  206.299245
1    225.168817  217.932635  168.018262  226.014122  227.014447  206.036604
2    225.500852  218.302329  168.744258  226.447285  226.791981  206.763169
3    225.336580  218.276682  168.470011  225.993507  227.186105  206.606038
4    225.492736  218.531369  168.541271  225.833212  227.407759  206.559533
..          ...         ...         ...         ...         ...         ...
155  222.212726  215.791575  172.218813  217.755702  215.394124  175.092119
156  229.987582  224.682493  184.498498  224.710575  223.414901  186.961691
157  222.376430  216.139031  172.876633  217.880367  215.781674  175.891243
158  222.044477  215.653356  172.236182  217.365798  215.273841  175.144956
159  222.607581  216.245272  173.130834  217.960636  215.925331  176.153153

[160 rows x 6 columns]

In [272]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [273]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set6'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.566837  64.467981  225.631442  32.205909  24.103157  227.924681    Set6
1    26.321889  64.769580  225.168817  31.684928  23.811135  227.324649    Set6
2    26.252902  64.216216  225.500852  30.755620  22.966399  227.290642    Set6
3    26.352082  64.389498  225.336580  31.967129  23.233179  227.382842    Set6
4    26.479669  64.415145  225.492736  32.475286  23.389660  227.498012    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.329843  57.432595  222.212726  28.574629  49.953900  217.755702    Set6
156  27.177583  50.635825  230.014934  29.553283  43.029300  224.764061    Set6
157  26.417986  56.811622  222.376430  28.857966  49.156481  217.880367    Set6
158  26.342748  57.250548  222.044477  28.861294  49.524227  217.368395    Set6
159  26.325055  56.718448  222.607581  28.929145  48.927603  217.960636    Set6

[160 rows x 7 columns]

In [274]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    225.631442  218.909423  ...    A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    225.168817  217.932635  ...    A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    225.500852  218.302329  ...    A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    225.336580  218.276682  ...    A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    225.492736  218.531369  ...    A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..          ...         ...  ...   ...                                       ...
155  222.212726  215.791575  ...    D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  229.987582  224.682493  ...    D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  222.376430  216.139031  ...    D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  222.044477  215.653356  ...    D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  222.607581  216.245272  ...    D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 16 columns]

#Datapoint 5

In [275]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [276]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [277]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.222709  217.520250  166.961691  224.820063  226.243406  204.877851
1    223.725266  216.377404  166.161432  224.480643  225.525769  204.630387
2    224.076779  216.782891  166.917458  224.929795  225.338934  205.298190
3    223.882396  216.867949  166.629413  224.467738  225.708790  205.160945
4    223.951221  217.019317  166.700187  224.385034  225.955685  205.126775
..          ...         ...         ...         ...         ...         ...
155  220.281146  213.975976  172.240727  215.851230  213.715202  175.009334
156  228.093661  222.632254  180.827043  222.956416  221.327733  183.689798
157  220.528934  214.352244  172.930525  215.959744  214.070773  175.651165
158  220.152342  213.870871  172.322295  215.421638  213.559533  174.997078
159  220.750426  214.478533  173.292915  216.070611  214.262398  175.931418

[160 rows x 6 columns]

In [278]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [279]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set6'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.576333  65.139193  224.222709  32.236507  24.177015  226.427482    Set6
1    26.278468  65.641669  223.725266  31.743040  23.861537  225.815843    Set6
2    26.207207  65.058924  224.076779  30.848714  23.104456  225.810486    Set6
3    26.411411  65.234153  223.882396  32.040906  23.314504  225.881665    Set6
4    26.513595  65.190812  223.951221  32.469361  23.511079  226.043665    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.234640  55.616021  220.281146  28.652869  48.206639  215.858453    Set6
156  26.777697  52.916728  228.093661  29.154046  44.985310  222.956741    Set6
157  26.297297  55.033439  220.528934  28.909829  47.583638  215.967697    Set6
158  26.253307  55.396559  220.152342  28.923302  47.817466  215.437383    Set6
159  26.214349  54.806590  220.750426  29.000974  47.369288  216.086600    Set6

[160 rows x 7 columns]

In [280]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    224.222709  217.520250  ...    A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    223.725266  216.377404  ...    A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    224.076779  216.782891  ...    A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    223.882396  216.867949  ...    A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    223.951221  217.019317  ...    A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..          ...         ...  ...   ...                                       ...
155  220.281146  213.975976  ...    D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  228.093661  222.632254  ...    D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  220.528934  214.352244  ...    D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  220.152342  213.870871  ...    D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  220.750426  214.478533  ...    D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[160 rows x 16 columns]

In [281]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    230.124746  224.387550  ...    A1  3256A5B0-9FF2-4C1C-956C-F74AFB823F06.png
1    229.836377  223.713091  ...    A1  1508179F-2A48-45B9-BDB2-BCF1FB63F25D.png
2    230.160052  224.022969  ...    A1  5F82050C-E574-46EA-BD33-2A868C1CC1D4.png
3    230.042691  223.998539  ...    A1  AB5218C0-3523-4BC9-A8D1-A12B63F0216D.png
4    230.218489  224.247626  ...    A1  E85068C9-3202-4A67-A503-38637B247DBD.png
..          ...         ...  ...   ...                                       ...
155  220.281146  213.975976  ...    D4  53EB262D-4941-4FCD-B8CD-FA52FC2C5409.png
156  228.093661  222.632254  ...    D4  594607B5-DB19-4E4D-882E-13DB81A1A31D.png
157  220.528934  214.352244  ...    D4  E4C459D3-9B20-4C7E-8181-1483D4FC65DF.png
158  220.152342  213.870871  ...    D4  9B12D0FC-30CE-4EB8-9376-B688C70FD366.png
159  220.750426  214.478533  ...    D4  E19BA0D4-A375-4E56-8890-5F3E58BBB5E5.png

[800 rows x 16 columns]

In [282]:
st1.to_csv('A4_6.csv', index=False)