<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newB5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png',
 'Color-checkerAA1.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 6.2 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.0 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 36.5 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'Color-checkerBB.xlsx')

In [27]:
A1_set1= pd.read_excel(AA, sheet_name='B4_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    FE5E97B6-7307-4145-A16B-C2894F0D3716.png  ...  Duration 1/100 ISO 630
1    C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png  ...  Duration 1/100 ISO 630
2    7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png  ...  Duration 1/100 ISO 630
3    7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png  ...  Duration 1/100 ISO 630
4    249BA188-DB39-4F01-9022-0CA3A10DC30D.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  2CB55385-6DD0-473B-B8A6-C73E47256424.png  ...  Duration 1/100 ISO 630
156  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png  ...  Duration 1/100 ISO 630
157  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png  ...  Duration 1/100 ISO 630
158  627A16B9-E8A9-4495-90C6-38098C4E0B07.png  ...  Duration 1/100 ISO 630
159  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [28]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [29]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [30]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [31]:
A1_set1

                                          Img  ...                หมายเหตุ
0    FE5E97B6-7307-4145-A16B-C2894F0D3716.png  ...  Duration 1/100 ISO 630
1    C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png  ...  Duration 1/100 ISO 630
2    7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png  ...  Duration 1/100 ISO 630
3    7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png  ...  Duration 1/100 ISO 630
4    249BA188-DB39-4F01-9022-0CA3A10DC30D.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  2CB55385-6DD0-473B-B8A6-C73E47256424.png  ...  Duration 1/100 ISO 630
156  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png  ...  Duration 1/100 ISO 630
157  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png  ...  Duration 1/100 ISO 630
158  627A16B9-E8A9-4495-90C6-38098C4E0B07.png  ...  Duration 1/100 ISO 630
159  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [32]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [33]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    B4   A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    B4   A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    B4   A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    B4   A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..   ..  ...                                       ...
155  B4   D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  B4   D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  B4   D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  B4   D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  B4   D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 3 columns]

In [34]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    B4   A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    B4   A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    B4   A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    B4   A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..   ..  ...                                       ...
155  B4   D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  B4   D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  B4   D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  B4   D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  B4   D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 3 columns]

In [35]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  FE5E97B6-7307-4145-A16B-C2894F0D3716.png  B4  ...    สีดำ  Duration 1/100 ISO 630
1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png  B4  ...    สีดำ  Duration 1/100 ISO 630
2  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png  B4  ...    สีดำ  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [36]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [37]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [38]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [39]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [40]:
list_total1

[[224.64532099667235, 203.93101209317425, 163.0309228147066],
 [226.92711630549468, 206.14349484619754, 165.2148364580797],
 [231.07296485674863, 211.39615290966643, 170.475854232611]]

In [41]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [42]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [43]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [44]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [45]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref       S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  20.031085  102.172226  228.538025  20.364256  68.412142  232.753267    Set1
1  20.002273  101.619674  230.486892  20.451262  67.752293  234.622920    Set1
2  20.209155   95.406379  234.401591  20.325542  63.214025  238.212970    Set1

In [46]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [47]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [48]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [49]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.177421  196.595000  135.408165  232.753267  212.043503  170.356302
1    229.065823  198.428050  137.097314  234.622920  214.303547  172.328545
2    233.195520  204.442010  145.157536  238.212970  219.161756  179.205340
3    233.905852  205.398425  145.691583  239.454265  220.568460  181.530558
4    226.469767  196.214187  135.927197  231.180180  212.059005  171.361740
..          ...         ...         ...         ...         ...         ...
155  233.612126  204.423667  144.294213  230.809350  207.908611  152.697589
156  232.628115  203.254362  144.999919  229.875335  205.446636  152.840354
157  233.818684  204.801315  146.269296  230.532830  206.908124  153.887671
158  233.645159  204.021102  144.004626  230.459865  205.872656  152.878744
159  232.614804  203.109163  143.118984  229.945784  205.404675  152.139761

[160 rows x 6 columns]

In [50]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [51]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set5'
t11

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.990666  103.017937  227.177421  ...  68.412142  232.753267     Set5
1    19.975651  102.374807  229.065823  ...  67.752293  234.622920     Set5
2    20.165165   96.389903  233.195520  ...  63.214025  238.212970     Set5
3    20.235127   96.291048  233.905852  ...  61.748965  239.454265     Set5
4    19.908936  101.947569  226.469767  ...  66.003571  231.180180     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  20.142440   97.615372  233.612126  ...  86.433488  230.809431     Set5
156  19.923626   96.162487  232.628115  ...  85.568298  229.875335     Set5
157  20.063875   95.618700  233.818765  ...  84.909261  230.533398     Set5
158  20.042935   97.972405  233.645159  ...  85.969077  230.459865     Set5
159  20.032790   98.209074  232.614885  ...  86.425290  229.945784     Set5

[160 rows x 7 columns]

In [52]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    227.177421  196.595000  ...    A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    229.065823  198.428050  ...    A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    233.195520  204.442010  ...    A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    233.905852  205.398425  ...    A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    226.469767  196.214187  ...    A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..          ...         ...  ...   ...                                       ...
155  233.612126  204.423667  ...    D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  232.628115  203.254362  ...    D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  233.818684  204.801315  ...    D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  233.645159  204.021102  ...    D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  232.614804  203.109163  ...    D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 16 columns]

#Datapoint 2

In [53]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [54]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [55]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.058924  196.454590  135.278873  232.629089  211.910153  170.226767
1    228.942781  198.292184  136.964045  234.505478  214.172145  172.196331
2    233.040662  204.255418  144.935233  238.085788  219.016557  179.026702
3    233.762276  205.214918  145.478695  239.340719  220.435111  181.374564
4    226.345508  196.081974  135.803263  231.061683  211.940102  171.237075
..          ...         ...         ...         ...         ...         ...
155  233.485107  204.239591  144.062008  230.698563  207.731272  152.494359
156  232.497362  203.069069  144.769175  229.780700  205.304927  152.661229
157  233.691097  204.623651  146.051700  230.421557  206.738901  153.680140
158  233.506128  203.826475  143.772178  230.349241  205.697752  152.676893
159  232.485918  202.915510  142.869410  229.829397  205.234478  151.942212

[160 rows x 6 columns]

In [56]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [57]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set5'
t22

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.985553  103.082867  227.058924  ...  68.453697  232.629089     Set5
1    19.973054  102.440143  228.942781  ...  67.801802  234.505478     Set5
2    20.159565   96.523983  233.040662  ...  63.300950  238.085788     Set5
3    20.226037   96.422449  233.762276  ...  61.822985  239.340719     Set5
4    19.905202  102.001704  226.345508  ...  66.044558  231.061683     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  20.131889   97.778102  233.485107  ...  86.570976  230.698645     Set5
156  19.913319   96.322052  232.497362  ...  85.693856  229.780700     Set5
157  20.051944   95.766172  233.691097  ...  85.050808  230.422125     Set5
158  20.033277   98.128967  233.506128  ...  86.105024  230.349241     Set5
159  20.021346   98.389416  232.485918  ...  86.555799  229.829397     Set5

[160 rows x 7 columns]

In [58]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    227.058924  196.454590  ...    A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    228.942781  198.292184  ...    A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    233.040662  204.255418  ...    A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    233.762276  205.214918  ...    A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    226.345508  196.081974  ...    A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..          ...         ...  ...   ...                                       ...
155  233.485107  204.239591  ...    D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  232.497362  203.069069  ...    D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  233.691097  204.623651  ...    D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  233.506128  203.826475  ...    D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  232.485918  202.915510  ...    D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 16 columns]

#Datapoint 3

In [59]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [60]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [61]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.965668  194.006818  133.115981  230.459541  209.534129  167.929145
1    226.896762  196.048454  134.894002  232.618619  211.847090  170.040825
2    230.767389  201.276276  141.472932  235.722587  216.215323  175.494522
3    231.533074  202.244623  142.073695  237.150150  217.893109  178.238455
4    224.235695  193.702540  133.877526  228.887347  209.761058  168.902524
..          ...         ...         ...         ...         ...         ...
155  231.358899  201.332684  140.514244  228.883695  204.854963  149.205746
156  230.395828  200.266374  141.475935  227.918594  202.557016  149.186430
157  231.576008  201.729730  142.687525  228.676163  204.048292  150.403782
158  231.224170  200.681438  140.003328  228.605146  202.912101  149.337148
159  230.390147  200.121256  139.484944  228.015259  202.481536  148.470660

[160 rows x 6 columns]

In [62]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [63]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set5'
t33

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.884100  104.104699  224.965668  ...  69.229040  230.459541     Set5
1    19.888970  103.380732  226.896762  ...  68.639802  232.618619     Set5
2    20.005032   98.737034  230.767389  ...  65.157130  235.722587     Set5
3    20.050158   98.587696  231.533074  ...  63.380245  237.150150     Set5
4    19.757974  102.732246  224.235695  ...  66.860157  228.887347     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  20.022725  100.188378  231.358899  ...  88.847658  228.883695     Set5
156  19.761870   98.500284  230.395828  ...  88.144144  227.918594     Set5
157  19.844168   97.990585  231.576008  ...  87.350540  228.676163     Set5
158  19.914212  100.685415  231.224170  ...  88.484133  228.605146     Set5
159  19.945134  100.659443  230.390147  ...  89.047155  228.015259     Set5

[160 rows x 7 columns]

In [64]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    224.965668  194.006818  ...    A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    226.896762  196.048454  ...    A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    230.767389  201.276276  ...    A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    231.533074  202.244623  ...    A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    224.235695  193.702540  ...    A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..          ...         ...  ...   ...                                       ...
155  231.358899  201.332684  ...    D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  230.395828  200.266374  ...    D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  231.576008  201.729730  ...    D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  231.224170  200.681438  ...    D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  230.390147  200.121256  ...    D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 16 columns]

#Datapoint 4

In [65]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [66]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [67]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.742066  191.595163  131.323026  227.856667  207.028488  165.542488
1    224.595731  193.650921  133.244217  230.313449  209.356221  167.803993
2    228.809918  198.793036  138.774694  233.769824  214.133350  173.224008
3    229.550605  199.867706  139.656359  235.220599  215.989287  175.652463
4    222.043341  191.330330  132.352650  226.361984  207.192923  166.433325
..          ...         ...         ...         ...         ...         ...
155  228.973298  198.395828  137.155182  227.128318  202.147228  146.453859
156  227.982144  197.333658  137.992533  226.029300  200.004707  146.077916
157  229.139437  198.566269  139.092931  226.943917  201.526418  147.544517
158  228.764143  197.567568  136.485431  226.783134  200.435760  146.510511
159  228.005844  197.252090  136.297947  226.252902  200.083435  145.635013

[160 rows x 6 columns]

In [68]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [69]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set5'
t44

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.771204  104.625436  222.742066  ...  69.773557  227.856667     Set5
1    19.776560  103.669670  224.595731  ...  69.241295  230.313449     Set5
2    19.868679  100.397695  228.809918  ...  66.047642  233.769824     Set5
3    19.948381   99.913887  229.550605  ...  64.603360  235.220599     Set5
4    19.594676  102.971350  222.043341  ...  67.547683  226.361984     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.999919  102.268809  228.973298  ...  90.653600  227.128318     Set5
156  19.685983  100.724698  227.982144  ...  90.252090  226.029300     Set5
157  19.626248  100.307524  229.139437  ...  89.273354  226.943917     Set5
158  19.826394  102.907313  228.764143  ...  90.314910  226.783134     Set5
159  19.900008  102.570002  228.005844  ...  90.954549  226.252902     Set5

[160 rows x 7 columns]

In [70]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    222.742066  191.595163  ...    A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    224.595731  193.650921  ...    A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    228.809918  198.793036  ...    A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    229.550605  199.867706  ...    A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    222.043341  191.330330  ...    A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..          ...         ...  ...   ...                                       ...
155  228.973298  198.395828  ...    D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  227.982144  197.333658  ...    D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  229.139437  198.566269  ...    D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  228.764143  197.567568  ...    D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  228.005844  197.252090  ...    D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 16 columns]

#Datapoint 5

In [71]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [72]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [73]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.008684  189.142359  130.256879  224.936206  204.282607  163.567405
1    221.890756  191.123935  132.136271  227.385602  206.606201  165.927684
2    226.255905  195.987582  135.769256  231.353462  211.671293  170.911858
3    227.348186  197.351108  137.153884  232.740768  213.585017  172.715039
4    219.393150  188.993182  131.454671  223.597273  204.388199  164.559289
..          ...         ...         ...         ...         ...         ...
155  226.762438  195.763980  134.338690  224.742959  199.007305  143.249980
156  225.859833  194.843844  135.024186  223.488110  196.973216  142.680058
157  226.862673  195.891243  136.188702  224.564159  198.427969  144.062495
158  226.435111  194.828585  133.623407  224.196818  197.361091  143.182615
159  225.893353  194.760084  133.651408  223.725590  197.018748  142.263696

[160 rows x 6 columns]

In [74]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [75]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set5'
t55

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.680302  103.966561  220.008684  ...  69.591754  224.936206     Set5
1    19.679328  103.070124  221.890756  ...  68.923139  227.385602     Set5
2    19.844006  102.006655  226.255905  ...  66.607094  231.353462     Set5
3    19.861700  101.203717  227.348186  ...  65.776804  232.740768     Set5
4    19.490707  102.154533  219.393150  ...  67.330493  223.597273     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.979953  103.916159  226.762438  ...  92.521467  224.742959     Set5
156  19.671861  102.624625  225.859833  ...  92.222628  223.488110     Set5
157  19.520088  102.003977  226.862673  ...  91.430485  224.564159     Set5
158  19.778021  104.529259  226.435111  ...  92.172145  224.196818     Set5
159  19.893515  104.113465  225.893353  ...  92.903579  223.725590     Set5

[160 rows x 7 columns]

In [76]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    220.008684  189.142359  ...    A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    221.890756  191.123935  ...    A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    226.255905  195.987582  ...    A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    227.348186  197.351108  ...    A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    219.393150  188.993182  ...    A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..          ...         ...  ...   ...                                       ...
155  226.762438  195.763980  ...    D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  225.859833  194.843844  ...    D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  226.862673  195.891243  ...    D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  226.435111  194.828585  ...    D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  225.893353  194.760084  ...    D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[160 rows x 16 columns]

In [77]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    227.177421  196.595000  ...    A1  FE5E97B6-7307-4145-A16B-C2894F0D3716.png
1    229.065823  198.428050  ...    A1  C79D3589-14EB-47CA-9A20-DDC5387FBD0F.png
2    233.195520  204.442010  ...    A1  7FEB7EB1-28C7-4A13-B3C5-E75B453BBB83.png
3    233.905852  205.398425  ...    A1  7BA8BB6A-1B9A-4745-BA2E-560343E84F10.png
4    226.469767  196.214187  ...    A1  249BA188-DB39-4F01-9022-0CA3A10DC30D.png
..          ...         ...  ...   ...                                       ...
155  226.762438  195.763980  ...    D4  2CB55385-6DD0-473B-B8A6-C73E47256424.png
156  225.859833  194.843844  ...    D4  CD2A5574-8B31-4EA3-AE83-0437FB3DBBB5.png
157  226.862673  195.891243  ...    D4  295E7D4A-3903-4AC9-BD06-139ED4AFD435.png
158  226.435111  194.828585  ...    D4  627A16B9-E8A9-4495-90C6-38098C4E0B07.png
159  225.893353  194.760084  ...    D4  DE68F198-9FE5-4185-B96B-4E159AC67B3F.png

[800 rows x 16 columns]

In [78]:
dp5.to_csv('B4_5.csv', index=False)