<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newB6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png',
 'Color-checkerAA1.xlsx']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 5.0 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 6.6 MB/s
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 18.1 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'Color-checkerBB.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='B4_2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png  ...  Duration 1/145 ISO 145
1    E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png  ...  Duration 1/145 ISO 145
2    6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png  ...  Duration 1/145 ISO 145
3    685CCFA0-A5F2-47BA-A128-0B4B56914A07.png  ...  Duration 1/145 ISO 145
4    0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png  ...  Duration 1/145 ISO 145
156  D6F3DE91-5658-4100-896B-E8C18CFD920B.png  ...  Duration 1/145 ISO 145
157  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png  ...  Duration 1/145 ISO 145
158  1EE2C797-8B82-4CF5-A491-48C0BE807979.png  ...  Duration 1/145 ISO 145
159  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png  ...  Duration 1/145 ISO 145
1    E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png  ...  Duration 1/145 ISO 145
2    6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png  ...  Duration 1/145 ISO 145
3    685CCFA0-A5F2-47BA-A128-0B4B56914A07.png  ...  Duration 1/145 ISO 145
4    0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png  ...  Duration 1/145 ISO 145
156  D6F3DE91-5658-4100-896B-E8C18CFD920B.png  ...  Duration 1/145 ISO 145
157  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png  ...  Duration 1/145 ISO 145
158  1EE2C797-8B82-4CF5-A491-48C0BE807979.png  ...  Duration 1/145 ISO 145
159  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    B4   A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    B4   A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    B4   A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    B4   A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..   ..  ...                                       ...
155  B4   D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  B4   D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  B4   D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  B4   D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  B4   D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    B4   A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    B4   A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    B4   A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    B4   A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..   ..  ...                                       ...
155  B4   D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  B4   D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  B4   D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  B4   D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  B4   D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png  B4  ...    สีดำ  Duration 1/145 ISO 145
1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png  B4  ...    สีดำ  Duration 1/145 ISO 145
2  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png  B4  ...    สีดำ  Duration 1/145 ISO 145

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[216.08611314016719, 217.15347780212645, 203.82720558396235],
 [215.94927359792226, 217.430078727376, 204.64077591104618],
 [214.6811135459784, 216.39517896274654, 203.9590942293645]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  27.798880  61.561886  226.440062  32.071423  16.364013  221.205584    Set1
1  27.614966  60.000000  226.735249  32.793767  15.757731  221.493385    Set1
2  27.956659  60.064524  225.258096  33.629251  15.557666  220.005438    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.343316  219.970213  169.058437  220.186673  221.205584  207.042042
1    225.529908  220.198361  170.400617  220.177664  221.493385  207.872007
2    224.122555  219.003246  169.256960  218.371317  220.005438  206.617969
3    224.005032  218.988313  169.589968  218.169304  219.791088  206.698563
4    223.741255  218.620242  169.445500  218.305332  219.694586  206.729324
..          ...         ...         ...         ...         ...         ...
155  225.824933  221.735573  178.205259  217.075562  215.812353  184.814382
156  236.371317  232.713254  201.973216  226.886616  227.603198  204.921029
157  225.421881  221.359955  178.482104  216.340313  215.469199  184.604821
158  235.636474  232.099911  201.570246  226.147959  226.516517  204.046100
159  236.210048  232.746774  199.823472  226.721208  226.702135  201.920623

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set6'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.409220  63.731840  225.343316  32.071423  16.364013  221.205584    Set6
1    27.285529  62.360928  225.529989  32.793767  15.757731  221.493385    Set6
2    27.357033  62.450126  224.122555  33.629251  15.557666  220.005438    Set6
3    27.400211  61.975327  224.005113  33.859021  15.233504  219.791088    Set6
4    27.386900  61.874767  223.741255  33.251116  15.075887  219.694586    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  27.709033  53.858615  225.824933  28.739063  37.992533  217.140654    Set6
156  32.733626  38.254606  236.831183  36.360766  26.676406  227.942618    Set6
157  27.616752  53.164191  225.421881  29.130184  37.450126  216.381544    Set6
158  32.854720  38.088061  236.118172  36.251603  26.790196  227.054785    Set6
159  33.041149  40.433569  236.630468  34.416687  29.347780  227.401672    Set6

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    225.343316  219.970213  ...    A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    225.529908  220.198361  ...    A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    224.122555  219.003246  ...    A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    224.005032  218.988313  ...    A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    223.741255  218.620242  ...    A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..          ...         ...  ...   ...                                       ...
155  225.824933  221.735573  ...    D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  236.371317  232.713254  ...    D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  225.421881  221.359955  ...    D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  235.636474  232.099911  ...    D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  236.210048  232.746774  ...    D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.280740  219.893272  168.915185  220.116062  221.127344  206.959013
1    225.455564  220.105267  170.220924  220.097638  221.412548  207.776885
2    224.058193  218.922247  169.083435  218.293807  219.927847  206.530314
3    223.928983  218.902362  169.407272  218.090821  219.715526  206.606282
4    223.686389  218.554987  169.325542  218.231637  219.620648  206.647107
..          ...         ...         ...         ...         ...         ...
155  225.759516  221.665449  178.107053  216.996835  215.722669  184.674296
156  236.272786  232.597273  201.733382  226.800584  227.503206  204.730379
157  225.352812  221.286990  178.382355  216.258015  215.382112  184.464816
158  235.535184  231.978735  201.316695  226.052268  226.402808  203.844737
159  236.113465  232.626491  199.566107  226.640776  226.612694  201.759273

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set6'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.406623  63.839299  225.280740  32.051700  16.374401  221.127344    Set6
1    27.282120  62.496551  225.455564  32.787842  15.778508  221.412548    Set6
2    27.355734  62.589157  224.058193  33.626167  15.573898  219.927847    Set6
3    27.401915  62.112653  223.928983  33.861213  15.257122  219.715526    Set6
4    27.384790  61.963802  223.686389  33.249980  15.089765  219.620648    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  27.709196  53.911209  225.759516  28.727295  38.072478  217.058437    Set6
156  32.631361  38.407921  236.726402  36.267835  26.784514  227.847334    Set6
157  27.617158  53.214349  225.352812  29.125315  37.527717  216.296486    Set6
158  32.751481  38.253064  236.009415  36.146822  26.894164  226.946352    Set6
159  32.916646  40.603685  236.525444  34.360523  29.438276  227.316046    Set6

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    225.280740  219.893272  ...    A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    225.455564  220.105267  ...    A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    224.058193  218.922247  ...    A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    223.928983  218.902362  ...    A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    223.686389  218.554987  ...    A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..          ...         ...  ...   ...                                       ...
155  225.759516  221.665449  ...    D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  236.272786  232.597273  ...    D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  225.352812  221.286990  ...    D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  235.535184  231.978735  ...    D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  236.113465  232.626491  ...    D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.160458  218.600682  167.181966  218.712686  219.623164  205.481454
1    224.288126  218.799448  168.560344  218.579742  219.881584  206.274815
2    223.022157  217.787436  167.544517  216.906907  218.552553  205.125639
3    222.875254  217.685983  167.891405  216.709439  218.354111  205.272786
4    222.545086  217.396640  167.909017  216.806753  218.271082  205.321646
..          ...         ...         ...         ...         ...         ...
155  224.447772  220.245435  176.819252  215.553283  214.156075  182.958770
156  234.686714  230.728350  197.178232  224.919974  225.359549  200.449152
157  224.063794  219.817710  177.166707  214.808701  213.877932  182.722993
158  233.843682  230.007873  196.568866  224.217921  224.212483  199.576982
159  234.510511  230.677624  194.770554  224.766577  224.414090  197.708871

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set6'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.331954  64.869410  224.160458  31.823553  16.415956  219.623164    Set6
1    27.221898  63.390147  224.288126  32.793361  15.826069  219.881584    Set6
2    27.313124  63.464897  223.022157  33.647675  15.676812  218.552553    Set6
3    27.335768  62.942212  222.875254  33.910153  15.293564  218.354111    Set6
4    27.373509  62.621297  222.545086  33.439818  15.116468  218.271082    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  27.641506  54.185375  224.447772  28.602792  38.572275  215.557179    Set6
156  31.027108  41.600601  235.008035  33.906582  29.133187  225.694343    Set6
157  27.502313  53.415470  224.063794  29.069231  38.094879  214.823634    Set6
158  31.041717  41.546871  234.174012  33.485107  29.173444  224.767632    Set6
159  31.196250  44.085058  234.803506  32.117766  31.566431  225.161026    Set6

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    224.160458  218.600682  ...    A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    224.288126  218.799448  ...    A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    223.022157  217.787436  ...    A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    222.875254  217.685983  ...    A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    222.545086  217.396640  ...    A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..          ...         ...  ...   ...                                       ...
155  224.447772  220.245435  ...    D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  234.686714  230.728350  ...    D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  224.063794  219.817710  ...    D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  233.843682  230.007873  ...    D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  234.510511  230.677624  ...    D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.600276  217.240403  166.320753  216.993913  217.901956  204.000568
1    222.730217  217.477964  167.643048  216.804399  218.211915  204.795065
2    221.695804  216.592566  166.921354  215.376106  217.088386  203.829803
3    221.578200  216.392988  167.223440  215.176528  216.862024  204.081081
4    221.137245  216.159321  167.133106  215.213538  216.772096  204.069313
..          ...         ...         ...         ...         ...         ...
155  222.829316  218.567486  176.360766  213.759192  212.499472  181.524308
156  232.422774  228.003165  190.628845  222.764224  222.865271  195.381706
157  222.468874  218.141222  176.688986  213.104131  212.215892  181.390309
158  231.523983  227.167925  190.061277  222.078565  221.714958  194.602548
159  232.215648  227.858697  188.114926  222.670319  221.981901  193.176934

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set6'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.400941  64.514487  222.600276  31.865839  16.231475  217.901956    Set6
1    27.318399  63.094473  222.730217  33.148365  15.692476  218.211915    Set6
2    27.370181  63.024268  221.695804  33.870140  15.557179  217.088386    Set6
3    27.346482  62.583232  221.578200  34.055515  14.999757  216.862024    Set6
4    27.442091  62.280253  221.137245  33.734031  14.886860  216.772096    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  27.500041  53.221573  222.829316  28.740281  38.479101  213.800666    Set6
156  27.283987  45.942131  232.438763  30.883451  31.854882  223.155182    Set6
157  27.361415  52.491924  222.468874  29.111760  37.935801  213.117117    Set6
158  27.214593  45.763980  231.538593  30.487542  31.863729  222.251441    Set6
159  27.622514  48.595082  232.237318  29.951303  34.064199  222.793280    Set6

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    222.600276  217.240403  ...    A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    222.730217  217.477964  ...    A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    221.695804  216.592566  ...    A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    221.578200  216.392988  ...    A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    221.137245  216.159321  ...    A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..          ...         ...  ...   ...                                       ...
155  222.829316  218.567486  ...    D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  232.422774  228.003165  ...    D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  222.468874  218.141222  ...    D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  231.523983  227.167925  ...    D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  232.215648  227.858697  ...    D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.780375  215.508725  166.325217  214.862998  215.969970  202.623083
1    220.822417  215.813570  167.567811  214.711549  216.261424  203.475530
2    219.997727  215.032384  167.034900  213.490058  215.284393  202.863729
3    219.828504  214.820794  167.324324  213.309715  215.031085  203.099424
4    219.390147  214.542001  167.285691  213.320023  215.002110  202.958770
..          ...         ...         ...         ...         ...         ...
155  220.900008  216.686633  176.917945  211.501826  210.703595  181.005925
156  230.674458  226.365311  187.727944  220.612044  220.662284  191.498336
157  220.522685  216.267998  177.172794  211.035549  210.413927  180.988231
158  229.876796  225.500771  187.419203  220.046344  219.543949  190.979466
159  230.494927  226.108514  185.009415  220.603035  219.733139  189.511322

[160 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set6'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.333739  62.909342  220.780375  32.519033  15.697265  215.969970    Set6
1    27.354111  61.480805  220.822417  33.706193  15.061927  216.261424    Set6
2    27.357357  61.374320  219.997727  34.441604  14.681357  215.284393    Set6
3    27.339015  60.910478  219.828504  34.498093  14.097314  215.031085    Set6
4    27.399481  60.548332  219.390147  34.334713  14.201120  215.002110    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  27.283175  50.761140  220.900008  29.243162  36.871033  211.655953    Set6
156  27.184563  47.476828  230.674458  30.050239  33.954387  220.943673    Set6
157  27.179612  50.088548  220.522685  29.431053  36.362308  211.154614    Set6
158  27.049671  47.114682  229.876796  29.497606  33.743933  220.107865    Set6
159  27.317831  50.369288  230.494927  29.130103  35.999675  220.629170    Set6

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    220.780375  215.508725  ...    A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    220.822417  215.813570  ...    A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    219.997727  215.032384  ...    A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    219.828504  214.820794  ...    A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    219.390147  214.542001  ...    A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..          ...         ...  ...   ...                                       ...
155  220.900008  216.686633  ...    D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  230.674458  226.365311  ...    D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  220.522685  216.267998  ...    D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  229.876796  225.500771  ...    D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  230.494927  226.108514  ...    D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    225.343316  219.970213  ...    A1  7338EBC7-4CA0-417E-9A17-B6F95600DE7F.png
1    225.529908  220.198361  ...    A1  E43C5F50-B2CA-42B5-84F5-DBB822E831ED.png
2    224.122555  219.003246  ...    A1  6AF8279A-0F6F-46F7-9A24-F3D63F7096BA.png
3    224.005032  218.988313  ...    A1  685CCFA0-A5F2-47BA-A128-0B4B56914A07.png
4    223.741255  218.620242  ...    A1  0A0489E8-DED4-4A33-91FB-952CAB3D1E88.png
..          ...         ...  ...   ...                                       ...
155  220.900008  216.686633  ...    D4  E786EC56-6A7D-42B5-8FCC-F8D236E225C9.png
156  230.674458  226.365311  ...    D4  D6F3DE91-5658-4100-896B-E8C18CFD920B.png
157  220.522685  216.267998  ...    D4  EA209154-2CD1-4F66-BE84-EF90EC83AB97.png
158  229.876796  225.500771  ...    D4  1EE2C797-8B82-4CF5-A491-48C0BE807979.png
159  230.494927  226.108514  ...    D4  FF83F36D-8134-4FC6-B9A2-23C34CE92864.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('B4_6.csv', index=False)