<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newB4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.1 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.0 MB/s
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 27.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'BB1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='B4Set4')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    E6FD1E47-41F1-4FC7-8EDA-377E52421795.png  ...  ค่า duration 1/510 ISO 90
1    51A8D5DF-0265-4137-A97C-204933D83A2B.png  ...  ค่า duration 1/510 ISO 90
2    4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png  ...  ค่า duration 1/510 ISO 90
3    98C975EE-4F1C-4322-BE68-D0362677051C.png  ...  ค่า duration 1/510 ISO 90
4    154F666F-3A72-4532-BC86-922DEC7A5986.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  E8ED1D38-6C16-42ED-A658-58070626D8F1.png  ...  ค่า duration 1/510 ISO 90
156  094AD7F5-5108-42D2-83AE-4B037D362173.png  ...  ค่า duration 1/510 ISO 90
157  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png  ...  ค่า duration 1/510 ISO 90
158  2AC65698-9959-467C-BF00-EC65879EEB15.png  ...  ค่า duration 1/510 ISO 90
159  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    E6FD1E47-41F1-4FC7-8EDA-377E52421795.png  ...  ค่า duration 1/510 ISO 90
1    51A8D5DF-0265-4137-A97C-204933D83A2B.png  ...  ค่า duration 1/510 ISO 90
2    4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png  ...  ค่า duration 1/510 ISO 90
3    98C975EE-4F1C-4322-BE68-D0362677051C.png  ...  ค่า duration 1/510 ISO 90
4    154F666F-3A72-4532-BC86-922DEC7A5986.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  E8ED1D38-6C16-42ED-A658-58070626D8F1.png  ...  ค่า duration 1/510 ISO 90
156  094AD7F5-5108-42D2-83AE-4B037D362173.png  ...  ค่า duration 1/510 ISO 90
157  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png  ...  ค่า duration 1/510 ISO 90
158  2AC65698-9959-467C-BF00-EC65879EEB15.png  ...  ค่า duration 1/510 ISO 90
159  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    B4   A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    B4   A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    B4   A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    B4   A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..   ..  ...                                       ...
155  B4   D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  B4   D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  B4   D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  B4   D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  B4   D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    B4   A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    B4   A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    B4   A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    B4   A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..   ..  ...                                       ...
155  B4   D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  B4   D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  B4   D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  B4   D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  B4   D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png  ...  ค่า duration 1/510 ISO 90
1  51A8D5DF-0265-4137-A97C-204933D83A2B.png  ...  ค่า duration 1/510 ISO 90
2  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png  ...  ค่า duration 1/510 ISO 90

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[210.48729810891973, 206.90049508968428, 189.60587614641668],
 [219.36628520412305, 214.36628520412305, 193.4439574709845],
 [211.73979384790195, 207.40118496875255, 187.91786380975572]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  24.879799  75.079945  218.562941  24.300219  28.248843  216.263534    Set1
1  26.302492  63.400617  227.306387  25.389822  26.258096  224.953819    Set1
2  24.947732  76.524552  218.598247  24.007386  30.745881  216.870384    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    217.927279  206.897086  153.472364  216.263534  211.589157  192.313205
1    226.203068  216.721695  169.172064  224.928821  220.550686  202.098693
2    217.951303  206.870546  151.967454  216.870384  211.877039  190.782323
3    224.833212  218.921597  166.294944  222.539891  222.230338  199.189595
4    226.337473  216.971593  169.574304  224.872494  220.630549  202.509861
..          ...         ...         ...         ...         ...         ...
155  226.617564  218.916159  169.466115  219.326110  215.174012  177.244380
156  226.733869  218.917296  169.189352  219.642399  215.161026  177.344047
157  226.708465  218.364337  168.508887  219.349809  214.448990  175.805292
158  226.734762  218.223440  169.488434  219.950572  214.596786  177.705543
159  226.592160  218.819657  167.302735  219.559370  215.658794  175.795958

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set4'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    24.834916  75.424073  217.927279  24.300219  28.248843  216.263534    Set4
1    26.093337  65.283662  226.215892  25.389822  26.258096  224.953819    Set4
2    24.946271  77.161107  217.951303  24.007386  30.745881  216.870384    Set4
3    29.409139  67.500933  224.924925  31.633958  27.248275  222.685902    Set4
4    26.140573  64.909991  226.357925  26.711712  25.750994  224.920623    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  27.949111  65.137083  226.671131  29.393312  49.915510  219.399805    Set4
156  27.156805  65.505073  226.768606  29.069069  50.030517  219.707978    Set4
157  26.094798  66.202175  226.729080  27.321808  51.516598  219.381625    Set4
158  27.513189  65.166870  226.779239  29.130671  49.914130  220.008279    Set4
159  27.674945  67.477559  226.617077  29.919081  51.811460  219.642156    Set4

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    217.927279  206.897086  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    226.203068  216.721695  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    217.951303  206.870546  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    224.833212  218.921597  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    226.337473  216.971593  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..          ...         ...  ...   ...                                       ...
155  226.617564  218.916159  ...    D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  226.733869  218.917296  ...    D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  226.708465  218.364337  ...    D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  226.734762  218.223440  ...    D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  226.592160  218.819657  ...    D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    217.864378  206.826069  153.427644  216.170847  211.509455  192.232286
1    226.062089  216.543868  168.829559  224.790764  220.398994  201.888077
2    217.898141  206.803344  151.917945  216.792874  211.795715  190.706355
3    224.696129  218.763493  165.945540  222.396721  222.081325  198.968347
4    226.204935  216.803669  169.244542  224.739226  220.479750  202.288613
..          ...         ...         ...         ...         ...         ...
155  226.505560  218.774369  169.165896  219.154939  214.987745  176.919244
156  226.623083  218.781755  168.891892  219.496226  214.991072  177.033033
157  226.595082  218.227092  168.214999  219.202662  214.276195  175.501096
158  226.631929  218.093661  169.194546  219.801639  214.421557  177.391364
159  226.484457  218.680221  167.006980  219.404756  215.477153  175.468550

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set4'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    24.827611  75.422693  217.864378  24.314910  28.246165  216.170847    Set4
1    26.100398  65.537132  226.074750  25.324811  26.350296  224.814544    Set4
2    24.937830  77.174174  217.898141  24.002760  30.755702  216.792874    Set4
3    29.398994  67.768201  224.787274  31.557666  27.338852  222.536888    Set4
4    26.153640  65.157536  226.225388  26.619430  25.858778  224.786300    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  27.870222  65.365230  226.557990  29.321646  50.113952  219.227092    Set4
156  27.081325  65.730947  226.656846  29.003409  50.237318  219.559857    Set4
157  26.015015  66.424235  226.615291  27.269946  51.714147  219.232936    Set4
158  27.432189  65.395991  226.675351  29.088710  50.123935  219.859265    Set4
159  27.613992  67.706680  226.509131  29.862105  52.025891  219.484539    Set4

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    217.864378  206.826069  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    226.062089  216.543868  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    217.898141  206.803344  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    224.696129  218.763493  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    226.204935  216.803669  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..          ...         ...  ...   ...                                       ...
155  226.505560  218.774369  ...    D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  226.623083  218.781755  ...    D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  226.595082  218.227092  ...    D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  226.631929  218.093661  ...    D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  226.484457  218.680221  ...    D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    216.608717  205.486162  152.907313  214.281958  209.971756  190.824852
1    223.483483  213.297541  161.989368  222.664313  218.024592  198.464654
2    216.735898  205.503206  151.190407  215.226605  210.241863  189.327084
3    222.187647  215.620323  158.827449  220.156318  219.846360  195.593945
4    223.617969  213.557747  162.593864  222.691097  218.118335  198.850174
..          ...         ...         ...         ...         ...         ...
155  224.396883  216.059573  163.012337  216.563509  212.118172  171.649379
156  224.403620  215.997322  162.583638  216.977599  212.116387  171.587858
157  224.370181  215.404756  162.098369  216.781268  211.375457  170.355247
158  224.420907  215.331304  162.877688  217.228391  211.495901  171.833780
159  224.235695  215.840273  160.678029  216.912426  212.530152  169.853583

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set4'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    24.708871  74.978411  216.608717  24.675108  27.907637  214.281958    Set4
1    25.460839  70.795552  223.494197  24.911695  28.015177  222.684279    Set4
2    24.806103  77.066147  216.735898  24.002760  30.747261  215.226605    Set4
3    28.367097  73.391770  222.235046  31.019722  28.786219  220.253794    Set4
4    25.733788  70.183346  223.632741  25.865758  27.597516  222.721289    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  26.973379  70.230825  224.426913  29.130103  53.630225  216.624219    Set4
156  26.428131  70.661391  224.417661  28.638179  53.999675  217.026946    Set4
157  25.289912  71.127019  224.370993  26.889132  55.239672  216.800666    Set4
158  26.461164  70.324081  224.436815  28.189676  53.951546  217.275627    Set4
159  26.862105  72.673728  224.251197  29.338365  55.987988  216.971512    Set4

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    216.608717  205.486162  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    223.483483  213.297541  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    216.735898  205.503206  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    222.187647  215.620323  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    223.617969  213.557747  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..          ...         ...  ...   ...                                       ...
155  224.396883  216.059573  ...    D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  224.403620  215.997322  ...    D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  224.370181  215.404756  ...    D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  224.420907  215.331304  ...    D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  224.235695  215.840273  ...    D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    214.553121  203.429754  152.690447  211.977680  208.017288  189.534859
1    220.400373  209.464410  154.323513  219.904797  214.960799  194.020209
2    214.793117  203.469280  150.702540  213.123285  208.385196  187.898953
3    219.232286  212.031816  151.080756  217.367584  216.956822  191.292752
4    220.582096  209.837676  155.176447  219.950166  215.066472  194.568785
..          ...         ...         ...         ...         ...         ...
155  222.065417  213.182128  156.776398  212.874929  208.035224  164.459541
156  222.110624  213.218489  156.697427  213.398831  208.217921  164.652626
157  221.942294  212.569840  156.128723  213.334875  207.333171  163.523253
158  222.040906  212.542407  157.065336  213.671942  207.385764  164.759435
159  221.985634  213.063631  154.767308  213.414414  208.442740  162.677299

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set4'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    24.515218  73.482672  214.553121  24.938560  26.945297  211.977680    Set4
1    24.979791  76.484863  220.400373  24.043990  30.113546  219.904797    Set4
2    24.623245  76.025810  214.793117  24.231312  30.214999  213.123285    Set4
3    26.876228  79.328707  219.232286  29.587533  30.604983  217.372778    Set4
4    25.080269  75.643779  220.582096  24.085788  29.498417  219.950166    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  26.031897  75.021102  222.065417  27.303709  58.075319  212.874929    Set4
156  26.041717  75.142683  222.110624  27.102914  58.301924  213.398831    Set4
157  25.794903  75.618619  221.942294  26.615453  59.592241  213.334875    Set4
158  25.715039  74.649866  222.040906  26.387712  58.426426  213.671942    Set4
159  26.036604  77.234153  221.985634  27.293402  60.607256  213.414414    Set4

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    214.553121  203.429754  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    220.400373  209.464410  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    214.793117  203.469280  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    219.232286  212.031816  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    220.582096  209.837676  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..          ...         ...  ...   ...                                       ...
155  222.065417  213.182128  ...    D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  222.110624  213.218489  ...    D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  221.942294  212.569840  ...    D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  222.040906  212.542407  ...    D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  221.985634  213.063631  ...    D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    211.857398  201.064686  153.327003  209.130915  205.577388  188.466358
1    219.070936  208.025972  152.754322  218.191949  213.215323  192.153478
2    212.121338  201.048454  150.988231  210.436653  206.123285  186.812272
3    217.939047  210.604983  149.821281  215.650840  215.265725  189.682169
4    219.325704  208.427644  153.737602  218.336499  213.357763  192.743771
..          ...         ...         ...         ...         ...         ...
155  220.892379  212.015259  155.787436  210.821605  205.990504  162.198604
156  220.911127  212.077753  155.811947  211.355328  206.187566  162.572762
157  220.781268  211.366610  155.191949  211.484782  205.217028  161.505965
158  220.856343  211.281633  156.049265  211.850337  205.306550  162.673728
159  220.820713  211.955280  153.981333  211.595163  206.440143  160.688256

[160 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set4'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    24.365717  70.313611  211.857398  25.066066  25.078890  209.130915    Set4
1    24.956254  77.172145  219.070936  24.046749  30.531450  218.191949    Set4
2    24.483321  73.345183  212.121338  24.515461  28.595569  210.436653    Set4
3    26.819089  79.742229  217.939047  29.614885  30.709764  215.650840    Set4
4    24.998864  76.265401  219.325704  24.025485  29.957958  218.336499    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  26.036198  75.202419  220.892379  27.340232  58.856018  210.821605    Set4
156  26.056083  75.176203  220.911127  27.120607  58.892947  211.355328    Set4
157  25.753429  75.764386  220.781268  26.462138  60.287396  211.484782    Set4
158  25.631848  74.834997  220.856343  26.247383  59.229040  211.850337    Set4
159  26.070611  77.228228  220.820713  27.200714  61.312962  211.595163    Set4

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    211.857398  201.064686  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    219.070936  208.025972  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    212.121338  201.048454  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    217.939047  210.604983  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    219.325704  208.427644  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..          ...         ...  ...   ...                                       ...
155  220.892379  212.015259  ...    D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  220.911127  212.077753  ...    D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  220.781268  211.366610  ...    D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  220.856343  211.281633  ...    D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  220.820713  211.955280  ...    D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    217.927279  206.897086  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1    226.203068  216.721695  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2    217.951303  206.870546  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3    224.833212  218.921597  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4    226.337473  216.971593  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png
..          ...         ...  ...   ...                                       ...
155  220.892379  212.015259  ...    D4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
156  220.911127  212.077753  ...    D4  094AD7F5-5108-42D2-83AE-4B037D362173.png
157  220.781268  211.366610  ...    D4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
158  220.856343  211.281633  ...    D4  2AC65698-9959-467C-BF00-EC65879EEB15.png
159  220.820713  211.955280  ...    D4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('B4_4.csv', index=False)