<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.3 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.0 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 4.1 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [116]:
AA = os.path.join(path,'BB1.xlsx')

In [158]:
A1_set1= pd.read_excel(AA, sheet_name='B4Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    34B2D0A4-AE20-440B-976D-34704AC67DBF.png  ...  ค่า duration 1/90 ISO 171
1    749D68C6-4CBE-4281-936D-2E903F24C84B.png  ...  ค่า duration 1/90 ISO 171
2    FF438080-DFCE-4992-80C7-BC7FD4258D18.png  ...  ค่า duration 1/90 ISO 171
3    94EA0AEE-7090-4878-B886-C6D839442A90.png  ...  ค่า duration 1/90 ISO 171
4    1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  4699C95A-7085-450D-A592-1729F1F2C94A.png  ...  ค่า duration 1/90 ISO 171
157  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png  ...  ค่า duration 1/90 ISO 171
158  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png  ...  ค่า duration 1/90 ISO 171
159  F5D507EF-434F-4ADC-BBBE-986731389D0F.png  ...  ค่า duration 1/90 ISO 171
160  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [159]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [160]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [161]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [162]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    34B2D0A4-AE20-440B-976D-34704AC67DBF.png  ...  ค่า duration 1/90 ISO 171
1    749D68C6-4CBE-4281-936D-2E903F24C84B.png  ...  ค่า duration 1/90 ISO 171
2    FF438080-DFCE-4992-80C7-BC7FD4258D18.png  ...  ค่า duration 1/90 ISO 171
3    94EA0AEE-7090-4878-B886-C6D839442A90.png  ...  ค่า duration 1/90 ISO 171
4    1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  4699C95A-7085-450D-A592-1729F1F2C94A.png  ...  ค่า duration 1/90 ISO 171
157  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png  ...  ค่า duration 1/90 ISO 171
158  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png  ...  ค่า duration 1/90 ISO 171
159  F5D507EF-434F-4ADC-BBBE-986731389D0F.png  ...  ค่า duration 1/90 ISO 171
160  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [163]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [164]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    B4   A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    B4   A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    B4   A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    B4   A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..   ..  ...                                       ...
156  B4   D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  B4   D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  B4   D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  B4   D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  B4   D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 3 columns]

In [165]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B4   A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    B4   A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    B4   A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    B4   A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    B4   A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..   ..  ...                                       ...
156  B4   D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  B4   D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  B4   D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  B4   D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  B4   D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 3 columns]

In [166]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  34B2D0A4-AE20-440B-976D-34704AC67DBF.png  ...  ค่า duration 1/90 ISO 171
1  749D68C6-4CBE-4281-936D-2E903F24C84B.png  ...  ค่า duration 1/90 ISO 171
2  FF438080-DFCE-4992-80C7-BC7FD4258D18.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [167]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [168]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [169]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [170]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [171]:
list_total1

[[238.0432594756919, 223.6830614398182, 190.1715769823878],
 [237.12158104049996, 223.94107621134648, 195.4981738495252],
 [233.9626653680708, 221.1373265157049, 192.73581689797905]]

In [172]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [173]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [174]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [175]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [176]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  21.006574  85.287233  238.877364  21.096258  48.553202  242.479344    Set1
1  20.812678  79.221654  237.397289  20.665287  42.306387  241.450207    Set1
2  20.910478  83.009577  234.053161  20.369288  43.937343  239.474880    Set1

In [177]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [178]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [179]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [180]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    238.309228  213.735573  158.551741  242.479344  228.752942  196.386495
1    236.844574  213.760815  162.983281  241.450207  229.018586  201.484944
2    233.043178  209.123042  156.565863  239.474880  226.332116  198.275627
3    233.025485  209.200308  156.447853  239.889619  226.524227  198.212483
4    236.346482  213.261992  162.219219  241.479994  228.823229  200.937586
..          ...         ...         ...         ...         ...         ...
156  244.193815  217.482104  156.845548  244.219057  223.654979  168.473825
157  244.788004  218.641912  157.944729  244.800260  224.654087  169.798880
158  243.954468  218.124259  156.431134  244.205746  224.626410  169.721451
159  244.464410  218.945865  156.996754  244.357763  224.663096  169.158348
160  244.378460  218.995617  156.672997  244.367097  225.234153  169.245516

[161 rows x 6 columns]

In [181]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [182]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.967779  85.414577  238.309228  21.096258  48.553202  242.479344    Set1
1    20.789546  79.582907  236.844574  20.665287  42.306387  241.450207    Set1
2    20.866001  83.728188  233.043178  20.369288  43.937343  239.474880    Set1
3    20.887590  83.860644  233.025485  20.308498  44.375213  239.889619    Set1
4    20.822579  80.041474  236.346482  20.604253  42.891080  241.479994    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.803993  91.243974  244.193815  21.959500  79.186917  244.219057    Set1
157  20.968184  90.516111  244.788004  22.030760  78.230420  244.800260    Set1
158  21.220437  91.539729  243.954468  22.270920  77.909179  244.205746    Set1
159  21.343235  91.295836  244.464410  22.225306  78.569353  244.357763    Set1
160  21.457025  91.552877  244.378460  22.545004  78.531045  244.367097    Set1

[161 rows x 7 columns]

In [183]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    238.309228  213.735573  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    236.844574  213.760815  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    233.043178  209.123042  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    233.025485  209.200308  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    236.346482  213.261992  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..          ...         ...  ...   ...                                       ...
156  244.193815  217.482104  ...    D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  244.788004  218.641912  ...    D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  243.954468  218.124259  ...    D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  244.464410  218.945865  ...    D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  244.378460  218.995617  ...    D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 16 columns]

#Datapoint 2

In [184]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [185]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [186]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    238.232611  213.646457  158.468955  242.416038  228.687201  196.321484
1    236.772015  213.670806  162.890512  241.386819  228.948218  201.416119
2    232.942537  208.996023  156.430241  239.409626  226.259719  198.203230
3    232.931418  209.075806  156.304521  239.814869  226.439331  198.129210
4    236.274328  213.176528  162.133918  241.422206  228.754484  200.869248
..          ...         ...         ...         ...         ...         ...
156  244.130915  217.404594  156.781024  244.182859  223.598247  168.429267
157  244.733626  218.570814  157.889457  244.760166  224.604415  169.753267
158  243.898385  218.046344  156.354436  244.168980  224.578119  169.675351
159  244.413846  218.881260  156.942294  244.322620  224.609447  169.120851
160  244.328788  218.919893  156.610097  244.331061  225.175229  169.191543

[161 rows x 6 columns]

In [187]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [188]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.964532  85.449720  238.232611  21.094148  48.569028  242.416038    Set1
1    20.785569  79.630062  236.772015  20.660742  42.323919  241.386819    Set1
2    20.860401  83.801558  232.942537  20.365474  43.958364  239.409626    Set1
3    20.881747  83.947326  232.931418  20.301031  44.398831  239.814869    Set1
4    20.819252  80.080919  236.274328  20.597598  42.912588  241.422206    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.797581  91.270676  244.130915  21.953575  79.207938  244.182859    Set1
157  20.960961  90.537700  244.733626  22.028326  78.250386  244.760166    Set1
158  21.213457  91.582664  243.898385  22.266374  77.931256  244.168980    Set1
159  21.336174  91.319942  244.413846  22.217028  78.584044  244.322620    Set1
160  21.446879  91.586316  244.328788  22.538511  78.561967  244.331061    Set1

[161 rows x 7 columns]

In [189]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    238.232611  213.646457  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    236.772015  213.670806  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    232.942537  208.996023  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    232.931418  209.075806  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    236.274328  213.176528  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..          ...         ...  ...   ...                                       ...
156  244.130915  217.404594  ...    D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  244.733626  218.570814  ...    D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  243.898385  218.046344  ...    D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  244.413846  218.881260  ...    D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  244.328788  218.919893  ...    D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 16 columns]

#Datapoint 3

In [190]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [191]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [192]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    236.782729  211.710332  156.485675  241.302167  227.513108  195.213051
1    235.233423  211.929064  160.875659  240.449639  227.862592  200.424235
2    231.207451  207.049265  154.452480  238.324081  225.184806  197.253713
3    231.382031  207.190325  154.326759  238.676568  225.324487  197.167357
4    234.891648  211.484863  160.225469  240.605227  227.682169  199.848551
..          ...         ...         ...         ...         ...         ...
156  243.011363  215.714390  155.243974  243.303547  222.308011  167.258908
157  243.542570  216.867706  156.327733  243.817628  223.324568  168.548332
158  242.674134  216.218976  154.414658  243.311014  223.373509  168.458404
159  243.200471  217.162893  155.199903  243.474556  223.383410  167.952520
160  243.218732  217.208993  154.872007  243.543057  223.946514  168.043341

[161 rows x 6 columns]

In [193]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [194]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.836702  86.548251  236.782729  21.047074  48.791738  241.302167    Set1
1    20.779726  80.655385  235.233423  20.526256  42.551010  240.449639    Set1
2    20.805373  84.700187  231.207451  20.343397  44.035549  238.324081    Set1
3    20.819739  84.975895  231.382031  20.276520  44.426021  238.676568    Set1
4    20.770798  81.112816  234.891648  20.432432  43.280416  240.605227    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.635095  92.131807  243.011363  21.813083  79.807240  243.303547    Set1
157  20.808782  91.365230  243.542570  21.926954  78.836539  243.817628    Set1
158  21.040013  92.793604  242.674134  22.148608  78.586803  243.311014    Set1
159  21.171739  92.336093  243.200471  22.088548  79.205016  243.474556    Set1
160  21.260287  92.666261  243.218732  22.403376  79.206233  243.543057    Set1

[161 rows x 7 columns]

In [195]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    236.782729  211.710332  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    235.233423  211.929064  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    231.207451  207.049265  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    231.382031  207.190325  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    234.891648  211.484863  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..          ...         ...  ...   ...                                       ...
156  243.011363  215.714390  ...    D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  243.542570  216.867706  ...    D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  242.674134  216.218976  ...    D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  243.200471  217.162893  ...    D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  243.218732  217.208993  ...    D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 16 columns]

#Datapoint 4

In [196]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [197]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [198]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    234.919406  209.385034  154.032871  240.039769  226.153072  193.884344
1    233.319942  209.632335  158.115819  239.214106  226.448340  199.100317
2    229.382923  205.045126  152.812028  236.863891  224.078078  196.386819
3    229.600357  205.208019  152.854233  237.261018  224.173119  196.309715
4    233.144469  209.237643  157.667722  239.363039  226.262641  198.497606
..          ...         ...         ...         ...         ...         ...
156  241.292833  213.234234  152.683630  242.066066  220.671293  165.543219
157  241.824040  214.458242  153.770798  242.516922  221.629413  166.764305
158  241.061440  213.726483  151.712848  242.104131  221.736547  166.693450
159  241.662446  214.873793  152.695642  242.401428  221.836133  166.366042
160  241.606769  214.848227  152.247058  242.409788  222.295512  166.404675

[161 rows x 6 columns]

In [199]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [200]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.721289  87.867056  234.919406  20.981089  49.114520  240.039769    Set1
1    20.758461  82.232692  233.319942  20.380164  42.873468  239.214106    Set1
2    20.725022  85.148040  229.382923  20.490707  43.673728  236.863891    Set1
3    20.713173  85.262479  229.600357  20.358818  44.104212  237.261018    Set1
4    20.680140  82.590374  233.144469  20.287639  43.620891  239.363039    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.439088  93.693207  241.292833  21.693531  80.725834  242.066066    Set1
157  20.629738  92.918919  241.824040  21.823066  79.763412  242.516922    Set1
158  20.818684  94.577145  241.061440  22.023618  79.560669  242.104131    Set1
159  20.962990  93.946352  241.662446  21.968671  80.093742  242.401428    Set1
160  21.085464  94.358250  241.606769  22.231475  80.097232  242.409788    Set1

[161 rows x 7 columns]

In [201]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    234.919406  209.385034  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    233.319942  209.632335  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    229.382923  205.045126  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    229.600357  205.208019  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    233.144469  209.237643  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..          ...         ...  ...   ...                                       ...
156  241.292833  213.234234  ...    D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  241.824040  214.458242  ...    D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  241.061440  213.726483  ...    D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  241.662446  214.873793  ...    D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  241.606769  214.848227  ...    D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 16 columns]

#Datapoint 5

In [202]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [203]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [204]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    233.128480  207.307443  151.940183  238.853827  225.018667  192.863323
1    231.482347  207.587290  155.782972  238.099911  225.392419  198.185780
2    227.300381  203.126857  151.750426  235.115900  222.822985  195.728918
3    227.585261  203.256229  151.879636  235.496145  222.910803  195.669994
4    231.493223  207.264345  155.552553  238.316289  225.233747  197.765279
..          ...         ...         ...         ...         ...         ...
156  239.521873  210.933203  150.135947  240.798555  219.077835  163.972080
157  240.170847  212.270595  151.363039  241.190325  220.004464  165.202743
158  239.504748  211.422125  149.306144  240.842383  220.075643  164.910316
159  240.041149  212.496794  149.996023  241.054703  220.003084  164.463193
160  239.994481  212.551173  149.712523  241.102751  220.508238  164.671131

[161 rows x 6 columns]

In [205]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [206]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.658956  88.866488  233.128480  20.995211  49.190163  238.853827    Set1
1    20.760084  83.431458  231.482347  20.374239  42.876552  238.099911    Set1
2    20.637286  84.763980  227.300381  20.617401  42.802532  235.115900    Set1
3    20.579661  84.831020  227.585261  20.509050  43.205259  235.496145    Set1
4    20.616184  83.682250  231.493223  20.213700  43.484133  238.316289    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.351514  95.216379  239.521873  21.616184  81.476098  240.798555    Set1
157  20.521062  94.358169  240.170847  21.740200  80.450532  241.190325    Set1
158  20.628033  96.114276  239.504748  21.904147  80.518627  240.842383    Set1
159  20.769986  95.735330  240.041149  21.839542  81.129291  241.054703    Set1
160  20.903823  95.994887  239.994481  22.061521  80.978330  241.102751    Set1

[161 rows x 7 columns]

In [207]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    233.128480  207.307443  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    231.482347  207.587290  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    227.300381  203.126857  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    227.585261  203.256229  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    231.493223  207.264345  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..          ...         ...  ...   ...                                       ...
156  239.521873  210.933203  ...    D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  240.170847  212.270595  ...    D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  239.504748  211.422125  ...    D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  240.041149  212.496794  ...    D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  239.994481  212.551173  ...    D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[161 rows x 16 columns]

In [208]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    238.309228  213.735573  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1    236.844574  213.760815  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2    233.043178  209.123042  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3    233.025485  209.200308  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4    236.346482  213.261992  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
..          ...         ...  ...   ...                                       ...
156  239.521873  210.933203  ...    D4  4699C95A-7085-450D-A592-1729F1F2C94A.png
157  240.170847  212.270595  ...    D4  062F57C6-7C28-40AB-B7AD-0B8BF2D523A1.png
158  239.504748  211.422125  ...    D4  A23D1F91-F2B3-4745-A15B-C220BEF90DF0.png
159  240.041149  212.496794  ...    D4  F5D507EF-434F-4ADC-BBBE-986731389D0F.png
160  239.994481  212.551173  ...    D4  EFC0E91C-5C00-4EB2-B01A-0723D2E9AE3B.png

[805 rows x 16 columns]

In [214]:
st1.to_csv('B4_1.csv', index=False)