<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 5.8 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.8 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 28.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [438]:
AA = os.path.join(path,'CC1.xlsx')

In [440]:
A1_set1= pd.read_excel(AA, sheet_name='C1Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0    B89A222A-3234-4967-A308-F5A62CCCD364.png  ...  ค่า duration 1/100 ISO 630
1    41955A6C-4962-4CEC-B8F3-08A956E916B4.png  ...  ค่า duration 1/100 ISO 630
2    F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png  ...  ค่า duration 1/100 ISO 630
3    03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png  ...  ค่า duration 1/100 ISO 630
4    9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png  ...  ค่า duration 1/100 ISO 630
157  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png  ...  ค่า duration 1/100 ISO 630
158  59A34BD4-794A-41AC-8D86-99287921AA18.png  ...  ค่า duration 1/100 ISO 630
159  D8252690-1ADC-48E3-BF81-5F60678107EA.png  ...  ค่า duration 1/100 ISO 630
160  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [441]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [442]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [443]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [444]:
A1_set1

                                          Img  ...                    หมายเหตุ
0    B89A222A-3234-4967-A308-F5A62CCCD364.png  ...  ค่า duration 1/100 ISO 630
1    41955A6C-4962-4CEC-B8F3-08A956E916B4.png  ...  ค่า duration 1/100 ISO 630
2    F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png  ...  ค่า duration 1/100 ISO 630
3    03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png  ...  ค่า duration 1/100 ISO 630
4    9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png  ...  ค่า duration 1/100 ISO 630
157  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png  ...  ค่า duration 1/100 ISO 630
158  59A34BD4-794A-41AC-8D86-99287921AA18.png  ...  ค่า duration 1/100 ISO 630
159  D8252690-1ADC-48E3-BF81-5F60678107EA.png  ...  ค่า duration 1/100 ISO 630
160  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [445]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [446]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C1   A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    C1   A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    C1   A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    C1   A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    C1   A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..   ..  ...                                       ...
156  C1   D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  C1   D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  C1   D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  C1   D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  C1   D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 3 columns]

In [447]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C1   A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    C1   A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    C1   A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    C1   A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    C1   A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..   ..  ...                                       ...
156  C1   D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  C1   D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  C1   D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  C1   D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  C1   D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 3 columns]

In [448]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                    หมายเหตุ
0  B89A222A-3234-4967-A308-F5A62CCCD364.png  ...  ค่า duration 1/100 ISO 630
1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png  ...  ค่า duration 1/100 ISO 630
2  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [449]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [450]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [451]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [452]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [453]:
list_total1

[[226.89246002759515, 208.0388767145524, 165.10664718772827],
 [220.76868760652545, 201.59500040581122, 159.4280496712929],
 [220.94407921434947, 201.96826556286015, 159.22230338446553]]

In [454]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [455]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [456]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [457]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [458]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  21.348105  65.589481  230.215729  21.071017  64.047074  235.627222    Set1
1  20.784190  72.082785  225.964126  21.008766  68.718611  230.305657    Set1
2  20.999594  71.992614  226.260612  21.160864  68.983037  229.573005    Set1

In [459]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [460]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [461]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [462]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    229.340313  211.447447  169.283662  235.627222  217.509537  176.528366
1    224.584612  204.774450  160.101859  230.305657  211.288694  168.293320
2    224.985959  205.399886  160.539567  229.573005  210.752699  167.527230
3    230.291291  212.894570  170.803344  236.339907  218.195844  177.520331
4    230.758137  213.740687  170.583313  236.379839  218.369451  176.877039
..          ...         ...         ...         ...         ...         ...
156  231.734356  214.644428  171.194140  229.448827  207.005925  150.016882
157  233.395341  216.618294  174.112734  230.652139  207.996429  151.969808
158  233.930444  216.399481  173.074832  231.050158  208.400617  151.764711
159  225.608879  207.662852  161.093824  223.314585  199.039607  141.471309
160  233.183914  215.591835  172.188946  231.052674  208.179531  150.843195

[161 rows x 6 columns]

In [463]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [464]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set2'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.237318  66.888970  229.340313  21.071017  64.047074  235.627222    Set2
1    20.685172  73.288775  224.584612  21.008766  68.718611  230.305657    Set2
2    20.854070  73.111598  224.985959  21.160864  68.983037  229.573005    Set2
3    21.506290  66.031897  230.291535  20.947001  63.543381  236.339907    Set2
4    21.829153  66.632984  230.758137  21.190894  64.275708  236.379839    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.830127  66.726159  231.734356  21.697103  88.361578  229.448827    Set2
157  21.855369  64.889376  233.395341  21.599221  87.086681  230.652139    Set2
158  21.553121  66.423180  233.930444  21.611558  87.629576  231.050158    Set2
159  21.942943  72.996672  225.608879  21.197630  93.519763  223.314585    Set2
160  21.614723  66.792955  233.183914  21.518870  88.648324  231.052674    Set2

[161 rows x 7 columns]

In [465]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    229.340313  211.447447  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    224.584612  204.774450  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    224.985959  205.399886  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    230.291291  212.894570  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    230.758137  213.740687  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..          ...         ...  ...   ...                                       ...
156  231.734356  214.644428  ...    D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  233.395341  216.618294  ...    D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  233.930444  216.399481  ...    D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  225.608879  207.662852  ...    D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  233.183914  215.591835  ...    D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 16 columns]

#Datapoint 2

In [466]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [467]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [468]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    229.221816  211.273436  169.051295  235.476260  217.323432  176.321402
1    224.461732  204.621703  159.922652  230.162000  211.127262  168.103482
2    224.862430  205.244542  160.374077  229.440954  210.603360  167.349160
3    230.163461  212.744664  170.589076  236.210454  218.038390  177.320753
4    230.628845  213.578930  170.360685  236.256716  218.208100  176.677299
..          ...         ...         ...         ...         ...         ...
156  231.629494  214.510592  171.009739  229.318318  206.839948  149.835890
157  233.279198  216.478370  173.911939  230.518627  207.818602  151.782648
158  233.825014  216.251846  172.889619  230.899927  208.206477  151.548007
159  225.478451  207.514569  160.926061  223.187485  198.892379  141.335362
160  233.090252  215.457106  172.006899  230.925899  208.018343  150.662203

[161 rows x 6 columns]

In [469]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [470]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set2'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.220355  67.047723  229.221816  21.061764  64.146254  235.476260    Set2
1    20.672267  73.393150  224.461732  21.005925  68.812759  230.162000    Set2
2    20.838487  73.199821  224.862430  21.159078  69.072803  229.440954    Set2
3    21.508481  66.163704  230.163461  20.944242  63.651895  236.210454    Set2
4    21.827774  66.772665  230.628845  21.182534  64.389335  236.256716    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.828017  66.844250  231.629494  21.689717  88.467981  229.318318    Set2
157  21.857073  65.015664  233.279198  21.589968  87.195844  230.518627    Set2
158  21.540459  66.538998  233.825014  21.602224  87.757406  230.899927    Set2
159  21.938885  73.081406  225.478451  21.192273  93.582339  223.187485    Set2
160  21.605146  66.916646  233.090252  21.511403  88.756838  230.925899    Set2

[161 rows x 7 columns]

In [471]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    229.221816  211.273436  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    224.461732  204.621703  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    224.862430  205.244542  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    230.163461  212.744664  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    230.628845  213.578930  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..          ...         ...  ...   ...                                       ...
156  231.629494  214.510592  ...    D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  233.279198  216.478370  ...    D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  233.825014  216.251846  ...    D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  225.478451  207.514569  ...    D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  233.090252  215.457106  ...    D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 16 columns]

#Datapoint 3

In [472]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [473]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [474]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.159890  208.395341  165.262316  233.017693  214.384384  172.753997
1    221.899846  201.579904  156.791088  227.508968  208.415388  165.308903
2    222.306956  202.200633  157.372941  227.055434  208.119958  164.732652
3    227.842058  210.046993  166.712199  233.947326  215.320185  173.827693
4    228.417255  210.910316  166.714796  234.128886  215.618456  173.402889
..          ...         ...         ...         ...         ...         ...
156  229.641669  211.847821  167.426508  227.238130  204.079214  146.924844
157  230.927441  213.518870  169.932717  228.535427  205.081325  148.845792
158  231.972243  213.518546  169.458323  228.662284  205.262235  148.517003
159  222.833861  204.687931  158.049184  220.691989  196.360360  138.928577
160  231.123691  212.692395  168.309309  228.810324  205.212645  147.674377

[161 rows x 6 columns]

In [475]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [476]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set2'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.983524  69.573898  227.159890  21.002110  66.023294  233.017693    Set2
1    20.422287  74.890674  221.899846  20.973216  69.792225  227.508968    Set2
2    20.556854  74.549955  222.306956  21.117848  70.073046  227.055434    Set2
3    21.583151  68.578524  227.842058  20.929470  65.581365  233.947326    Set2
4    21.852204  69.029137  228.417255  21.128804  66.195195  234.128886    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.717312  69.181641  229.641669  21.525607  90.201526  227.238130    Set2
157  21.787761  67.483808  230.927441  21.410032  89.005276  228.535427    Set2
158  21.280010  68.779076  231.972243  21.429348  89.495577  228.662284    Set2
159  21.890431  74.211833  222.833861  21.181073  94.524552  220.691989    Set2
160  21.388280  69.372859  231.123691  21.327977  90.554013  228.810324    Set2

[161 rows x 7 columns]

In [477]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    227.159890  208.395341  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    221.899846  201.579904  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    222.306956  202.200633  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    227.842058  210.046993  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    228.417255  210.910316  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..          ...         ...  ...   ...                                       ...
156  229.641669  211.847821  ...    D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  230.927441  213.518870  ...    D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  231.972243  213.518546  ...    D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  222.833861  204.687931  ...    D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  231.123691  212.692395  ...    D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 16 columns]

#Datapoint 4

In [478]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [479]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [480]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.578037  205.080513  161.081243  230.055434  211.296973  168.941482
1    219.113627  198.267998  153.984336  224.426508  205.320916  162.530314
2    219.409788  198.984173  154.519438  224.341450  205.402321  162.197062
3    224.967048  206.888240  162.529340  231.212970  212.457106  170.219382
4    225.614398  207.723480  162.540135  231.269134  212.596542  169.823066
..          ...         ...         ...         ...         ...         ...
156  226.973785  208.600276  163.445662  224.198847  200.337878  143.040338
157  228.246733  210.070936  165.508806  225.606769  201.374158  144.768525
158  229.340151  210.068907  165.448259  225.474556  201.406785  144.323432
159  220.109326  201.764629  155.554095  217.771528  193.832725  136.657739
160  228.569515  209.336661  164.193572  225.611963  201.354760  143.486730

[161 rows x 6 columns]

In [481]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [482]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set2'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.767957  72.184969  224.578037  21.092606  67.813246  230.055434    Set2
1    20.137408  75.837026  219.113627  20.883776  70.395747  224.426508    Set2
2    20.367990  75.467413  219.409788  21.090821  70.714309  224.341450    Set2
3    21.662690  70.926386  224.967048  21.045857  67.319860  231.212970    Set2
4    21.877283  71.432270  225.614398  21.171739  67.801234  231.269134    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.587696  71.455969  226.973785  21.360279  92.333739  224.198847    Set2
157  21.618537  70.201201  228.246733  21.238130  91.400860  225.606769    Set2
158  20.989611  71.084003  229.340151  21.277413  91.833942  225.474556    Set2
159  21.740524  74.850337  220.109326  21.268404  94.992452  217.771528    Set2
160  21.114520  71.858453  228.569515  21.159484  92.905202  225.611963    Set2

[161 rows x 7 columns]

In [483]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    224.578037  205.080513  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    219.113627  198.267998  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    219.409788  198.984173  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    224.967048  206.888240  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    225.614398  207.723480  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..          ...         ...  ...   ...                                       ...
156  226.973785  208.600276  ...    D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  228.246733  210.070936  ...    D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  229.340151  210.068907  ...    D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  220.109326  201.764629  ...    D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  228.569515  209.336661  ...    D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 16 columns]

#Datapoint 5

In [484]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [485]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [486]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.141060  201.982550  157.667397  227.150069  208.280253  165.495739
1    216.489895  195.527230  151.996672  221.108108  202.038471  160.042773
2    216.509537  196.214755  152.352650  221.386982  202.428861  159.894570
3    222.487217  203.998701  159.252009  228.446149  209.576820  166.803263
4    222.938560  204.764061  159.151530  228.641912  209.760409  166.927360
..          ...         ...         ...         ...         ...         ...
156  224.575927  205.759273  160.510511  221.805211  197.494440  140.469524
157  225.606525  207.051132  162.193491  223.184157  198.397857  141.897736
158  226.938154  207.058924  162.094879  223.149501  198.503855  141.483321
159  217.703109  199.187079  153.765279  214.772989  191.190407  135.162487
160  226.007548  206.358007  160.854963  223.142846  198.376430  140.798961

[161 rows x 6 columns]

In [487]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [488]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set2'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    20.465871  74.087168  222.141060  21.115981  69.289668  227.150069    Set2
1    20.073208  76.000325  216.489895  20.678598  70.473014  221.108108    Set2
2    20.348835  75.602143  216.509537  20.909504  70.895138  221.386982    Set2
3    21.523740  72.619187  222.487217  21.108189  68.850174  228.446149    Set2
4    21.801802  73.110299  222.938560  21.077672  68.880448  228.641912    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  21.372291  72.834673  224.575927  21.216703  93.530314  221.805211    Set2
157  21.490220  71.788167  225.606525  21.069800  92.902849  223.184157    Set2
158  20.698726  72.909342  226.938154  21.100154  93.366772  223.149501    Set2
159  21.572681  74.940508  217.703109  21.236263  94.484052  214.772989    Set2
160  20.921191  73.544112  226.007548  21.004707  94.164922  223.142846    Set2

[161 rows x 7 columns]

In [489]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    222.141060  201.982550  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    216.489895  195.527230  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    216.509537  196.214755  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    222.487217  203.998701  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    222.938560  204.764061  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..          ...         ...  ...   ...                                       ...
156  224.575927  205.759273  ...    D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  225.606525  207.051132  ...    D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  226.938154  207.058924  ...    D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  217.703109  199.187079  ...    D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  226.007548  206.358007  ...    D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[161 rows x 16 columns]

In [495]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    229.340313  211.447447  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1    224.584612  204.774450  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2    224.985959  205.399886  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3    230.291291  212.894570  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4    230.758137  213.740687  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png
..          ...         ...  ...   ...                                       ...
156  224.575927  205.759273  ...    D4  0F07CFF3-84EF-4A5C-A744-9EF3CD6D2F8A.png
157  225.606525  207.051132  ...    D4  9918D2AD-DE93-4F3F-BB06-EAB847B02103.png
158  226.938154  207.058924  ...    D4  59A34BD4-794A-41AC-8D86-99287921AA18.png
159  217.703109  199.187079  ...    D4  D8252690-1ADC-48E3-BF81-5F60678107EA.png
160  226.007548  206.358007  ...    D4  3B57F238-81FB-49E8-A675-D7E44C9DF3B4.png

[805 rows x 16 columns]

In [497]:
st1.to_csv('C1_2.csv', index=False)