<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png',
 'Color-checkerAA1.xlsx']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 4.8 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.2 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 18.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'Color-checkerCC.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='C4_2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    F4564ADB-E949-41F2-B1AE-49881C179BFC.png  ...  Duration 1/145 ISO 145
1    DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png  ...  Duration 1/145 ISO 145
2    C4845200-9552-4F0D-B70A-6E38D7F535B0.png  ...  Duration 1/145 ISO 145
3    D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png  ...  Duration 1/145 ISO 145
4    72579BBE-9024-420E-8CB6-04E324F2B521.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  338EFCD2-9A75-484F-8507-661E8FE2657F.png  ...  Duration 1/145 ISO 145
156  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png  ...  Duration 1/145 ISO 145
157  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png  ...  Duration 1/145 ISO 145
158  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png  ...  Duration 1/145 ISO 145
159  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    F4564ADB-E949-41F2-B1AE-49881C179BFC.png  ...  Duration 1/145 ISO 145
1    DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png  ...  Duration 1/145 ISO 145
2    C4845200-9552-4F0D-B70A-6E38D7F535B0.png  ...  Duration 1/145 ISO 145
3    D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png  ...  Duration 1/145 ISO 145
4    72579BBE-9024-420E-8CB6-04E324F2B521.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  338EFCD2-9A75-484F-8507-661E8FE2657F.png  ...  Duration 1/145 ISO 145
156  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png  ...  Duration 1/145 ISO 145
157  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png  ...  Duration 1/145 ISO 145
158  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png  ...  Duration 1/145 ISO 145
159  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    C4   A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    C4   A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    C4   A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    C4   A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..   ..  ...                                       ...
155  C4   D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  C4   D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  C4   D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  C4   D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  C4   D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    C4   A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    C4   A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    C4   A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    C4   A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..   ..  ...                                       ...
155  C4   D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  C4   D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  C4   D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  C4   D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  C4   D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  F4564ADB-E949-41F2-B1AE-49881C179BFC.png  C4  ...    สีดำ  Duration 1/145 ISO 145
1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png  C4  ...    สีดำ  Duration 1/145 ISO 145
2  C4845200-9552-4F0D-B70A-6E38D7F535B0.png  C4  ...    สีดำ  Duration 1/145 ISO 145

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[214.17904390877365, 215.63192922652382, 199.18845872899928],
 [214.19600681762844, 215.5650515380245, 199.36669101533965],
 [223.30622514406298, 224.5866406947488, 208.4200957714471]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  26.886454  64.221086  216.006412  32.168006  21.404431  219.348592    Set1
1  26.780456  63.681519  215.829478  32.139924  21.102751  219.259882    Set1
2  29.514406  48.603198  226.779239  32.500203  17.684360  228.163542    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    215.335525  208.978979  160.541514  218.167600  219.337878  200.969970
1    215.147634  208.687769  160.879718  218.124909  219.253389  201.167681
2    225.436409  220.861213  180.981008  226.982388  228.163055  212.453453
3    224.960393  220.547926  179.802776  226.667316  227.814138  211.414901
4    224.792630  220.165896  180.111030  226.058761  227.498417  211.534859
..          ...         ...         ...         ...         ...         ...
155  217.206720  211.247626  168.610015  218.134810  215.937911  177.821281
156  225.975570  221.506534  187.188215  226.286665  225.333658  194.437546
157  225.996348  221.455077  187.300868  226.279604  225.406623  194.445581
158  217.050889  210.852041  169.125477  217.882721  215.661472  178.533317
159  217.220193  211.095447  169.101777  218.160052  215.975246  178.177583

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set6'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.788978  64.928009  215.335525  32.168006  21.404431  219.348592    Set6
1    26.706112  64.329113  215.147634  32.139924  21.102751  219.259882    Set6
2    29.142846  51.035955  225.578606  32.500203  17.684360  228.163542    Set6
3    29.361578  51.941401  225.080269  32.462868  18.463761  227.814950    Set6
4    29.149095  51.479101  224.929795  32.788978  17.989368  227.499472    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.587696  57.070043  217.206720  28.793929  47.175716  218.134810    Set6
156  30.146904  44.575603  226.194789  31.808214  36.621703  226.557503    Set6
157  29.745069  44.431945  226.197224  31.906014  36.595406  226.541190    Set6
158  26.368558  56.324974  217.050889  28.734194  46.089035  217.882721    Set6
159  26.415551  56.483321  217.220193  28.773963  46.782648  218.160052    Set6

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    215.335525  208.978979  ...    A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    215.147634  208.687769  ...    A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    225.436409  220.861213  ...    A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    224.960393  220.547926  ...    A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    224.792630  220.165896  ...    A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..          ...         ...  ...   ...                                       ...
155  217.206720  211.247626  ...    D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  225.975570  221.506534  ...    D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  225.996348  221.455077  ...    D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  217.050889  210.852041  ...    D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  217.220193  211.095447  ...    D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    215.268079  208.889782  160.441928  218.094311  219.265725  200.898141
1    215.081974  208.601656  160.790033  218.053486  219.182696  201.103157
2    225.346887  220.760003  180.729162  226.903255  228.081730  212.349160
3    224.875335  220.448340  179.553283  226.600114  227.741498  211.320916
4    224.710170  220.071585  179.872332  225.989611  227.420015  211.440711
..          ...         ...         ...         ...         ...         ...
155  217.141385  211.164191  168.519844  218.071179  215.868274  177.740281
156  225.879231  221.400373  186.952601  226.220437  225.243081  194.271812
157  225.902849  221.351757  187.069313  226.208830  225.318968  194.278143
158  216.980846  210.760815  169.035468  217.819333  215.591267  178.442659
159  217.154046  211.006493  169.010470  218.092687  215.906420  178.094148

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set6'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.778346  64.984741  215.268079  32.169791  21.411168  219.276439    Set6
1    26.695642  64.375944  215.081974  32.141709  21.101777  219.189189    Set6
2    29.155345  51.240403  225.489084  32.483727  17.715526  228.081974    Set6
3    29.369369  52.147553  224.995211  32.446230  18.491194  227.741904    Set6
4    29.160377  51.676650  224.847334  32.770149  18.012499  227.420907    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.577145  57.115981  217.141385  28.791251  47.209480  218.071179    Set6
156  30.160945  44.751725  226.098450  31.744988  36.735249  226.485837    Set6
157  29.758786  44.607094  226.103725  31.850905  36.706355  226.465141    Set6
158  26.355004  56.365474  216.980846  28.733301  46.132619  217.819333    Set6
159  26.400941  56.529989  217.154046  28.775830  46.814707  218.092687    Set6

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    215.268079  208.889782  ...    A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    215.081974  208.601656  ...    A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    225.346887  220.760003  ...    A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    224.875335  220.448340  ...    A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    224.710170  220.071585  ...    A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..          ...         ...  ...   ...                                       ...
155  217.141385  211.164191  ...    D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  225.879231  221.400373  ...    D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  225.902849  221.351757  ...    D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  216.980846  210.760815  ...    D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  217.154046  211.006493  ...    D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    213.884263  207.151124  159.057950  216.742878  217.985634  199.751968
1    213.719260  206.906663  159.632173  216.697103  217.892460  200.015989
2    222.983686  217.893272  174.245678  225.548494  226.665125  210.646620
3    222.410843  217.447366  172.918188  225.252577  226.320916  209.481860
4    222.241377  217.092119  173.232286  224.695317  225.907556  209.812840
..          ...         ...         ...         ...         ...         ...
155  215.748072  209.473014  167.391202  216.664638  214.425696  176.617320
156  223.402565  218.407678  180.620485  224.411411  222.912751  189.834104
157  223.393718  218.351270  180.855288  224.202419  222.996023  189.810405
158  215.606444  209.040581  167.733301  216.381544  214.314666  177.205097
159  215.768363  209.338447  167.778184  216.761221  214.562860  176.832887

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set6'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.559208  65.388199  213.884263  32.291210  21.361497  217.996348    Set6
1    26.493061  64.525282  213.719260  32.256473  20.958688  217.892460    Set6
2    27.992208  56.125477  223.040419  32.306144  18.138219  226.665125    Set6
3    28.092606  57.094798  222.454103  32.252983  19.060304  226.320916    Set6
4    27.874848  56.614074  222.288613  32.373509  18.245435  225.907556    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.363850  57.157861  215.748072  28.729649  47.149339  216.664638    Set6
156  27.705219  49.126045  223.469280  29.674215  39.522928  224.481373    Set6
157  27.559695  48.828423  223.451181  29.809756  39.359873  224.274085    Set6
158  26.112329  56.624381  215.606444  28.824284  46.183264  216.381544    Set6
159  26.202419  56.696291  215.768363  28.743608  46.991640  216.761221    Set6

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    213.884263  207.151124  ...    A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    213.719260  206.906663  ...    A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    222.983686  217.893272  ...    A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    222.410843  217.447366  ...    A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    222.241377  217.092119  ...    A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..          ...         ...  ...   ...                                       ...
155  215.748072  209.473014  ...    D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  223.402565  218.407678  ...    D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  223.393718  218.351270  ...    D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  215.606444  209.040581  ...    D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  215.768363  209.338447  ...    D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    212.076617  205.123448  158.760490  215.045451  216.414820  198.764711
1    211.941563  204.914374  159.295187  215.042448  216.314260  198.993020
2    220.746125  215.218083  168.640695  223.827693  224.938236  208.614723
3    220.235127  214.827611  167.542570  223.559046  224.626735  207.508806
4    220.037335  214.516273  167.763087  223.077104  224.211346  208.007792
..          ...         ...         ...         ...         ...         ...
155  213.897817  207.504099  166.935963  214.736060  212.689636  176.114114
156  221.336661  215.874117  175.860969  222.560669  220.651327  186.038309
157  221.275627  215.889132  176.312637  222.257528  220.834429  186.057382
158  213.681276  207.121987  167.095122  214.401997  212.628115  176.548089
159  213.873630  207.383735  167.214349  214.855937  212.831183  176.226199

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set6'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.312962  64.078727  212.076617  32.542651  20.797987  216.425534    Set6
1    26.248600  63.294781  211.941563  32.442415  20.413765  216.314260    Set6
2    27.096340  60.241701  220.746125  32.148365  18.569110  224.938236    Set6
3    27.255823  61.059330  220.235127  32.083678  19.468225  224.626735    Set6
4    27.141628  60.650678  220.037335  32.183914  18.470335  224.211346    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  26.158104  55.965425  213.897817  28.749452  45.833293  214.738333    Set6
156  26.664394  52.406947  221.336661  28.683630  41.860157  222.560669    Set6
157  26.687607  51.839461  221.275627  29.005763  41.566594  222.257528    Set6
158  26.021102  55.575278  213.681276  28.937099  44.993426  214.414983    Set6
159  26.049834  55.582501  213.873630  28.744664  45.823147  214.858210    Set6

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    212.076617  205.123448  ...    A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    211.941563  204.914374  ...    A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    220.746125  215.218083  ...    A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    220.235127  214.827611  ...    A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    220.037335  214.516273  ...    A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..          ...         ...  ...   ...                                       ...
155  213.897817  207.504099  ...    D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  221.336661  215.874117  ...    D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  221.275627  215.889132  ...    D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  213.681276  207.121987  ...    D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  213.873630  207.383735  ...    D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    210.165571  203.415713  159.880123  213.082623  214.545086  198.170441
1    210.015177  203.173768  160.214836  213.033033  214.463680  198.417986
2    219.257041  213.396640  166.729567  222.130590  223.459703  207.100154
3    218.797176  213.061764  165.491032  221.950491  223.154939  206.043259
4    218.566594  212.737602  165.620648  221.463274  222.757000  206.535022
..          ...         ...         ...         ...         ...         ...
155  211.927522  205.707816  167.825420  212.556935  210.872494  176.470741
156  219.745881  213.852366  173.853989  221.006168  218.964289  183.987420
157  219.641993  213.901469  174.364824  220.570571  219.225306  184.086194
158  211.720640  205.338771  167.864459  212.236426  210.821768  176.723886
159  211.974921  205.508644  168.028407  212.703595  211.052350  176.459946

[160 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set6'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.209399  60.924438  210.165571  32.950491  19.435517  214.551579    Set6
1    26.136028  60.369856  210.015177  33.048454  19.030274  214.463680    Set6
2    26.896599  61.101777  219.257041  32.486811  18.695804  223.459703    Set6
3    27.079782  62.147796  218.797176  32.291859  19.540378  223.154939    Set6
4    26.971837  61.812109  218.566594  32.435598  18.562698  222.757000    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  25.987501  52.990261  211.927522  28.947163  43.251522  212.617320    Set6
156  26.429186  53.254687  219.745881  28.594351  42.702622  221.006168    Set6
157  26.507183  52.567324  219.641993  29.086519  42.199497  220.570571    Set6
158  25.864134  52.747504  211.720640  29.118253  42.615210  212.284474    Set6
159  25.730866  52.780213  211.974921  28.938479  43.389335  212.740037    Set6

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    210.165571  203.415713  ...    A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    210.015177  203.173768  ...    A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    219.257041  213.396640  ...    A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    218.797176  213.061764  ...    A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    218.566594  212.737602  ...    A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..          ...         ...  ...   ...                                       ...
155  211.927522  205.707816  ...    D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  219.745881  213.852366  ...    D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  219.641993  213.901469  ...    D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  211.720640  205.338771  ...    D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  211.974921  205.508644  ...    D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    215.335525  208.978979  ...    A1  F4564ADB-E949-41F2-B1AE-49881C179BFC.png
1    215.147634  208.687769  ...    A1  DC55AE4F-8DE3-4ED6-A62D-449A5DB81431.png
2    225.436409  220.861213  ...    A1  C4845200-9552-4F0D-B70A-6E38D7F535B0.png
3    224.960393  220.547926  ...    A1  D0BD5EAC-2CCA-40C9-BE92-F8F7F176706C.png
4    224.792630  220.165896  ...    A1  72579BBE-9024-420E-8CB6-04E324F2B521.png
..          ...         ...  ...   ...                                       ...
155  211.927522  205.707816  ...    D4  338EFCD2-9A75-484F-8507-661E8FE2657F.png
156  219.745881  213.852366  ...    D4  A4F0C029-DA7A-4CC1-816D-18D78B2A484B.png
157  219.641993  213.901469  ...    D4  68FAC763-705C-46B7-8DBF-D4F5B3C54DAC.png
158  211.720640  205.338771  ...    D4  0D76FDC5-DE1C-4ACA-B7FB-9288996BFB8B.png
159  211.974921  205.508644  ...    D4  2ABF8A14-F0D4-447C-AC6C-814FAC09CC13.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('C4_6.csv', index=False)