<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerBB.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png',
 'Color-checkerCC.xlsx',
 'Color-checkerAA1.xlsx']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.6 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.5 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 32.8 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'Color-checkerCC.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='C4_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    ED5D3B14-FFCE-4254-8C62-ED55525D258C.png  ...  Duration 1/100 ISO 630
1    8D67FD62-E517-46C1-856F-24AC25B9BADD.png  ...  Duration 1/100 ISO 630
2    4BF28926-50E2-4C01-9219-E0A1F896769B.png  ...  Duration 1/100 ISO 630
3    D17ADF74-4004-48DB-A599-10D74FF864B4.png  ...  Duration 1/100 ISO 630
4    387EAA27-F5DC-48F2-975D-189763B23D31.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  00196612-E725-404D-8888-96C0BB3230EE.png  ...  Duration 1/100 ISO 630
156  4C642F51-5831-4646-AC35-F2800DFC8EAB.png  ...  Duration 1/100 ISO 630
157  AA3D9C26-5969-4315-986F-810CF005027B.png  ...  Duration 1/100 ISO 630
158  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png  ...  Duration 1/100 ISO 630
159  96F02624-0631-4909-AC01-BE4CECF0C3CA.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    ED5D3B14-FFCE-4254-8C62-ED55525D258C.png  ...  Duration 1/100 ISO 630
1    8D67FD62-E517-46C1-856F-24AC25B9BADD.png  ...  Duration 1/100 ISO 630
2    4BF28926-50E2-4C01-9219-E0A1F896769B.png  ...  Duration 1/100 ISO 630
3    D17ADF74-4004-48DB-A599-10D74FF864B4.png  ...  Duration 1/100 ISO 630
4    387EAA27-F5DC-48F2-975D-189763B23D31.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  00196612-E725-404D-8888-96C0BB3230EE.png  ...  Duration 1/100 ISO 630
156  4C642F51-5831-4646-AC35-F2800DFC8EAB.png  ...  Duration 1/100 ISO 630
157  AA3D9C26-5969-4315-986F-810CF005027B.png  ...  Duration 1/100 ISO 630
158  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png  ...  Duration 1/100 ISO 630
159  96F02624-0631-4909-AC01-BE4CECF0C3CA.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  ED5D3B14-FFCE-4254-8C62-ED55525D258C.png
1    C4   A1  8D67FD62-E517-46C1-856F-24AC25B9BADD.png
2    C4   A1  4BF28926-50E2-4C01-9219-E0A1F896769B.png
3    C4   A1  D17ADF74-4004-48DB-A599-10D74FF864B4.png
4    C4   A1  387EAA27-F5DC-48F2-975D-189763B23D31.png
..   ..  ...                                       ...
155  C4   D4  00196612-E725-404D-8888-96C0BB3230EE.png
156  C4   D4  4C642F51-5831-4646-AC35-F2800DFC8EAB.png
157  C4   D4  AA3D9C26-5969-4315-986F-810CF005027B.png
158  C4   D4  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png
159  C4   D4  96F02624-0631-4909-AC01-BE4CECF0C3CA.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  ED5D3B14-FFCE-4254-8C62-ED55525D258C.png
1    C4   A1  8D67FD62-E517-46C1-856F-24AC25B9BADD.png
2    C4   A1  4BF28926-50E2-4C01-9219-E0A1F896769B.png
3    C4   A1  D17ADF74-4004-48DB-A599-10D74FF864B4.png
4    C4   A1  387EAA27-F5DC-48F2-975D-189763B23D31.png
..   ..  ...                                       ...
155  C4   D4  00196612-E725-404D-8888-96C0BB3230EE.png
156  C4   D4  4C642F51-5831-4646-AC35-F2800DFC8EAB.png
157  C4   D4  AA3D9C26-5969-4315-986F-810CF005027B.png
158  C4   D4  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png
159  C4   D4  96F02624-0631-4909-AC01-BE4CECF0C3CA.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  ED5D3B14-FFCE-4254-8C62-ED55525D258C.png  C4  ...    สีดำ  Duration 1/100 ISO 630
1  8D67FD62-E517-46C1-856F-24AC25B9BADD.png  C4  ...    สีดำ  Duration 1/100 ISO 630
2  4BF28926-50E2-4C01-9219-E0A1F896769B.png  C4  ...    สีดำ  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[223.5344533722912, 204.53632010388768, 162.8493628763899],
 [228.8184400616833, 208.89838487135785, 166.0379027676325],
 [223.0578686794903, 202.08773638503368, 160.1510429348267]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref       S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  19.187404  103.124422  211.528691  21.007223  67.407597  231.374888    Set1
1  19.389498   98.426913  217.985634  21.049590  65.517003  235.883938    Set1
2  19.032465  104.507183  210.914374  20.430809  69.100073  230.193815    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    210.101372  179.563834  124.315721  231.374888  212.591592  170.240159
1    216.627384  186.676406  131.675270  235.883938  217.322133  175.330087
2    209.401347  177.355815  122.729892  230.193815  210.117361  167.854801
3    210.132376  178.121500  123.495658  231.186917  211.391364  169.795065
4    216.946676  186.630387  133.071910  236.981495  217.269540  175.959094
..          ...         ...         ...         ...         ...         ...
155  215.744095  187.838649  134.990829  224.481292  201.834916  147.558802
156  207.918432  177.591186  122.442253  218.044152  193.362795  136.647188
157  216.062738  187.857479  133.564402  224.404026  201.667965  146.754971
158  216.384547  187.952926  134.328058  225.151773  202.141060  148.100560
159  206.987988  177.199253  121.872169  217.335281  193.234478  136.664232

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set5'
t11

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.112329  104.107378  210.101372  ...  67.407597  231.374888     Set5
1    19.280578  100.186024  216.627384  ...  65.517003  235.883938     Set5
2    19.011687  105.640614  209.401347  ...  69.100073  230.193815     Set5
3    18.933122  105.226524  210.132376  ...  67.730541  231.186917     Set5
4    19.061602   98.825664  216.947326  ...  65.728106  236.981495     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.671618   95.604009  215.744095  ...  87.533317  224.481292     Set5
156  19.128967  104.942781  207.918432  ...  95.260044  218.044152     Set5
157  19.746530   97.539242  216.062738  ...  88.386008  224.404026     Set5
158  19.537375   96.897086  216.384547  ...  87.435192  225.151773     Set5
159  19.419690  104.975895  206.987988  ...  94.744420  217.335281     Set5

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    210.101372  179.563834  ...    A1  ED5D3B14-FFCE-4254-8C62-ED55525D258C.png
1    216.627384  186.676406  ...    A1  8D67FD62-E517-46C1-856F-24AC25B9BADD.png
2    209.401347  177.355815  ...    A1  4BF28926-50E2-4C01-9219-E0A1F896769B.png
3    210.132376  178.121500  ...    A1  D17ADF74-4004-48DB-A599-10D74FF864B4.png
4    216.946676  186.630387  ...    A1  387EAA27-F5DC-48F2-975D-189763B23D31.png
..          ...         ...  ...   ...                                       ...
155  215.744095  187.838649  ...    D4  00196612-E725-404D-8888-96C0BB3230EE.png
156  207.918432  177.591186  ...    D4  4C642F51-5831-4646-AC35-F2800DFC8EAB.png
157  216.062738  187.857479  ...    D4  AA3D9C26-5969-4315-986F-810CF005027B.png
158  216.384547  187.952926  ...    D4  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png
159  206.987988  177.199253  ...    D4  96F02624-0631-4909-AC01-BE4CECF0C3CA.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    209.975327  179.419933  124.182940  231.245353  212.453048  170.073533
1    216.465060  186.461002  131.409220  235.745638  217.164922  175.143251
2    209.270757  177.203311  122.579255  230.071423  209.974759  167.693288
3    209.992777  177.961367  123.342505  231.051863  211.234153  169.632416
4    216.769418  186.385602  132.758380  236.849931  217.130347  175.786056
..          ...         ...         ...         ...         ...         ...
155  215.647350  187.701648  134.819576  224.360847  201.673890  147.347050
156  207.743121  177.375619  122.202094  217.931905  193.214349  136.471147
157  215.934827  187.684360  133.357357  224.310121  201.540459  146.593864
158  216.264508  187.792387  134.127668  225.054054  202.003409  147.915672
159  206.802370  176.992046  121.631199  217.217515  193.091876  136.493548

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set5'
t22

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.105998  104.178963  209.975327  ...  67.484944  231.245353     Set5
1    19.271812  100.380245  216.465060  ...  65.605551  235.745638     Set5
2    19.007629  105.729649  209.270757  ...  69.179531  230.071423     Set5
3    18.925168  105.311420  209.992777  ...  67.798961  231.051863     Set5
4    19.048616   99.056408  216.769418  ...  65.808944  236.849931     Set5
..         ...         ...         ...  ...        ...         ...      ...
155  19.663907   95.737846  215.647350  ...  87.682899  224.360847     Set5
156  19.119552  105.107865  207.743121  ...  95.382761  217.931905     Set5
157  19.735411   97.691502  215.934827  ...  88.500609  224.310121     Set5
158  19.527879   97.047805  216.264508  ...  87.571382  225.054054     Set5
159  19.418716  105.133593  206.802370  ...  94.857804  217.217515     Set5

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    209.975327  179.419933  ...    A1  ED5D3B14-FFCE-4254-8C62-ED55525D258C.png
1    216.465060  186.461002  ...    A1  8D67FD62-E517-46C1-856F-24AC25B9BADD.png
2    209.270757  177.203311  ...    A1  4BF28926-50E2-4C01-9219-E0A1F896769B.png
3    209.992777  177.961367  ...    A1  D17ADF74-4004-48DB-A599-10D74FF864B4.png
4    216.769418  186.385602  ...    A1  387EAA27-F5DC-48F2-975D-189763B23D31.png
..          ...         ...  ...   ...                                       ...
155  215.647350  187.701648  ...    D4  00196612-E725-404D-8888-96C0BB3230EE.png
156  207.743121  177.375619  ...    D4  4C642F51-5831-4646-AC35-F2800DFC8EAB.png
157  215.934827  187.684360  ...    D4  AA3D9C26-5969-4315-986F-810CF005027B.png
158  216.264508  187.792387  ...    D4  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png
159  206.802370  176.992046  ...    D4  96F02624-0631-4909-AC01-BE4CECF0C3CA.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    207.375619  176.787436  121.868111  229.107378  210.139193  167.621459
1    213.969077  183.055921  127.643292  233.177502  214.094067  171.518708
2    206.775424  174.458648  120.091064  228.070043  207.606607  165.146011
3    207.602305  175.337960  121.107378  228.941644  208.767714  167.089116
4    214.200633  182.989449  128.478614  234.168899  214.134648  172.126370
..          ...         ...         ...         ...         ...         ...
155  212.890106  184.063388  130.422612  221.929389  198.499554  143.256310
156  204.753754  174.094392  118.932148  215.830533  190.710170  134.091632
157  213.033845  183.815275  129.015745  222.027676  198.533317  142.794903
158  213.209967  183.855612  129.343966  222.763331  199.030679  143.799529
159  203.651733  173.651733  118.220193  215.069231  190.666261  134.137408

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set5'
t33

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    204.483727  174.297865  120.272705  226.666099  207.637611  165.476828
1    210.804399  179.237887  123.598734  231.235452  211.763169  169.054703
2    204.096421  171.856505  118.477721  225.938885  205.164516  162.959500
3    205.029624  172.755539  119.559289  226.821037  206.316452  164.776642
4    211.294862  179.352001  124.280740  232.091713  211.787030  169.518789
..          ...         ...         ...         ...         ...         ...
155  209.852366  180.226361  126.002435  219.335606  195.190325  139.086762
156  201.477315  170.901144  116.084571  212.859833  187.744907  131.362471
157  210.001867  179.917539  124.789384  219.657820  195.410275  139.001623
158  209.891730  179.783378  124.608473  220.098044  195.700106  139.428050
159  200.302816  170.339989  115.316695  212.132213  187.845873  131.602792

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set5'
t44

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set5'
t55

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    210.101372  179.563834  ...    A1  ED5D3B14-FFCE-4254-8C62-ED55525D258C.png
1    216.627384  186.676406  ...    A1  8D67FD62-E517-46C1-856F-24AC25B9BADD.png
2    209.401347  177.355815  ...    A1  4BF28926-50E2-4C01-9219-E0A1F896769B.png
3    210.132376  178.121500  ...    A1  D17ADF74-4004-48DB-A599-10D74FF864B4.png
4    216.946676  186.630387  ...    A1  387EAA27-F5DC-48F2-975D-189763B23D31.png
..          ...         ...  ...   ...                                       ...
155  206.612856  176.442253  ...    D4  00196612-E725-404D-8888-96C0BB3230EE.png
156  197.937180  167.875335  ...    D4  4C642F51-5831-4646-AC35-F2800DFC8EAB.png
157  206.495901  175.814220  ...    D4  AA3D9C26-5969-4315-986F-810CF005027B.png
158  206.343722  175.673809  ...    D4  6333E1FA-87D4-4D97-A64C-DF3D387AE861.png
159  196.842464  167.506290  ...    D4  96F02624-0631-4909-AC01-BE4CECF0C3CA.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('C4_5.csv', index=False)