<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.28)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'CC1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='C4Set4')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png  ...  ค่า duration 1/510 ISO 90
1    4820BBED-F65E-4F90-A5EA-283E55866371.png  ...  ค่า duration 1/510 ISO 90
2    2FC399A9-267E-4661-B647-4052082C40FD.png  ...  ค่า duration 1/510 ISO 90
3    93A6C829-4545-4D47-BFB4-721B7DB40A5D.png  ...  ค่า duration 1/510 ISO 90
4    A20513B8-796D-41B5-9512-94978DE63964.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png  ...  ค่า duration 1/510 ISO 90
156  FA4C9517-6C8B-45B7-A5A5-31166E270623.png  ...  ค่า duration 1/510 ISO 90
157  155490BC-336A-49B8-8DB0-3E44C79233C8.png  ...  ค่า duration 1/510 ISO 90
158  040EA918-F713-44A1-915E-B36CD47D9BAD.png  ...  ค่า duration 1/510 ISO 90
159  E3B87A4E-202B-4EB9-B387-E65384E26706.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png  ...  ค่า duration 1/510 ISO 90
1    4820BBED-F65E-4F90-A5EA-283E55866371.png  ...  ค่า duration 1/510 ISO 90
2    2FC399A9-267E-4661-B647-4052082C40FD.png  ...  ค่า duration 1/510 ISO 90
3    93A6C829-4545-4D47-BFB4-721B7DB40A5D.png  ...  ค่า duration 1/510 ISO 90
4    A20513B8-796D-41B5-9512-94978DE63964.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png  ...  ค่า duration 1/510 ISO 90
156  FA4C9517-6C8B-45B7-A5A5-31166E270623.png  ...  ค่า duration 1/510 ISO 90
157  155490BC-336A-49B8-8DB0-3E44C79233C8.png  ...  ค่า duration 1/510 ISO 90
158  040EA918-F713-44A1-915E-B36CD47D9BAD.png  ...  ค่า duration 1/510 ISO 90
159  E3B87A4E-202B-4EB9-B387-E65384E26706.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    C4   A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    C4   A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    C4   A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    C4   A1  A20513B8-796D-41B5-9512-94978DE63964.png
..   ..  ...                                       ...
155  C4   D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  C4   D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  C4   D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  C4   D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  C4   D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    C4   A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    C4   A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    C4   A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    C4   A1  A20513B8-796D-41B5-9512-94978DE63964.png
..   ..  ...                                       ...
155  C4   D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  C4   D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  C4   D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  C4   D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  C4   D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png  ...  ค่า duration 1/510 ISO 90
1  4820BBED-F65E-4F90-A5EA-283E55866371.png  ...  ค่า duration 1/510 ISO 90
2  2FC399A9-267E-4661-B647-4052082C40FD.png  ...  ค่า duration 1/510 ISO 90

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[213.94854313773232, 208.29275221167114, 187.4646538430322],
 [212.23723723723722, 212.17271325379434, 184.59045532018504],
 [212.09885561236914, 212.08221735248762, 184.53096339582825]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  28.054785  63.426832  206.426832  25.190325  29.276844  218.765685    Set1
1  29.348024  65.257203  205.203393  31.467576  31.064524  217.320347    Set1
2  29.300463  64.756026  205.628196  31.291535  30.869735  217.372859    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    204.460758  191.779401  152.960474  218.728918  213.325785  193.901794
1    203.112653  195.627546  150.388848  217.082217  217.204123  191.091794
2    203.696616  196.178800  151.406298  217.191137  217.276844  191.324487
3    204.336336  192.744826  152.782566  219.045451  214.668615  193.800828
4    202.898628  195.274004  150.578849  216.810080  216.768201  190.808701
..          ...         ...         ...         ...         ...         ...
155  202.772421  194.431702  149.146660  211.731109  209.248925  167.575521
156  202.579174  194.135622  149.022320  211.458729  208.713416  167.087168
157  202.697833  194.433488  149.170522  211.310608  208.725347  167.001380
158  202.605876  194.543949  149.061034  211.682656  209.379920  167.456294
159  202.678435  194.563591  148.740362  211.416119  209.472851  167.104943

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set4'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.087655  65.681357  204.528123  25.190325  29.276844  218.765685    Set4
1    28.584774  67.642967  203.247951  31.467576  31.064524  217.320347    Set4
2    28.645808  67.003896  203.834835  31.291535  30.869735  217.372859    Set4
3    27.093337  65.761302  204.420826  25.856992  29.693450  219.070530    Set4
4    28.501583  67.263209  203.041393  31.174174  31.090252  217.010389    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  27.053161  68.379190  202.836539  32.740768  55.028244  212.029624    Set4
156  26.673565  68.342667  202.629251  32.752617  55.362958  211.766983    Set4
157  26.968022  68.296810  202.762357  33.140411  55.407029  211.660498    Set4
158  26.913643  68.332116  202.668128  33.052106  55.235533  212.061683    Set4
159  26.969321  68.809675  202.745881  33.273436  55.457187  211.814544    Set4

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    204.460758  191.779401  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    203.112653  195.627546  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    203.696616  196.178800  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    204.336336  192.744826  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    202.898628  195.274004  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png
..          ...         ...  ...   ...                                       ...
155  202.772421  194.431702  ...    D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  202.579174  194.135622  ...    D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  202.697833  194.433488  ...    D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  202.605876  194.543949  ...    D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  202.678435  194.563591  ...    D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    204.272056  191.553689  152.614561  218.622758  213.210697  193.737927
1    202.926142  195.420015  150.043746  216.968266  217.084003  190.924438
2    203.513514  195.972892  151.055353  217.058924  217.140411  191.132781
3    204.147715  192.529178  152.439575  218.938073  214.552877  193.632416
4    202.702540  195.055028  150.229364  216.699050  216.650028  190.643373
..          ...         ...         ...         ...         ...         ...
155  202.641831  194.287233  148.892460  211.551497  209.045776  167.223764
156  202.449882  193.992533  148.767714  211.278468  208.507832  166.742391
157  202.550199  194.275627  148.900414  211.134810  208.523091  166.659849
158  202.476585  194.395341  148.808538  211.505722  209.175635  167.107053
159  202.550929  194.409058  148.486730  211.241458  209.270351  166.759516

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set4'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.023943  65.913481  204.338771  25.100641  29.352893  218.659037    Set4
1    28.495009  67.872494  203.056732  31.415632  31.130184  217.200146    Set4
2    28.577064  67.243243  203.647675  31.232368  30.945134  217.236588    Set4
3    26.982144  65.985310  204.229527  25.821443  29.773152  218.962260    Set4
4    28.400698  67.489571  202.841815  31.124016  31.158104  216.894246    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  26.975570  68.570327  202.705949  32.654168  55.252820  211.844493    Set4
156  26.686551  68.536807  202.499959  32.664962  55.577226  211.579661    Set4
157  26.906339  68.487055  202.614236  33.056245  55.622677  211.477640    Set4
158  26.919162  68.521711  202.538593  32.956578  55.458891  211.878094    Set4
159  26.956091  69.002110  202.618294  33.190975  55.681195  211.634039    Set4

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    204.272056  191.553689  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    202.926142  195.420015  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    203.513514  195.972892  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    204.147715  192.529178  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    202.702540  195.055028  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png
..          ...         ...  ...   ...                                       ...
155  202.641831  194.287233  ...    D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  202.449882  193.992533  ...    D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  202.550199  194.275627  ...    D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  202.476585  194.395341  ...    D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  202.550929  194.409058  ...    D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    200.447285  187.053811  145.580959  216.719990  211.184888  190.943186
1    199.079214  191.119958  143.045938  215.049590  215.009658  188.015259
2    199.790520  191.871520  144.125558  215.139193  215.146579  188.297216
3    200.412061  188.132376  145.411574  217.002678  212.445094  190.692801
4    198.756107  190.643860  143.137083  214.721857  214.546303  187.703839
..          ...         ...         ...         ...         ...         ...
155  199.173444  190.414739  142.616021  208.062576  205.006331  160.156237
156  198.970051  190.161432  142.524389  207.758623  204.488434  159.776236
157  199.034819  190.409464  142.647594  207.703595  204.550523  159.749777
158  199.170847  190.577226  142.686551  208.073371  205.159159  160.074020
159  199.128155  190.523659  142.369775  207.803182  205.186917  159.696047

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set4'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    24.249980  70.535022  200.479994  24.776155  30.599545  216.752293    Set4
1    26.908855  72.463274  199.141466  30.782810  32.355004  215.158591    Set4
2    27.096664  71.924681  199.862511  30.831994  32.148446  215.247139    Set4
3    24.564646  70.688012  200.454914  25.295106  31.125152  217.015340    Set4
4    26.746368  72.096096  198.819576  30.668452  32.389254  214.820875    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.847090  72.721127  199.189757  30.315965  59.789952  208.206152    Set4
156  25.874442  72.663096  198.985066  30.269377  59.968590  207.915591    Set4
157  25.913806  72.588832  199.057706  30.668858  59.992533  207.864297    Set4
158  25.978979  72.660985  199.188865  30.729567  60.012742  208.274004    Set4
159  25.971187  73.027108  199.152017  30.846685  60.236507  207.998133    Set4

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    200.447285  187.053811  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    199.079214  191.119958  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    199.790520  191.871520  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    200.412061  188.132376  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    198.756107  190.643860  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png
..          ...         ...  ...   ...                                       ...
155  199.173444  190.414739  ...    D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  198.970051  190.161432  ...    D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  199.034819  190.409464  ...    D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  199.170847  190.577226  ...    D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  199.128155  190.523659  ...    D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    196.943917  182.982631  139.310202  214.348673  208.613830  187.710738
1    195.636799  187.383248  137.308011  212.684604  212.560182  184.790601
2    195.923707  187.664556  137.388524  212.518870  212.444363  184.665774
3    197.039120  184.232124  139.372291  214.650110  209.859102  187.473419
4    195.125964  186.777534  137.050970  212.285772  212.015989  184.402159
..          ...         ...         ...         ...         ...         ...
155  196.429835  187.623245  138.644996  203.984823  200.374401  152.387631
156  196.218895  187.340232  138.466034  203.662040  199.889944  152.068907
157  196.311663  187.630062  138.608392  203.658469  200.005925  152.075319
158  196.517247  187.748072  138.618619  204.041555  200.559938  152.293402
159  196.390228  187.655385  138.328951  203.732002  200.438844  151.831832

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set4'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.604983  74.658063  196.943917  23.429754  31.742797  214.348673    Set4
1    25.734843  76.027108  195.636799  29.875903  33.467495  212.698239    Set4
2    25.673728  76.206233  195.923707  29.925899  33.440062  212.525444    Set4
3    23.093499  74.642156  197.039120  24.453697  32.332197  214.650110    Set4
4    25.704001  75.904716  195.125964  29.730217  33.509293  212.285772    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.584774  75.005357  196.429835  28.124097  64.586235  203.984823    Set4
156  25.551497  75.032871  196.218895  28.046506  64.668371  203.662040    Set4
157  25.633147  74.950166  196.311663  28.112816  64.667559  203.658469    Set4
158  25.602873  75.125071  196.517247  28.172551  64.770230  204.041555    Set4
159  25.600682  75.375457  196.390228  28.255580  65.059167  203.732002    Set4

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    196.943917  182.982631  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    195.636799  187.383248  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    195.923707  187.664556  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    197.039120  184.232124  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    195.125964  186.777534  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png
..          ...         ...  ...   ...                                       ...
155  196.429835  187.623245  ...    D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  196.218895  187.340232  ...    D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  196.311663  187.630062  ...    D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  196.517247  187.748072  ...    D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  196.390228  187.655385  ...    D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    195.127506  181.171009  137.596786  212.553202  206.803263  186.186673
1    193.856586  185.716094  135.891080  210.885074  210.731759  183.364256
2    193.975976  185.891730  135.703027  210.719503  210.630306  183.255499
3    195.436491  182.459946  137.793280  212.889782  208.061602  185.889051
4    193.225144  185.051944  135.605227  210.464816  210.194708  183.019641
..          ...         ...         ...         ...         ...         ...
155  194.566025  186.056732  137.446392  202.002110  198.286827  150.257447
156  194.336742  185.746611  137.215486  201.626004  197.833293  149.899440
157  194.556854  186.073858  137.386900  201.642643  197.876877  149.905121
158  194.655547  186.216379  137.376349  202.026378  198.400698  150.106647
159  194.556773  186.115656  137.002110  201.702703  198.295187  149.710007

[160 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set4'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.602143  75.201688  195.127506  23.324892  31.664638  212.553202    Set4
1    25.810405  76.228472  193.856586  29.846685  33.280334  210.892217    Set4
2    25.781998  76.597598  193.975976  29.910803  33.230988  210.724698    Set4
3    23.011200  75.210535  195.436491  24.374645  32.364256  212.889782    Set4
4    25.817872  76.033114  193.225144  29.729567  33.252658  210.464816    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.739794  74.844818  194.566025  28.082299  65.364987  202.002110    Set4
156  25.702946  74.929227  194.336742  28.050645  65.455726  201.626004    Set4
157  25.737684  74.916078  194.556854  28.065092  65.472040  201.642643    Set4
158  25.758786  75.019885  194.655547  28.112329  65.592160  202.026378    Set4
159  25.754078  75.417336  194.556773  28.200795  65.790358  201.702703    Set4

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1 )
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    195.127506  181.171009  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    193.856586  185.716094  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    193.975976  185.891730  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    195.436491  182.459946  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    193.225144  185.051944  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png
..          ...         ...  ...   ...                                       ...
155  194.566025  186.056732  ...    D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  194.336742  185.746611  ...    D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  194.556854  186.073858  ...    D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  194.655547  186.216379  ...    D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  194.556773  186.115656  ...    D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    204.460758  191.779401  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1    203.112653  195.627546  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2    203.696616  196.178800  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3    204.336336  192.744826  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4    202.898628  195.274004  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png
..          ...         ...  ...   ...                                       ...
155  194.566025  186.056732  ...    D4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
156  194.336742  185.746611  ...    D4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
157  194.556854  186.073858  ...    D4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
158  194.655547  186.216379  ...    D4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
159  194.556773  186.115656  ...    D4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('C4_4.csv', index=False)