<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.4 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 3.5 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 44.2 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'CC1.xlsx')

In [173]:
A1_set1= pd.read_excel(AA, sheet_name='C4Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    D5D842D5-1273-4723-A726-1A56F4AE5B90.png  ...  ค่า duration 1/90 ISO 171
1    0323B3D5-373A-4B67-8908-4387145AD384.png  ...  ค่า duration 1/90 ISO 171
2    4059EA80-E8B2-4BD1-865B-98C77A4271AD.png  ...  ค่า duration 1/90 ISO 171
3    9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png  ...  ค่า duration 1/90 ISO 171
4    EF49A765-DB1A-4F23-956C-3110E993E4A1.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  514CE321-E417-46A4-AAC4-F9B75A1047E0.png  ...  ค่า duration 1/90 ISO 171
157  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png  ...  ค่า duration 1/90 ISO 171
158  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png  ...  ค่า duration 1/90 ISO 171
159  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png  ...  ค่า duration 1/90 ISO 171
160  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [174]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [175]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [176]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [177]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    D5D842D5-1273-4723-A726-1A56F4AE5B90.png  ...  ค่า duration 1/90 ISO 171
1    0323B3D5-373A-4B67-8908-4387145AD384.png  ...  ค่า duration 1/90 ISO 171
2    4059EA80-E8B2-4BD1-865B-98C77A4271AD.png  ...  ค่า duration 1/90 ISO 171
3    9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png  ...  ค่า duration 1/90 ISO 171
4    EF49A765-DB1A-4F23-956C-3110E993E4A1.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  514CE321-E417-46A4-AAC4-F9B75A1047E0.png  ...  ค่า duration 1/90 ISO 171
157  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png  ...  ค่า duration 1/90 ISO 171
158  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png  ...  ค่า duration 1/90 ISO 171
159  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png  ...  ค่า duration 1/90 ISO 171
160  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [178]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [179]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    C4   A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    C4   A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    C4   A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    C4   A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..   ..  ...                                       ...
156  C4   D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  C4   D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  C4   D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  C4   D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  C4   D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 3 columns]

In [180]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    C4   A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    C4   A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    C4   A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    C4   A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..   ..  ...                                       ...
156  C4   D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  C4   D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  C4   D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  C4   D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  C4   D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 3 columns]

In [181]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  D5D842D5-1273-4723-A726-1A56F4AE5B90.png  ...  ค่า duration 1/90 ISO 171
1  0323B3D5-373A-4B67-8908-4387145AD384.png  ...  ค่า duration 1/90 ISO 171
2  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [182]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [183]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [184]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [185]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [186]:
list_total1

[[235.3196169142115, 222.68525282038794, 196.72542813083354],
 [235.23666910153398, 222.31101371641913, 195.29218407596787],
 [234.92305819332847, 222.20225631036442, 195.8486324162]]

In [187]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [188]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [189]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [190]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [191]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  18.534372  76.145524  226.941401  19.995211  40.334794  240.666829    Set1
1  18.863810  77.951546  227.017288  20.062414  41.756351  240.615210    Set1
2  18.636799  76.842545  226.653681  19.998620  40.612694  240.093418    Set1

In [192]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [193]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [194]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [195]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.852853  200.187322  158.156968  240.666829  227.906176  202.641669
1    225.812028  200.084084  156.577226  240.615210  227.521143  201.248194
2    225.554825  199.871114  157.255418  240.093418  227.313449  201.876390
3    227.168168  200.489327  157.431215  241.935638  228.331629  201.508887
4    220.914780  195.137164  153.609528  236.367259  223.750345  197.916159
..          ...         ...         ...         ...         ...         ...
156  228.359711  202.001461  149.725834  239.087331  220.440711  167.760409
157  228.232611  201.812109  149.011282  238.867056  219.909748  166.980196
158  228.647918  201.518221  149.477234  238.898953  219.803912  167.229364
159  228.884344  201.724617  149.569840  238.824365  219.774450  166.993345
160  228.455483  202.059248  150.455320  239.173200  220.279523  168.070449

[161 rows x 6 columns]

In [196]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [197]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    18.446068  76.453940  225.852853  19.995211  40.334794  240.666829    Set1
1    18.797419  78.206639  225.812028  20.062414  41.756351  240.615210    Set1
2    18.579336  77.253307  225.554825  19.998620  40.612694  240.093418    Set1
3    18.435760  78.328869  227.168168  19.982712  42.658145  241.935638    Set1
4    18.281065  77.737440  220.914780  20.161026  41.506858  236.367259    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.074750  87.818115  228.359711  22.300787  76.184806  239.087331    Set1
157  20.132132  88.533317  228.232611  22.242594  76.862673  238.867056    Set1
158  19.795796  88.333658  228.647918  22.163217  76.625355  238.899115    Set1
159  19.811217  88.420907  228.884344  22.186592  76.818846  238.824365    Set1
160  19.909179  87.086844  228.455483  22.169142  75.923951  239.173200    Set1

[161 rows x 7 columns]

In [198]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    225.852853  200.187322  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    225.812028  200.084084  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    225.554825  199.871114  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    227.168168  200.489327  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    220.914780  195.137164  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..          ...         ...  ...   ...                                       ...
156  228.359711  202.001461  ...    D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  228.232611  201.812109  ...    D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  228.647918  201.518221  ...    D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  228.884344  201.724617  ...    D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  228.455483  202.059248  ...    D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 16 columns]

#Datapoint 2

In [199]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [200]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [201]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.749371  200.073614  158.066715  240.591997  227.826556  202.561399
1    225.700674  199.966723  156.481860  240.535833  227.442091  201.169142
2    225.447285  199.753429  157.152423  240.015745  227.231881  201.788654
3    227.071179  200.381868  157.345995  241.856667  228.247220  201.420420
4    220.852934  195.079458  153.569759  236.294700  223.691746  197.854720
..          ...         ...         ...         ...         ...         ...
156  228.256392  201.880610  149.601331  239.015340  220.353299  167.651165
157  228.127262  201.682574  148.887266  238.783621  219.815599  166.863485
158  228.536645  201.381300  149.350783  238.818521  219.715121  167.125639
159  228.776885  201.595406  149.439494  238.736872  219.672997  166.871114
160  228.341044  201.923302  150.317588  239.093174  220.183914  167.954062

[161 rows x 6 columns]

In [202]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [203]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    18.438520  76.474556  225.749371  19.991559  40.352406  240.591997    Set1
1    18.791251  78.227985  225.700674  20.060385  41.769418  240.535833    Set1
2    18.573898  77.284230  225.447285  19.997322  40.636069  240.015745    Set1
3    18.427644  78.349890  227.071179  19.980278  42.681195  241.856667    Set1
4    18.277737  77.735086  220.852934  20.169548  41.506615  236.294700    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  20.069962  87.878906  228.256392  22.297541  76.246733  239.015340    Set1
157  20.124259  88.591916  228.127262  22.242188  76.924438  238.783621    Set1
158  19.786219  88.389416  228.536645  22.161919  76.675838  238.818684    Set1
159  19.804805  88.484539  228.776885  22.183183  76.882558  238.736872    Set1
160  19.902686  87.153721  228.341044  22.165003  75.986040  239.093174    Set1

[161 rows x 7 columns]

In [204]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    225.749371  200.073614  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    225.700674  199.966723  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    225.447285  199.753429  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    227.071179  200.381868  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    220.852934  195.079458  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..          ...         ...  ...   ...                                       ...
156  228.256392  201.880610  ...    D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  228.127262  201.682574  ...    D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  228.536645  201.381300  ...    D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  228.776885  201.595406  ...    D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  228.341044  201.923302  ...    D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 16 columns]

#Datapoint 3

In [205]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [206]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [207]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    223.709277  197.884344  156.191868  238.972973  226.290236  201.012742
1    223.628277  197.751400  154.721045  238.864378  225.862430  199.578200
2    223.454590  197.690366  155.369694  238.441523  225.690853  200.116143
3    225.025972  198.215973  155.514650  240.042935  226.456375  199.589563
4    219.396802  193.678111  152.634364  234.805211  222.507183  196.834916
..          ...         ...         ...         ...         ...         ...
156  226.654573  199.983443  147.711793  237.662609  218.705625  165.741498
157  226.398994  199.669832  146.990585  237.330411  218.221086  164.992127
158  226.857073  199.452966  147.556286  237.427482  218.107783  165.243568
159  227.056002  199.655142  147.558396  237.325379  218.078403  164.994075
160  226.671212  199.816330  148.288938  237.591186  218.515056  165.961610

[161 rows x 6 columns]

In [208]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [209]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    18.331142  76.990829  223.709277  20.038309  40.539648  238.972973    Set1
1    18.636069  78.604415  223.628277  20.092850  41.979791  238.864378    Set1
2    18.476585  77.737440  223.454590  20.042367  40.997240  238.441523    Set1
3    18.320834  78.824284  225.025972  19.986852  43.010389  240.042935    Set1
4    18.181479  77.657171  219.396802  20.291454  41.245110  234.805211    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.981170  88.806185  226.654573  22.211022  77.260612  237.662609    Set1
157  20.022401  89.433082  226.398994  22.217758  77.822174  237.330411    Set1
158  19.678598  89.151286  226.857073  22.119552  77.646133  237.427482    Set1
159  19.721127  89.303709  227.056002  22.146741  77.823229  237.325379    Set1
160  19.752212  88.174255  226.671212  22.138057  76.979141  237.591186    Set1

[161 rows x 7 columns]

In [210]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    223.709277  197.884344  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    223.628277  197.751400  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    223.454590  197.690366  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    225.025972  198.215973  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    219.396802  193.678111  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..          ...         ...  ...   ...                                       ...
156  226.654573  199.983443  ...    D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  226.398994  199.669832  ...    D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  226.857073  199.452966  ...    D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  227.056002  199.655142  ...    D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  226.671212  199.816330  ...    D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 16 columns]

#Datapoint 4

In [211]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [212]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [213]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    221.802532  196.060628  154.728106  237.064037  224.583719  199.360685
1    221.782648  195.915916  153.324487  236.951708  224.069962  197.786706
2    221.613018  195.941563  153.960312  236.583394  223.963639  198.373914
3    223.126613  196.448746  154.102508  238.115900  224.643130  197.857560
4    217.837107  192.580472  152.601493  233.118903  221.106972  195.905527
..          ...         ...         ...         ...         ...         ...
156  225.035793  198.154208  145.944891  235.992208  216.876065  163.818846
157  224.794578  197.747017  145.243487  235.615616  216.358331  163.047642
158  225.107621  197.638585  145.807645  235.746206  216.330655  163.191462
159  225.281065  197.784352  145.733950  235.704001  216.282282  163.088873
160  225.003571  197.777128  146.221086  235.839055  216.672754  163.839055

[161 rows x 6 columns]

In [214]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [215]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    18.290480  77.148608  221.802532  20.134973  40.586316  237.064037    Set1
1    18.551254  78.750426  221.782648  20.127344  42.187647  236.951708    Set1
2    18.431377  77.895788  221.613018  20.107621  41.178800  236.583394    Set1
3    18.299976  78.937505  223.126613  20.002029  43.140979  238.115900    Set1
4    18.151692  76.415388  217.837107  20.347537  40.714958  233.118903    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.905446  89.606282  225.035793  22.185050  78.074669  235.992208    Set1
157  19.896112  90.216622  224.794578  22.190244  78.623164  235.615616    Set1
158  19.651165  89.821768  225.107621  22.125152  78.588020  235.746206    Set1
159  19.680464  90.039851  225.281065  22.113302  78.647837  235.704001    Set1
160  19.660661  89.268079  225.003571  22.144306  77.934340  235.839055    Set1

[161 rows x 7 columns]

In [216]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    221.802532  196.060628  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    221.782648  195.915916  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    221.613018  195.941563  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    223.126613  196.448746  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    217.837107  192.580472  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..          ...         ...  ...   ...                                       ...
156  225.035793  198.154208  ...    D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  224.794578  197.747017  ...    D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  225.107621  197.638585  ...    D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  225.281065  197.784352  ...    D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  225.003571  197.777128  ...    D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 16 columns]

#Datapoint 5

In [217]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [218]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [219]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.098125  194.435354  153.514974  235.602711  223.381381  198.301842
1    220.196737  194.508400  152.417499  235.523415  222.896437  196.714309
2    220.022238  194.577551  153.078322  235.179044  222.855450  197.408733
3    221.343803  194.968509  152.928740  236.661878  223.417986  196.824933
4    216.274815  191.804886  153.418473  231.321078  219.699781  195.372048
..          ...         ...         ...         ...         ...         ...
156  223.557990  196.567730  144.439899  234.676812  215.619917  162.800260
157  223.336255  196.043990  143.720315  234.300138  215.065741  162.075562
158  223.436085  196.032140  144.286503  234.434218  215.080919  162.257690
159  223.710251  196.265482  144.441847  234.475692  215.023618  162.030679
160  223.519925  196.176366  144.785082  234.495333  215.469605  162.684198

[161 rows x 6 columns]

In [220]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [221]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    18.286178  77.197874  220.098125  20.253389  40.385521  235.602711    Set1
1    18.471877  78.547358  220.196737  20.226524  42.037740  235.523415    Set1
2    18.379109  77.656278  220.022238  20.227985  40.933203  235.179044    Set1
3    18.321971  78.881016  221.343803  20.072965  42.933122  236.661878    Set1
4    18.136028  74.136515  216.274815  20.348673  39.608636  231.321078    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.857317  90.241620  223.557990  22.191218  78.188296  234.676812    Set1
157  19.788572  90.893759  223.336255  22.163055  78.692314  234.300138    Set1
158  19.660174  90.334145  223.436085  22.113546  78.616671  234.434218    Set1
159  19.651814  90.342261  223.710251  22.096096  78.874523  234.475692    Set1
160  19.613749  89.809593  223.519925  22.190812  78.174823  234.495333    Set1

[161 rows x 7 columns]

In [222]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    220.098125  194.435354  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    220.196737  194.508400  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    220.022238  194.577551  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    221.343803  194.968509  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    216.274815  191.804886  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..          ...         ...  ...   ...                                       ...
156  223.557990  196.567730  ...    D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  223.336255  196.043990  ...    D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  223.436085  196.032140  ...    D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  223.710251  196.265482  ...    D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  223.519925  196.176366  ...    D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[161 rows x 16 columns]

In [223]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    225.852853  200.187322  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1    225.812028  200.084084  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2    225.554825  199.871114  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3    227.168168  200.489327  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4    220.914780  195.137164  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
..          ...         ...  ...   ...                                       ...
156  223.557990  196.567730  ...    D4  514CE321-E417-46A4-AAC4-F9B75A1047E0.png
157  223.336255  196.043990  ...    D4  81F3C204-E1CE-499F-8D5C-D4DE65C9054F.png
158  223.436085  196.032140  ...    D4  EA156C32-3372-4666-B5AA-1E0F0E5C3B37.png
159  223.710251  196.265482  ...    D4  D8A3D7B4-FD6A-4B9C-9B48-78D262AA1A7B.png
160  223.519925  196.176366  ...    D4  538B17E3-7C05-4301-B3DA-42D12ADE5F9F.png

[805 rows x 16 columns]

In [224]:
st1.to_csv('C4_1.csv', index=False)