<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 5.9 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.0 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 42.5 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [63]:
AA = os.path.join(path,'CC1.xlsx')

In [171]:
A1_set1= pd.read_excel(AA, sheet_name='C4Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0    D458FCD6-5D52-48CD-B212-68184F5B135C.png  ...  ค่า duration 1/100 ISO 630
1    0316EB79-14E9-4056-93AC-80D4D57B3DE1.png  ...  ค่า duration 1/100 ISO 630
2    EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png  ...  ค่า duration 1/100 ISO 630
3    1EA15613-AACE-4B44-A2A5-F480B1A912C4.png  ...  ค่า duration 1/100 ISO 630
4    3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png  ...  ค่า duration 1/100 ISO 630
157  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png  ...  ค่า duration 1/100 ISO 630
158  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png  ...  ค่า duration 1/100 ISO 630
159  A9B0FAB1-7E4D-4AD6-9083-397007799114.png  ...  ค่า duration 1/100 ISO 630
160  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [172]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [173]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [174]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [175]:
A1_set1

                                          Img  ...                    หมายเหตุ
0    D458FCD6-5D52-48CD-B212-68184F5B135C.png  ...  ค่า duration 1/100 ISO 630
1    0316EB79-14E9-4056-93AC-80D4D57B3DE1.png  ...  ค่า duration 1/100 ISO 630
2    EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png  ...  ค่า duration 1/100 ISO 630
3    1EA15613-AACE-4B44-A2A5-F480B1A912C4.png  ...  ค่า duration 1/100 ISO 630
4    3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png  ...  ค่า duration 1/100 ISO 630
157  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png  ...  ค่า duration 1/100 ISO 630
158  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png  ...  ค่า duration 1/100 ISO 630
159  A9B0FAB1-7E4D-4AD6-9083-397007799114.png  ...  ค่า duration 1/100 ISO 630
160  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [176]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [177]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    C4   A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    C4   A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    C4   A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    C4   A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..   ..  ...                                       ...
156  C4   D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  C4   D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  C4   D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  C4   D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  C4   D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 3 columns]

In [178]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    C4   A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    C4   A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    C4   A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    C4   A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..   ..  ...                                       ...
156  C4   D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  C4   D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  C4   D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  C4   D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  C4   D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 3 columns]

In [179]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                    หมายเหตุ
0  D458FCD6-5D52-48CD-B212-68184F5B135C.png  ...  ค่า duration 1/100 ISO 630
1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png  ...  ค่า duration 1/100 ISO 630
2  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [180]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [181]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [182]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [183]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [184]:
list_total1

[[220.3721288856424, 199.40516191867542, 156.97581365148932],
 [226.68663257852447, 205.54476097719342, 161.68922977031085],
 [225.91072153234316, 204.80634688742796, 160.0924437951465]]

In [185]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [186]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [187]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [188]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [189]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref       S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  19.059492  106.271731  210.276033  20.512945  70.183670  229.351838    Set1
1  19.223927  100.023537  216.462300  20.655629  67.184157  235.099911    Set1
2  19.235289  100.547926  216.450288  20.734924  68.300706  234.102995    Set1

In [190]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [191]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [192]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [193]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    208.531450  176.759029  120.602224  229.351838  209.378947  166.277494
1    215.254444  184.739632  129.886779  235.099911  215.718205  173.232043
2    215.253470  184.610989  129.389092  234.102995  214.648081  171.476909
3    216.750588  186.255336  131.347050  235.531775  216.268241  173.953088
4    218.058031  188.345264  133.296405  236.213781  217.083110  174.423748
..          ...         ...         ...         ...         ...         ...
156  222.600601  193.613749  137.405243  232.624787  209.652463  151.623732
157  224.193897  195.034250  138.741336  233.875335  210.777859  152.822417
158  222.975651  193.675432  137.495252  232.582988  209.178313  151.417661
159  224.576982  195.448908  138.709601  234.562536  211.506939  152.937180
160  223.655791  195.075237  139.430647  234.041474  211.075724  153.872332

[161 rows x 6 columns]

In [194]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [195]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set2'
t11

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.044396  107.627546  208.531450  ...  70.183670  229.351838     Set2
1    19.155345  101.399968  215.254444  ...  67.184157  235.099911     Set2
2    19.158266  102.004220  215.253470  ...  68.300706  234.102995     Set2
3    19.140816  100.744988  216.750588  ...  66.739632  235.531775     Set2
4    19.369613   99.343073  218.058031  ...  66.794010  236.213781     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  19.689311   97.746611  222.600601  ...  88.907150  232.624787     Set2
157  19.616590   97.359630  224.193897  ...  88.475124  233.875335     Set2
158  19.600682   97.911777  222.975651  ...  89.095122  232.582988     Set2
159  19.710088   97.674783  224.576982  ...  88.841490  234.562536     Set2
160  19.790196   96.174093  223.655791  ...  87.458080  234.041474     Set2

[161 rows x 7 columns]

In [196]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    208.531450  176.759029  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    215.254444  184.739632  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    215.253470  184.610989  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    216.750588  186.255336  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    218.058031  188.345264  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..          ...         ...  ...   ...                                       ...
156  222.600601  193.613749  ...    D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  224.193897  195.034250  ...    D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  222.975651  193.675432  ...    D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  224.576982  195.448908  ...    D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  223.655791  195.075237  ...    D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 16 columns]

#Datapoint 2

In [197]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [198]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [199]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    208.378460  176.577064  120.416443  229.212564  209.216703  166.094392
1    215.113952  184.552634  129.670968  234.977275  215.567811  173.049265
2    215.115737  184.423018  129.170441  233.969808  214.488759  171.285691
3    216.617888  186.081406  131.137813  235.391851  216.114763  173.775343
4    217.924032  188.176609  133.091308  236.090252  216.941076  174.249655
..          ...         ...         ...         ...         ...         ...
156  222.423910  193.373265  137.106485  232.532668  209.517815  151.490707
157  224.012093  194.792874  138.453616  233.775424  210.631442  152.675432
158  222.790196  193.427644  137.191056  232.485513  209.037416  151.280416
159  224.393475  195.204691  138.409626  234.459784  211.358656  152.779645
160  223.477559  194.829803  139.149826  233.956010  210.949436  153.749046

[161 rows x 6 columns]

In [200]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [201]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set2'
t22

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    19.043097  107.743203  208.378460  ...  70.275302  229.212564     Set2
1    19.146011  101.556205  215.113952  ...  67.283256  234.977275     Set2
2    19.148121  102.166707  215.115737  ...  68.402321  233.969808     Set2
3    19.133837  100.899196  216.617888  ...  66.819657  235.391851     Set2
4    19.364418   99.489895  217.924032  ...  66.881503  236.090252     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  19.675838   97.955523  222.423910  ...  88.985959  232.532668     Set2
157  19.602467   97.552066  224.012093  ...  88.562617  233.775424     Set2
158  19.588183   98.121013  222.790196  ...  89.174742  232.485513     Set2
159  19.697914   97.878338  224.393475  ...  88.938317  234.459784     Set2
160  19.771772   96.359630  223.477559  ...  87.531694  233.956010     Set2

[161 rows x 7 columns]

In [202]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    208.378460  176.577064  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    215.113952  184.552634  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    215.115737  184.423018  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    216.617888  186.081406  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    217.924032  188.176609  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..          ...         ...  ...   ...                                       ...
156  222.423910  193.373265  ...    D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  224.012093  194.792874  ...    D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  222.790196  193.427644  ...    D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  224.393475  195.204691  ...    D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  223.477559  194.829803  ...    D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 16 columns]

#Datapoint 3

In [203]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [204]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [205]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    205.626167  173.451100  117.591348  226.705706  206.393962  163.095853
1    211.898060  180.414496  124.889132  232.376593  212.254849  169.071260
2    211.865108  180.253632  124.360279  231.375294  211.292915  167.472040
3    213.319373  181.848957  126.150475  232.721127  212.889538  169.948056
4    214.734843  184.017206  128.224819  233.449071  213.737765  170.435679
..          ...         ...         ...         ...         ...         ...
156  219.925655  190.094554  133.054703  230.500609  206.748478  148.850256
157  221.378541  191.371480  134.407840  231.697346  207.729486  149.755783
158  220.257203  190.070773  132.975976  230.520250  206.281065  148.591510
159  221.786381  191.863404  134.230338  232.509050  208.554582  149.912264
160  220.891324  191.389822  135.109975  231.885318  208.142846  150.882558

[161 rows x 6 columns]

In [206]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [207]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set2'
t33

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    18.986852  109.245597  205.626167  ...  71.616671  226.705706     Set2
1    18.976382  104.918107  211.898060  ...  69.508076  232.376593     Set2
2    18.967129  105.539080  211.865108  ...  70.478776  231.375294     Set2
3    18.956903  104.413278  213.319373  ...  68.825501  232.721127     Set2
4    19.172307  102.905933  214.734843  ...  68.870059  233.449071     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  19.519276  100.822255  219.925655  ...  90.423261  230.500609     Set2
157  19.424641  100.276926  221.378541  ...  90.251197  231.697346     Set2
158  19.431377  101.154127  220.257203  ...  90.697508  230.520250     Set2
159  19.589076  100.788491  221.786381  ...  90.656197  232.509050     Set2
160  19.546222   99.105511  220.891324  ...  89.167357  231.885318     Set2

[161 rows x 7 columns]

In [208]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    205.626167  173.451100  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    211.898060  180.414496  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    211.865108  180.253632  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    213.319373  181.848957  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    214.734843  184.017206  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..          ...         ...  ...   ...                                       ...
156  219.925655  190.094554  ...    D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  221.378541  191.371480  ...    D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  220.257203  190.070773  ...    D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  221.786381  191.863404  ...    D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  220.891324  191.389822  ...    D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 16 columns]

#Datapoint 4

In [209]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [210]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [211]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    202.585180  170.395504  115.328545  223.832806  203.289019  160.386657
1    208.609204  176.558153  120.497687  230.113789  209.515056  165.947082
2    208.554176  176.258015  119.876715  229.113627  208.610015  164.418229
3    210.040987  178.064362  121.739063  230.505316  210.184806  166.876390
4    211.572031  180.271407  123.855288  231.153397  211.052187  167.546465
..          ...         ...         ...         ...         ...         ...
156  216.945053  186.286178  128.829722  227.885967  203.633471  145.803263
157  218.507751  187.635257  130.241701  229.402727  204.758948  146.923302
158  217.410600  186.307037  128.642724  228.284311  203.337716  145.804886
159  218.932879  188.090821  129.761058  230.380651  205.723643  147.264914
160  217.888564  187.563996  130.811947  229.289425  204.970132  147.834267

[161 rows x 6 columns]

In [212]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [213]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set2'
t44

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    18.892704  109.862268  202.585180  ...  72.342018  223.832806     Set2
1    18.911046  107.862511  208.609204  ...  71.167519  230.113789     Set2
2    18.853502  108.583719  208.554176  ...  72.063794  229.113627     Set2
3    18.903417  107.372778  210.040987  ...  70.442172  230.505316     Set2
4    19.109407  105.867624  211.572031  ...  70.204691  231.153397     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  19.326678  103.588670  216.945053  ...  91.939859  227.885967     Set2
157  19.228309  103.040987  218.507751  ...  91.736060  229.402727     Set2
158  19.259395  104.165084  217.410600  ...  92.182290  228.284311     Set2
159  19.399399  103.891405  218.932879  ...  92.050726  230.380651     Set2
160  19.327084  101.894570  217.888564  ...  90.661553  229.289425     Set2

[161 rows x 7 columns]

In [214]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    202.585180  170.395504  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    208.609204  176.558153  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    208.554176  176.258015  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    210.040987  178.064362  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    211.572031  180.271407  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..          ...         ...  ...   ...                                       ...
156  216.945053  186.286178  ...    D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  218.507751  187.635257  ...    D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  217.410600  186.307037  ...    D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  218.932879  188.090821  ...    D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  217.888564  187.563996  ...    D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 16 columns]

#Datapoint 5

In [215]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [216]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [217]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    199.397614  167.570814  114.192760  220.953251  200.228553  158.125396
1    205.387063  172.932635  116.790277  227.278630  206.289343  162.566918
2    205.416119  172.698401  116.366042  226.385196  205.451911  161.061521
3    206.920704  174.492087  118.041880  227.702053  206.963234  163.498580
4    208.435922  176.657739  120.109813  228.555231  208.088061  164.389579
..          ...         ...         ...         ...         ...         ...
156  214.460677  183.534048  126.010226  225.298352  200.613100  142.813408
157  216.332846  184.989287  127.479994  227.002354  201.806347  144.129778
158  214.838568  183.338690  125.664313  225.772178  200.344128  143.026053
159  216.624543  185.298677  126.892460  227.846522  202.682899  144.353867
160  215.463680  184.739388  127.943755  226.520575  201.709520  144.705543

[161 rows x 6 columns]

In [218]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [219]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set2'
t55

         H-ref       S-ref       V-ref  ...     S-Shad      V-Shad  Setting
0    18.795228  108.912832  199.397614  ...  72.562211  220.953251     Set2
1    18.873062  110.094798  205.387063  ...  72.666829  227.278630     Set2
2    18.783459  110.643211  205.416119  ...  73.626735  226.385196     Set2
3    18.844168  109.643698  206.920704  ...  71.952439  227.702053     Set2
4    19.041880  108.147634  208.435922  ...  71.622839  228.555231     Set2
..         ...         ...         ...  ...        ...         ...      ...
156  19.243324  105.133512  214.460677  ...  93.443552  225.298352     Set2
157  19.105267  104.750670  216.332846  ...  93.138625  227.002354     Set2
158  19.201364  105.869735  214.838568  ...  93.502070  225.772178     Set2
159  19.237887  105.628196  216.624543  ...  93.480805  227.846522     Set2
160  19.204285  103.515624  215.463680  ...  92.147066  226.520575     Set2

[161 rows x 7 columns]

In [220]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    199.397614  167.570814  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    205.387063  172.932635  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    205.416119  172.698401  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    206.920704  174.492087  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    208.435922  176.657739  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..          ...         ...  ...   ...                                       ...
156  214.460677  183.534048  ...    D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  216.332846  184.989287  ...    D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  214.838568  183.338690  ...    D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  216.624543  185.298677  ...    D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  215.463680  184.739388  ...    D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[161 rows x 16 columns]

In [221]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    208.531450  176.759029  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1    215.254444  184.739632  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2    215.253470  184.610989  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3    216.750588  186.255336  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4    218.058031  188.345264  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png
..          ...         ...  ...   ...                                       ...
156  214.460677  183.534048  ...    D4  18E1C1C2-8F7B-4CB5-940B-D9EABAAC25CA.png
157  216.332846  184.989287  ...    D4  DDB0A0C8-9E42-4BCC-9E97-ECC03D92F8A5.png
158  214.838568  183.338690  ...    D4  4E9993D9-FD60-4854-93AE-9B56FF4E7719.png
159  216.624543  185.298677  ...    D4  A9B0FAB1-7E4D-4AD6-9083-397007799114.png
160  215.463680  184.739388  ...    D4  B88057EC-AE41-4B3C-94E4-AA9D9B4FFCDE.png

[805 rows x 16 columns]

In [222]:
st1.to_csv('C4_2.csv', index=False)