<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 6.5 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.1 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 49.8 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'DD1.xlsx')

In [11]:
A1_set1= pd.read_excel(AA, sheet_name='D2Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0    A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png  ...  ค่า duration 1/100 ISO 630
1    52B93F5E-D972-447C-AEDB-70944733A2A8.png  ...  ค่า duration 1/100 ISO 630
2    8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png  ...  ค่า duration 1/100 ISO 630
3    F1432EC0-7542-4437-B03B-DB680757388E.png  ...  ค่า duration 1/100 ISO 630
4    505DFE06-9B70-46E3-A447-DE5E271DD472.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  DC228E41-0E11-48E4-B135-669B924F480D.png  ...  ค่า duration 1/100 ISO 630
157  1B1EA17E-3E72-4465-843F-3766187DF7DA.png  ...  ค่า duration 1/100 ISO 630
158  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png  ...  ค่า duration 1/100 ISO 630
159  3388AD96-44DF-451F-BAD7-9477D2071270.png  ...  ค่า duration 1/100 ISO 630
160  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [12]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [13]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [14]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [15]:
A1_set1

                                          Img  ...                    หมายเหตุ
0    A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png  ...  ค่า duration 1/100 ISO 630
1    52B93F5E-D972-447C-AEDB-70944733A2A8.png  ...  ค่า duration 1/100 ISO 630
2    8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png  ...  ค่า duration 1/100 ISO 630
3    F1432EC0-7542-4437-B03B-DB680757388E.png  ...  ค่า duration 1/100 ISO 630
4    505DFE06-9B70-46E3-A447-DE5E271DD472.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  DC228E41-0E11-48E4-B135-669B924F480D.png  ...  ค่า duration 1/100 ISO 630
157  1B1EA17E-3E72-4465-843F-3766187DF7DA.png  ...  ค่า duration 1/100 ISO 630
158  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png  ...  ค่า duration 1/100 ISO 630
159  3388AD96-44DF-451F-BAD7-9477D2071270.png  ...  ค่า duration 1/100 ISO 630
160  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [16]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [17]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D2   A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    D2   A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    D2   A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    D2   A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    D2   A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..   ..  ...                                       ...
156  D2   D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  D2   D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  D2   D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  D2   D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  D2   D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 3 columns]

In [18]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D2   A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    D2   A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    D2   A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    D2   A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    D2   A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..   ..  ...                                       ...
156  D2   D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  D2   D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  D2   D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  D2   D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  D2   D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 3 columns]

In [19]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                    หมายเหตุ
0  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png  ...  ค่า duration 1/100 ISO 630
1  52B93F5E-D972-447C-AEDB-70944733A2A8.png  ...  ค่า duration 1/100 ISO 630
2  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [20]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [21]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [22]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [23]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [24]:
list_total1

[[222.62746530314098, 203.7133349565782, 163.04009414820226],
 [230.6381787192598, 211.91469848226606, 171.0063306549793],
 [229.66390715039364, 210.82436490544598, 171.01249898547195]]

In [25]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [26]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [27]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [28]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [29]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  19.556935  65.490463  224.804399  20.977518  67.536726  230.604091    Set1
1  20.312312  62.204204  230.115656  20.870627  61.099180  236.170522    Set1
2  19.712523  62.065417  229.831101  20.456700  60.686389  235.363769    Set1

In [30]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [31]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [32]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [33]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    223.870140  204.404269  166.035793  230.604091  211.606688  169.541920
1    229.075562  211.141141  173.022401  236.169223  218.777047  179.655872
2    228.920704  210.064605  172.952277  235.362227  217.619511  179.418797
3    229.088629  210.121906  173.959013  235.853421  217.836458  179.304277
4    225.360604  206.122474  166.622920  230.679571  211.719828  169.646295
..          ...         ...         ...         ...         ...         ...
156  234.273111  215.859995  176.456538  233.414496  211.359305  157.690285
157  235.786381  216.929632  177.579417  234.731840  212.961935  158.464248
158  234.558072  216.179206  177.257934  233.920623  213.096908  159.125801
159  234.504991  215.563185  176.459703  233.844980  212.292022  158.205990
160  233.804967  215.018180  175.265319  233.308335  211.925737  157.723724

[161 rows x 6 columns]

In [34]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [35]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set2'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.496794  65.854395  223.870140  20.977518  67.536726  230.604091    Set2
1    20.204610  62.463842  229.075562  20.870627  61.099180  236.170522    Set2
2    19.545735  62.396559  228.920704  20.456700  60.686389  235.363769    Set2
3    19.504261  61.411330  229.088873  20.310446  61.215405  235.853908    Set2
4    19.893190  66.454427  225.360604  20.951708  67.486730  230.679571    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  20.330493  63.020047  234.273192  21.447772  82.968428  233.414496    Set2
157  20.050726  63.012255  235.787030  21.624056  83.074263  234.731840    Set2
158  20.248438  62.381544  234.558721  21.882315  81.782810  233.920623    Set2
159  20.005763  63.196331  234.505316  21.653681  82.710251  233.845548    Set2
160  20.219219  63.916484  233.805535  21.700592  82.845873  233.308660    Set2

[161 rows x 7 columns]

In [36]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    223.870140  204.404269  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    229.075562  211.141141  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    228.920704  210.064605  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    229.088629  210.121906  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    225.360604  206.122474  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..          ...         ...  ...   ...                                       ...
156  234.273111  215.859995  ...    D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  235.786381  216.929632  ...    D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  234.558072  216.179206  ...    D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  234.504991  215.563185  ...    D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  233.804967  215.018180  ...    D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 16 columns]

#Datapoint 2

In [37]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [38]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [39]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    223.767146  204.293807  165.926710  230.501745  211.503044  169.434543
1    228.989124  211.050645  172.940346  236.094229  218.670887  179.516679
2    228.842789  209.975570  172.876309  235.283824  217.515786  179.278468
3    229.000243  210.023699  173.882396  235.791332  217.750426  179.169467
4    225.266618  206.027352  166.527311  230.586478  211.621216  169.544761
..          ...         ...         ...         ...         ...         ...
156  234.207451  215.782485  176.388767  233.368801  211.276033  157.558883
157  235.751400  216.913238  177.600195  234.689798  212.878013  158.344696
158  234.520656  216.148527  177.268647  233.864053  212.991884  158.975002
159  234.462057  215.536726  176.484620  233.757244  212.147715  158.006736
160  233.755539  214.986933  175.286503  233.271650  211.836296  157.597029

[161 rows x 6 columns]

In [40]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [41]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set2'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.493142  65.892135  223.767146  20.978411  67.572762  230.501745    Set2
1    20.199416  62.482266  228.989124  20.862268  61.187322  236.095528    Set2
2    19.536077  62.415794  228.842789  20.450045  60.774450  235.285366    Set2
3    19.496469  61.421070  229.000487  20.307037  61.308985  235.791819    Set2
4    19.893515  66.483078  225.266618  20.950816  67.522766  230.586478    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  20.319860  63.038714  234.207532  21.443957  83.080269  233.368801    Set2
157  20.047886  62.962016  235.752049  21.617239  83.175148  234.689798    Set2
158  20.239753  62.340313  234.521305  21.874117  81.907313  233.864053    Set2
159  19.999675  63.133918  234.462381  21.644591  82.859589  233.757812    Set2
160  20.213944  63.852772  233.756107  21.692476  82.959013  233.271975    Set2

[161 rows x 7 columns]

In [42]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    223.767146  204.293807  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    228.989124  211.050645  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    228.842789  209.975570  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    229.000243  210.023699  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    225.266618  206.027352  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..          ...         ...  ...   ...                                       ...
156  234.207451  215.782485  ...    D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  235.751400  216.913238  ...    D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  234.520656  216.148527  ...    D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  234.462057  215.536726  ...    D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  233.755539  214.986933  ...    D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 16 columns]

#Datapoint 3

In [43]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [44]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [45]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    221.617401  202.009983  163.854314  228.379839  209.369207  167.377648
1    227.014041  208.761383  170.620485  234.408571  216.225712  176.304115
2    226.919487  207.819739  170.594270  233.437546  215.110543  176.064605
3    226.958283  207.744582  171.635744  234.191381  215.561967  176.063063
4    223.262479  204.013635  164.461813  228.611395  209.619268  167.580148
..          ...         ...         ...         ...         ...         ...
156  232.602711  213.913643  174.427157  231.617158  208.554257  153.728350
157  234.356789  215.251441  176.054054  233.061277  210.255174  154.890756
158  233.138300  214.465384  175.631848  232.103238  210.044720  154.908692
159  232.891811  213.837270  174.968671  232.277331  209.626654  154.553526
160  232.284068  213.269946  173.839461  231.670319  209.114926  154.033277

[161 rows x 6 columns]

In [46]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [47]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set2'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.395341  66.456456  221.617401  20.925737  68.149582  228.379839    Set2
1    20.030436  63.373022  227.014041  20.658063  63.245840  234.408652    Set2
2    19.424966  63.308579  226.919487  20.288938  62.704488  233.437546    Set2
3    19.387469  62.169304  226.958283  20.161919  63.326759  234.191381    Set2
4    19.908124  67.147309  223.262479  20.917133  68.100398  228.611395    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  20.152747  63.852528  232.602711  21.291454  85.958932  231.617158    Set2
157  19.866407  63.491843  234.356789  21.436978  85.718448  233.061277    Set2
158  20.020291  62.964857  233.138463  21.649217  85.034575  232.103238    Set2
159  19.824121  63.476991  232.891811  21.452561  85.525201  232.277331    Set2
160  19.986202  64.213619  232.284636  21.480318  85.660579  231.670644    Set2

[161 rows x 7 columns]

In [48]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    221.617401  202.009983  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    227.014041  208.761383  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    226.919487  207.819739  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    226.958283  207.744582  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    223.262479  204.013635  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..          ...         ...  ...   ...                                       ...
156  232.602711  213.913643  ...    D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  234.356789  215.251441  ...    D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  233.138300  214.465384  ...    D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  232.891811  213.837270  ...    D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  232.284068  213.269946  ...    D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 16 columns]

#Datapoint 4

In [49]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [50]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [51]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    219.128561  199.425371  161.752617  225.724941  206.755945  165.208262
1    224.646538  206.084977  168.020453  232.480724  213.833374  173.294457
2    224.485350  205.236020  167.760328  231.551010  212.831751  173.233585
3    224.693126  205.376836  169.391364  232.649054  213.684847  173.645808
4    220.866732  201.512621  162.280659  226.108108  207.158023  165.381544
..          ...         ...         ...         ...         ...         ...
156  230.026946  211.016801  171.172632  229.153965  205.130428  149.065254
157  232.201201  212.595650  173.059492  230.947650  207.164597  150.936044
158  230.878013  211.838731  172.717150  229.874767  206.659281  150.306063
159  230.531856  211.356789  172.042935  230.193166  206.506534  150.516679
160  229.985797  210.729811  171.126451  229.382599  205.688662  149.694830

[161 rows x 6 columns]

In [52]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [53]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set2'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.302492  66.766496  219.128561  20.811460  68.400860  225.724941    Set2
1    19.873062  64.267430  224.646538  20.595812  64.933041  232.480724    Set2
2    19.403133  64.418229  224.485350  20.172064  64.231881  231.551010    Set2
3    19.340394  62.750994  224.693126  20.075400  64.683061  232.649054    Set2
4    19.802045  67.632579  220.866732  20.863404  68.524470  226.108108    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  20.059817  65.271001  230.026946  21.176447  89.256310  229.153965    Set2
157  19.745962  64.985228  232.201201  21.288938  88.476747  230.947650    Set2
158  19.859346  64.254119  230.878013  21.451993  88.421070  229.874767    Set2
159  19.810080  64.716906  230.531856  21.279117  88.410519  230.193166    Set2
160  19.871033  65.291697  229.985797  21.288694  88.725428  229.382923    Set2

[161 rows x 7 columns]

In [54]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    219.128561  199.425371  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    224.646538  206.084977  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    224.485350  205.236020  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    224.693126  205.376836  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    220.866732  201.512621  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..          ...         ...  ...   ...                                       ...
156  230.026946  211.016801  ...    D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  232.201201  212.595650  ...    D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  230.878013  211.838731  ...    D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  230.531856  211.356789  ...    D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  229.985797  210.729811  ...    D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 16 columns]

#Datapoint 5

In [55]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [56]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [57]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    216.576495  196.802857  159.819252  222.808214  203.924276  163.427725
1    222.911046  204.153153  166.195276  230.666261  211.928821  171.103563
2    222.549955  203.175879  165.788085  229.644834  210.795715  171.063388
3    222.872332  203.486892  167.768282  230.927847  211.894651  172.087980
4    218.239510  198.938317  160.178313  223.467170  204.648243  163.842139
..          ...         ...         ...         ...         ...         ...
156  227.821118  208.590050  168.895138  226.764305  201.928577  145.130915
157  230.197062  210.152260  170.576171  228.518059  203.820063  146.984823
158  228.807970  209.602305  170.516435  227.519520  203.281552  146.288288
159  228.144063  208.973785  169.418716  227.613181  202.992858  146.208343
160  227.926548  208.418229  168.595082  226.777615  201.993994  145.213213

[161 rows x 6 columns]

In [58]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [59]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set2'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.211022  66.813246  216.576495  20.569110  67.966723  222.808214    Set2
1    19.763574  64.868842  222.911046  20.615047  65.864621  230.666261    Set2
2    19.349809  65.025160  222.549955  20.117523  65.055758  229.644834    Set2
3    19.295918  63.043097  222.872332  19.955685  64.997403  230.927847    Set2
4    19.765279  67.828829  218.239510  20.674621  68.045857  223.467170    Set2
..         ...        ...         ...        ...        ...         ...     ...
156  19.943024  65.976950  227.821118  21.046425  91.855044  226.764305    Set2
157  19.636312  66.093418  230.197062  21.109894  91.032140  228.518059    Set2
158  19.759110  64.972892  228.807970  21.241377  91.106160  227.519520    Set2
159  19.873874  65.646782  228.144063  21.111517  91.261829  227.613181    Set2
160  19.871764  66.399643  227.926548  21.099018  91.763656  226.777615    Set2

[161 rows x 7 columns]

In [60]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    216.576495  196.802857  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    222.911046  204.153153  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    222.549955  203.175879  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    222.872332  203.486892  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    218.239510  198.938317  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..          ...         ...  ...   ...                                       ...
156  227.821118  208.590050  ...    D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  230.197062  210.152260  ...    D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  228.807970  209.602305  ...    D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  228.144063  208.973785  ...    D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  227.926548  208.418229  ...    D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[161 rows x 16 columns]

In [61]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    223.870140  204.404269  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1    229.075562  211.141141  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2    228.920704  210.064605  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3    229.088629  210.121906  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4    225.360604  206.122474  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png
..          ...         ...  ...   ...                                       ...
156  227.821118  208.590050  ...    D4  DC228E41-0E11-48E4-B135-669B924F480D.png
157  230.197062  210.152260  ...    D4  1B1EA17E-3E72-4465-843F-3766187DF7DA.png
158  228.807970  209.602305  ...    D4  EB52D61E-7AC8-49D1-A308-F2F9D7D62EE0.png
159  228.144063  208.973785  ...    D4  3388AD96-44DF-451F-BAD7-9477D2071270.png
160  227.926548  208.418229  ...    D4  E1B55C2F-D093-49EA-9EC3-38113B1BCD15.png

[805 rows x 16 columns]

In [62]:
st1.to_csv('D2_2.csv', index=False)