<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.28)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'DD1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='D4Set4')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png  ...  ค่า duration 1/510 ISO 90
1    E1E6AA11-2B77-40D9-A177-059926CC439D.png  ...  ค่า duration 1/510 ISO 90
2    74A96958-C7AA-4963-AA46-D100224ADF7D.png  ...  ค่า duration 1/510 ISO 90
3    CA71D6C8-B603-4820-8CBF-DE4735A760F9.png  ...  ค่า duration 1/510 ISO 90
4    DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  4B26C027-BBB5-43B7-AD79-12A17199C662.png  ...  ค่า duration 1/510 ISO 90
156  D0B2410F-4D19-428D-ACAB-853194360AB9.png  ...  ค่า duration 1/510 ISO 90
157  239381EF-714F-4EC1-9D07-36CEF09D68A1.png  ...  ค่า duration 1/510 ISO 90
158  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png  ...  ค่า duration 1/510 ISO 90
159  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png  ...  ค่า duration 1/510 ISO 90
1    E1E6AA11-2B77-40D9-A177-059926CC439D.png  ...  ค่า duration 1/510 ISO 90
2    74A96958-C7AA-4963-AA46-D100224ADF7D.png  ...  ค่า duration 1/510 ISO 90
3    CA71D6C8-B603-4820-8CBF-DE4735A760F9.png  ...  ค่า duration 1/510 ISO 90
4    DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  4B26C027-BBB5-43B7-AD79-12A17199C662.png  ...  ค่า duration 1/510 ISO 90
156  D0B2410F-4D19-428D-ACAB-853194360AB9.png  ...  ค่า duration 1/510 ISO 90
157  239381EF-714F-4EC1-9D07-36CEF09D68A1.png  ...  ค่า duration 1/510 ISO 90
158  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png  ...  ค่า duration 1/510 ISO 90
159  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    D4   A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    D4   A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    D4   A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    D4   A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..   ..  ...                                       ...
155  D4   D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  D4   D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  D4   D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  D4   D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  D4   D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    D4   A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    D4   A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    D4   A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    D4   A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..   ..  ...                                       ...
155  D4   D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  D4   D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  D4   D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  D4   D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  D4   D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png  ...  ค่า duration 1/510 ISO 90
1  E1E6AA11-2B77-40D9-A177-059926CC439D.png  ...  ค่า duration 1/510 ISO 90
2  74A96958-C7AA-4963-AA46-D100224ADF7D.png  ...  ค่า duration 1/510 ISO 90

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[225.62738414089765, 219.694018342667, 195.99610421232043],
 [214.96534372210047, 214.33706679652624, 186.81259638016394],
 [222.690771852934, 221.68517165814464, 192.5217109000893]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  28.404107  59.243893  222.984011  26.301355  28.931418  230.716906    Set1
1  28.333414  69.104943  214.244136  28.999351  35.383410  220.924681    Set1
2  30.595082  59.751968  221.066228  31.519033  30.358007  228.646214    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.000649  215.940183  169.227579  230.647025  225.388605  204.753023
1    213.700024  210.818278  155.321484  220.924681  219.924032  190.222547
2    219.873630  217.722669  167.356627  228.433325  227.523821  201.805941
3    213.412142  210.128723  155.428861  220.942050  219.982875  190.649704
4    213.226524  210.383654  155.314341  220.492006  219.883857  190.357276
..          ...         ...         ...         ...         ...         ...
155  222.540297  220.857804  173.402889  223.492898  221.309796  177.371074
156  221.807240  219.986771  172.696453  223.110868  220.905121  176.689473
157  221.889619  220.160864  172.455483  222.548413  220.368071  176.027920
158  222.231637  219.790845  173.525850  222.874604  220.330087  176.808051
159  222.685334  218.401185  174.874199  223.309309  219.329032  178.417742

[160 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set4'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.807970  61.131889  222.041636  26.301355  28.931418  230.716906    Set4
1    28.318724  69.625842  213.700024  28.999351  35.383410  220.924681    Set4
2    30.037659  61.510592  219.985066  31.519033  30.358007  228.646214    Set4
3    28.015908  69.228634  213.412142  29.040825  34.900170  220.942537    Set4
4    28.151286  69.178476  213.226524  29.391851  34.873630  220.587777    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  30.404188  56.844087  222.654330  30.608717  53.388848  223.626491    Set4
156  30.336661  57.027514  221.932067  30.593053  53.826556  223.233017    Set4
157  30.228472  57.326678  221.990179  30.715445  54.130752  222.696616    Set4
158  30.074020  56.410113  222.333577  30.341206  53.442984  222.983199    Set4
159  28.924032  55.247464  222.721614  28.931256  51.962503  223.359792    Set4

[160 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    222.000649  215.940183  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    213.700024  210.818278  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    219.873630  217.722669  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    213.412142  210.128723  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    213.226524  210.383654  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..          ...         ...  ...   ...                                       ...
155  222.540297  220.857804  ...    D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  221.807240  219.986771  ...    D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  221.889619  220.160864  ...    D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  222.231637  219.790845  ...    D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  222.685334  218.401185  ...    D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    221.917133  215.829397  168.983524  230.557179  225.287882  204.601656
1    213.646944  210.751157  155.249412  220.841571  219.841409  190.143008
2    219.776236  217.615453  167.112004  228.342667  227.433244  201.648567
3    213.350621  210.061359  155.355166  220.856181  219.901956  190.580148
4    213.164597  210.319130  155.246571  220.403133  219.797094  190.276844
..          ...         ...         ...         ...         ...         ...
155  222.453453  220.763250  173.170522  223.398263  221.213781  177.147715
156  221.706030  219.876309  172.445581  223.019641  220.807727  176.463761
157  221.784108  220.047399  172.209074  222.455726  220.267673  175.798474
158  222.131077  219.681844  173.286990  222.786381  220.236669  176.597354
159  222.592809  218.291778  174.637773  223.208749  219.224738  178.180992

[160 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set4'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.722019  61.324892  221.955523  26.304034  29.009902  230.627059    Set4
1    28.315559  69.665936  213.646944  28.999838  35.391608  220.841571    Set4
2    29.981820  61.692070  219.885155  31.515218  30.439331  228.553608    Set4
3    28.015259  69.263209  213.350621  29.045776  34.892704  220.857154    Set4
4    28.149988  69.205340  213.164597  29.393962  34.876633  220.498742    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  30.347212  57.022563  222.564646  30.615616  53.555393  223.531694    Set4
156  30.281146  57.209723  221.826394  30.592160  54.000325  223.140492    Set4
157  30.168330  57.498580  221.880448  30.716338  54.306631  222.602873    Set4
158  30.012418  56.581527  222.230907  30.342586  53.602548  222.894489    Set4
159  28.904553  55.423018  222.627952  28.942537  52.140248  223.259232    Set4

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    221.917133  215.829397  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    213.646944  210.751157  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    219.776236  217.615453  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    213.350621  210.061359  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    213.164597  210.319130  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..          ...         ...  ...   ...                                       ...
155  222.453453  220.763250  ...    D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  221.706030  219.876309  ...    D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  221.784108  220.047399  ...    D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  222.131077  219.681844  ...    D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  222.592809  218.291778  ...    D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    219.993182  213.482672  164.023862  228.611314  222.940914  200.790764
1    212.401591  209.256229  154.240403  219.131321  218.147959  188.673728
2    217.683630  215.255580  162.117117  226.084490  225.083841  197.329194
3    211.851311  208.523496  154.255823  218.933690  218.130428  189.144388
4    211.784595  208.891648  154.231556  218.508238  218.017937  188.802857
..          ...         ...         ...         ...         ...         ...
155  220.434461  218.612856  168.167925  220.600114  218.054054  170.567081
156  219.592241  217.544761  167.244380  220.076942  217.527392  169.455077
157  219.705056  217.694586  167.278792  219.496632  216.862917  168.709358
158  220.021346  217.361334  168.275059  219.893109  216.959257  169.850337
159  220.603766  215.966886  169.692882  220.034007  215.822579  171.027108

[160 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set4'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.807159  65.082055  220.001948  24.807159  31.136353  228.636474    Set4
1    28.242188  69.796689  212.401591  29.016638  35.409139  219.131321    Set4
2    28.753267  65.278873  217.715851  30.056570  32.705300  226.171577    Set4
3    28.014122  69.286340  211.851311  29.196737  34.594108  218.935638    Set4
4    28.133918  69.236263  211.784595  29.509699  34.684279  218.599789    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  29.203961  60.645483  220.465384  29.239916  58.106160  220.643373    Set4
156  28.936531  60.927035  219.610421  28.985634  58.895057  220.104456    Set4
157  28.934421  60.965100  219.714796  28.761140  59.174499  219.506452    Set4
158  28.728999  60.100398  220.043503  28.757163  58.239753  219.911939    Set4
159  27.751319  59.019073  220.608798  27.943511  57.015989  220.042204    Set4

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    219.993182  213.482672  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    212.401591  209.256229  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    217.683630  215.255580  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    211.851311  208.523496  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    211.784595  208.891648  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..          ...         ...  ...   ...                                       ...
155  220.434461  218.612856  ...    D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  219.592241  217.544761  ...    D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  219.705056  217.694586  ...    D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  220.021346  217.361334  ...    D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  220.603766  215.966886  ...    D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    218.194789  211.372129  160.218570  226.526905  220.592809  197.239510
1    210.248681  206.879231  153.463761  216.805211  215.955767  187.184238
2    215.961935  213.262073  158.475611  223.751238  222.733139  193.696047
3    209.557747  206.119065  153.416362  216.486081  215.861618  187.589968
4    209.623975  206.579580  153.616671  216.155020  215.826150  187.385115
..          ...         ...         ...         ...         ...         ...
155  218.804724  216.801558  164.676650  218.346887  215.469280  166.031166
156  217.991478  215.770798  163.824121  217.962503  215.144875  165.324243
157  218.186186  215.992208  164.256310  217.556124  214.638179  165.084571
158  218.412467  215.672592  165.007548  217.752374  214.566918  165.722425
159  218.969645  214.251603  166.467576  217.788167  213.486892  166.831264

[160 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set4'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.263940  67.776317  218.194789  24.020128  32.897086  226.526905    Set4
1    28.189838  68.822579  210.248681  29.150556  34.830777  216.805211    Set4
2    28.228634  67.851311  215.961935  28.981901  34.257609  223.751238    Set4
3    28.021670  68.261099  209.557747  29.376593  33.952682  216.490139    Set4
4    28.093905  68.044315  209.623975  29.679003  33.972567  216.248681    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  28.666342  63.076374  218.804724  28.476909  61.082623  218.346887    Set4
156  28.569921  63.361334  217.991478  28.456619  61.592403  217.962503    Set4
157  28.602224  63.024836  218.186186  28.429348  61.528691  217.556124    Set4
158  28.332928  62.333009  218.412467  28.373833  60.923383  217.752374    Set4
159  27.636393  61.185699  218.969645  27.794416  59.677867  217.788167    Set4

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    218.194789  211.372129  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    210.248681  206.879231  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    215.961935  213.262073  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    209.557747  206.119065  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    209.623975  206.579580  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..          ...         ...  ...   ...                                       ...
155  218.804724  216.801558  ...    D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  217.991478  215.770798  ...    D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  218.186186  215.992208  ...    D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  218.412467  215.672592  ...    D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  218.969645  214.251603  ...    D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    216.872413  209.749777  158.693369  224.836215  218.926224  195.418067
1    207.451506  203.924925  153.334875  214.193085  213.572600  186.282526
2    214.795715  211.799610  156.938073  222.007954  220.992127  192.027027
3    206.751157  203.372859  153.288045  213.724617  213.515137  186.761789
4    206.806022  203.770717  153.639234  213.457025  213.601575  186.660336
..          ...         ...         ...         ...         ...         ...
155  217.601169  215.447285  163.010308  216.800179  213.777697  164.410194
156  216.772096  214.383329  162.084003  216.475124  213.505154  163.764711
157  216.923707  214.525120  162.595000  216.080107  213.032140  163.610259
158  217.192436  214.333983  163.396072  216.317426  212.923545  164.233991
159  217.651489  212.803831  164.943430  216.419852  211.774450  165.263047

[160 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set4'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.104131  68.418878  216.872413  24.058761  33.277818  224.836215    Set4
1    28.056164  66.379758  207.451506  29.438520  33.316695  214.302735    Set4
2    28.078078  68.635744  214.795715  28.984173  34.412385  222.007954    Set4
3    28.076293  65.814625  206.751238  29.925818  32.354436  213.978411    Set4
4    28.106810  65.376917  206.806022  30.316289  32.368477  213.856262    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  28.514244  63.932554  217.601169  28.400617  61.617564  216.800179    Set4
156  28.401591  64.337554  216.772096  28.375619  62.099911  216.475124    Set4
157  28.438276  63.852122  216.923707  28.364013  61.928902  216.080107    Set4
158  28.210210  63.152666  217.192436  28.270189  61.409058  216.317426    Set4
159  27.548332  61.750994  217.651489  27.571220  60.258096  216.419852    Set4

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1 )
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    216.872413  209.749777  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    207.451506  203.924925  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    214.795715  211.799610  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    206.751157  203.372859  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    206.806022  203.770717  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..          ...         ...  ...   ...                                       ...
155  217.601169  215.447285  ...    D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  216.772096  214.383329  ...    D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  216.923707  214.525120  ...    D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  217.192436  214.333983  ...    D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  217.651489  212.803831  ...    D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    222.000649  215.940183  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1    213.700024  210.818278  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2    219.873630  217.722669  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3    213.412142  210.128723  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4    213.226524  210.383654  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png
..          ...         ...  ...   ...                                       ...
155  217.601169  215.447285  ...    D4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
156  216.772096  214.383329  ...    D4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
157  216.923707  214.525120  ...    D4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
158  217.192436  214.333983  ...    D4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
159  217.651489  212.803831  ...    D4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[800 rows x 16 columns]

In [ ]:
st1.to_csv('D4_4.csv', index=False)