<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png',
 'Color-checkerAA1.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 4.8 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.2 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 18.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [236]:
AA = os.path.join(path,'Color-checkerDD .xlsx')

In [343]:
A1_set1= pd.read_excel(AA, sheet_name='D4_2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    3F1B3716-EDAF-4678-9B19-C853578E6E5E.png  ...  Duration 1/145 ISO 145
1    AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png  ...  Duration 1/145 ISO 145
2    3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png  ...  Duration 1/145 ISO 145
3    11C68593-0093-41EA-BC8D-E92083E86BFA.png  ...  Duration 1/145 ISO 145
4    40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  1C25B7DF-E145-4448-B108-35D44D417586.png  ...  Duration 1/145 ISO 145
156  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png  ...  Duration 1/145 ISO 145
157  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png  ...  Duration 1/145 ISO 145
158  84180E71-640E-4340-B20D-C747A92B6924.png  ...  Duration 1/145 ISO 145
159  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [344]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [345]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [346]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [347]:
A1_set1

                                          Img  ...                หมายเหตุ
0    3F1B3716-EDAF-4678-9B19-C853578E6E5E.png  ...  Duration 1/145 ISO 145
1    AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png  ...  Duration 1/145 ISO 145
2    3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png  ...  Duration 1/145 ISO 145
3    11C68593-0093-41EA-BC8D-E92083E86BFA.png  ...  Duration 1/145 ISO 145
4    40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
155  1C25B7DF-E145-4448-B108-35D44D417586.png  ...  Duration 1/145 ISO 145
156  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png  ...  Duration 1/145 ISO 145
157  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png  ...  Duration 1/145 ISO 145
158  84180E71-640E-4340-B20D-C747A92B6924.png  ...  Duration 1/145 ISO 145
159  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png  ...  Duration 1/145 ISO 145

[160 rows x 7 columns]

In [348]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [349]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    D4   A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    D4   A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    D4   A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    D4   A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..   ..  ...                                       ...
155  D4   D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  D4   D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  D4   D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  D4   D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  D4   D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 3 columns]

In [350]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    D4   A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    D4   A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    D4   A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    D4   A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..   ..  ...                                       ...
155  D4   D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  D4   D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  D4   D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  D4   D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  D4   D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 3 columns]

In [351]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png  D4  ...    สีดำ  Duration 1/145 ISO 145
1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png  D4  ...    สีดำ  Duration 1/145 ISO 145
2  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png  D4  ...    สีดำ  Duration 1/145 ISO 145

[3 rows x 7 columns]

In [352]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [353]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [354]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [355]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [356]:
list_total1

[[216.018018018018, 217.74344614885155, 202.87801314828343],
 [224.76032789546304, 226.36936936936937, 211.08538267997727],
 [224.19016313610908, 226.5005275545816, 210.79027676324975]]

In [357]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [358]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [359]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [360]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [361]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  28.728837  48.083922  225.153884  32.506128  18.694911  223.124503    Set1
1  33.197955  34.732895  234.667884  34.046262  15.769905  231.085220    Set1
2  33.683873  35.205990  234.167113  34.996104  16.060222  231.124584    Set1

In [362]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [363]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [364]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [365]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.434543  222.163298  181.463842  221.793604  223.124503  206.779888
1    233.272867  232.202094  200.204772  229.364581  231.085220  216.864703
2    232.744339  231.950491  199.396315  228.957633  231.124259  216.659768
3    233.142846  231.853746  197.822742  229.839218  231.301274  215.092687
4    232.878419  231.775668  198.912913  229.444120  231.226280  216.551092
..          ...         ...         ...         ...         ...         ...
155  233.744014  232.515705  193.014934  226.525526  224.843763  181.110299
156  233.634851  232.333496  192.659037  226.434299  224.625761  180.700836
157  233.340394  232.315559  192.002841  226.011119  224.390634  180.054866
158  233.699050  232.476260  192.835484  226.137976  224.482023  180.421963
159  233.771934  232.732002  193.144063  226.675026  225.149907  181.547520

[160 rows x 6 columns]

In [366]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [367]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set6'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.625274  48.877932  224.436166  32.506128  18.694911  223.124503    Set6
1    32.126045  36.837189  233.521143  34.046262  15.769905  231.085220    Set6
2    32.614317  37.274572  232.995780  34.996104  16.060222  231.124584    Set6
3    31.722912  39.256554  233.322458  33.233585  18.027514  231.301599    Set6
4    32.218976  37.899115  233.103157  34.136921  16.293239  231.226848    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  30.833942  45.024917  233.981414  28.959257  51.313530  226.564727    Set6
156  30.812678  45.316939  233.870790  28.854151  51.687201  226.457025    Set6
157  30.900576  45.812840  233.630225  28.969726  52.037659  226.051376    Set6
158  30.949761  45.217109  233.955929  29.026378  51.776885  226.192679    Set6
159  30.808376  44.903498  234.025810  29.075968  50.964045  226.707572    Set6

[160 rows x 7 columns]

In [368]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    224.434543  222.163298  ...    A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    233.272867  232.202094  ...    A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    232.744339  231.950491  ...    A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    233.142846  231.853746  ...    A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    232.878419  231.775668  ...    A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..          ...         ...  ...   ...                                       ...
155  233.744014  232.515705  ...    D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  233.634851  232.333496  ...    D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  233.340394  232.315559  ...    D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  233.699050  232.476260  ...    D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  233.771934  232.732002  ...    D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 16 columns]

#Datapoint 2

In [369]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [370]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [371]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    224.359630  222.074020  181.341937  221.712848  223.032627  206.695723
1    233.164841  232.069637  199.912182  229.270595  230.985959  216.734194
2    232.638503  231.820875  199.107702  228.864134  231.028163  216.525850
3    233.036117  231.726808  197.533074  229.747910  231.202013  214.957471
4    232.777778  231.651814  198.635987  229.357844  231.131483  216.428131
..          ...         ...         ...         ...         ...         ...
155  233.650597  232.404026  192.755702  226.421070  224.730136  180.918432
156  233.539972  232.222141  192.408733  226.336093  224.514974  180.514650
157  233.250629  232.205990  191.760247  225.914861  224.284393  179.888808
158  233.601493  232.361740  192.566918  226.035955  224.370506  180.229121
159  233.678111  232.620161  192.887915  226.575116  225.037984  181.346157

[160 rows x 6 columns]

In [372]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [373]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set6'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.615129  48.946595  224.361253  32.489652  18.693450  223.032627    Set6
1    32.043909  37.045776  233.408490  34.010389  15.812515  230.985959    Set6
2    32.546222  37.481130  232.883613  34.939534  16.108839  231.028488    Set6
3    31.647107  39.462868  233.211103  33.231962  18.074345  231.202337    Set6
4    32.165652  38.096827  232.996185  34.096583  16.331791  231.131970    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  30.781024  45.213376  233.882315  28.928658  51.426995  226.457106    Set6
156  30.752293  45.493548  233.770311  28.809188  51.797663  226.355085    Set6
157  30.852528  45.986933  233.535022  28.936612  52.131483  225.952114    Set6
158  30.882396  45.408571  233.851148  28.974028  51.889863  226.086357    Set6
159  30.754403  45.087574  233.925737  29.034900  51.089522  226.603441    Set6

[160 rows x 7 columns]

In [374]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    224.359630  222.074020  ...    A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    233.164841  232.069637  ...    A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    232.638503  231.820875  ...    A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    233.036117  231.726808  ...    A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    232.777778  231.651814  ...    A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..          ...         ...  ...   ...                                       ...
155  233.650597  232.404026  ...    D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  233.539972  232.222141  ...    D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  233.250629  232.205990  ...    D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  233.601493  232.361740  ...    D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  233.678111  232.620161  ...    D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 16 columns]

#Datapoint 3

In [375]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [376]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [377]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.742310  220.329113  179.304683  219.921841  221.277007  205.028488
1    231.049184  229.479344  194.272949  227.446230  229.103320  214.265563
2    230.406704  229.130347  193.244298  226.984255  229.150881  213.952520
3    230.725185  229.019479  191.333739  227.875578  229.120851  212.318562
4    230.505154  228.956335  192.620891  227.558964  229.167844  213.884019
..          ...         ...         ...         ...         ...         ...
155  232.007467  230.425696  187.978005  224.660174  222.844250  178.104699
156  231.837270  230.207126  187.653113  224.645483  222.668128  177.696940
157  231.502800  230.094554  186.927360  224.177502  222.411249  177.167113
158  231.932067  230.411980  187.865271  224.340881  222.540946  177.397370
159  231.999270  230.585099  188.053567  224.889214  223.229851  178.343479

[160 rows x 6 columns]

In [378]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [379]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set6'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.527798  49.771041  222.742959  32.554338  18.729730  221.277007    Set6
1    30.382436  41.005600  231.175554  33.472770  16.598977  229.103320    Set6
2    30.864703  41.554744  230.509374  34.275059  17.001380  229.150881    Set6
3    29.889944  43.849688  230.796689  32.594513  18.805211  229.121013    Set6
4    30.292022  42.289019  230.601331  33.268160  17.105917  229.168087    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  29.889701  48.798636  232.132051  28.800747  53.006412  224.684604    Set6
156  29.779563  48.976463  231.957146  28.694830  53.442010  224.651814    Set6
157  29.809512  49.492979  231.653924  28.854638  53.637611  224.193897    Set6
158  30.029462  48.879636  232.075481  28.836864  53.528610  224.364743    Set6
159  29.920704  48.684035  232.129210  28.884831  52.930769  224.896112    Set6

[160 rows x 7 columns]

In [380]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    222.742310  220.329113  ...    A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    231.049184  229.479344  ...    A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    230.406704  229.130347  ...    A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    230.725185  229.019479  ...    A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    230.505154  228.956335  ...    A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..          ...         ...  ...   ...                                       ...
155  232.007467  230.425696  ...    D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  231.837270  230.207126  ...    D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  231.502800  230.094554  ...    D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  231.932067  230.411980  ...    D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  231.999270  230.585099  ...    D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 16 columns]

#Datapoint 4

In [381]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [382]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [383]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.515948  218.076130  177.704326  217.475854  219.056002  203.147715
1    228.180261  226.159565  187.591105  225.449963  227.087899  211.817385
2    227.645970  225.994724  186.888645  224.955280  227.196818  211.495009
3    228.042529  225.959500  185.008766  225.908287  226.981333  209.881422
4    227.895057  225.946839  186.522847  225.696697  227.216216  211.481454
..          ...         ...         ...         ...         ...         ...
155  229.860157  227.933447  182.293402  222.691421  220.781349  175.012255
156  229.659687  227.707978  182.164841  222.682899  220.618943  174.594919
157  229.408246  227.650921  181.606607  222.235776  220.329681  174.099667
158  229.679490  227.846685  182.052106  222.497281  220.565620  174.362146
159  229.836458  228.090983  182.428212  222.999026  221.229446  175.177908

[160 rows x 6 columns]

In [384]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [385]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set6'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.490545  49.509942  220.516273  32.989287  18.525526  219.056002    Set6
1    28.834673  45.387874  228.184157  33.120851  17.217921  227.087899    Set6
2    29.138138  45.735979  227.652626  34.040419  17.686876  227.196818    Set6
3    28.731840  48.132700  228.042610  32.109082  19.271082  226.981333    Set6
4    28.924925  46.351108  227.897330  32.835322  17.739632  227.216216    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  28.814544  52.853908  229.861294  28.747017  54.731759  222.700674    Set6
156  28.781024  52.819414  229.660985  28.685983  55.184725  222.684847    Set6
157  28.895220  53.231475  229.428212  28.807077  55.360360  222.242026    Set6
158  28.887753  52.953981  229.682087  28.787193  55.305008  222.506534    Set6
159  28.913562  52.676974  229.844412  28.835403  54.812191  223.001380    Set6

[160 rows x 7 columns]

In [386]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    220.515948  218.076130  ...    A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    228.180261  226.159565  ...    A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    227.645970  225.994724  ...    A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    228.042529  225.959500  ...    A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    227.895057  225.946839  ...    A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..          ...         ...  ...   ...                                       ...
155  229.860157  227.933447  ...    D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  229.659687  227.707978  ...    D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  229.408246  227.650921  ...    D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  229.679490  227.846685  ...    D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  229.836458  228.090983  ...    D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 16 columns]

#Datapoint 5

In [387]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [388]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [389]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    217.785975  215.545897  177.013392  214.640776  216.398344  201.652382
1    226.262235  224.074588  184.790683  223.429511  225.042448  209.803263
2    225.839299  223.971025  184.054054  222.937099  225.153153  209.531856
3    226.238292  223.950085  182.309634  223.898872  224.900170  207.834997
4    226.089684  223.958445  183.751887  223.744095  225.196900  209.455645
..          ...         ...         ...         ...         ...         ...
155  227.888321  225.930769  179.544355  220.439737  218.472121  172.276114
156  227.726402  225.710332  179.531856  220.471390  218.324811  171.919974
157  227.470579  225.559857  178.970132  219.977437  217.995780  171.292103
158  227.757974  225.844737  179.195763  220.256473  218.200958  171.530233
159  227.921597  226.068663  179.719747  220.818602  218.872251  172.350621

[160 rows x 6 columns]

In [390]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [391]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set6'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.536320  47.684360  217.795065  33.753754  17.342261  216.398344    Set6
1    28.759597  46.758218  226.262235  33.075237  17.344777  225.042448    Set6
2    29.042691  47.249899  225.846116  34.015745  17.756919  225.153153    Set6
3    28.560182  49.516354  226.238374  32.001299  19.376836  224.900170    Set6
4    28.816573  47.801558  226.091308  32.712929  17.910235  225.196900    Set6
..         ...        ...         ...        ...        ...         ...     ...
155  28.806672  54.173687  227.888321  28.705787  55.813570  220.439737    Set6
156  28.746125  54.040581  227.726402  28.631199  56.238779  220.471390    Set6
157  28.820713  54.442984  227.473176  28.749128  56.530071  219.977437    Set6
158  28.857560  54.440630  227.757974  28.718935  56.523334  220.258745    Set6
159  28.856505  53.993101  227.921597  28.731921  56.076293  220.818602    Set6

[160 rows x 7 columns]

In [392]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    217.785975  215.545897  ...    A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    226.262235  224.074588  ...    A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    225.839299  223.971025  ...    A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    226.238292  223.950085  ...    A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    226.089684  223.958445  ...    A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..          ...         ...  ...   ...                                       ...
155  227.888321  225.930769  ...    D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  227.726402  225.710332  ...    D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  227.470579  225.559857  ...    D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  227.757974  225.844737  ...    D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  227.921597  226.068663  ...    D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[160 rows x 16 columns]

In [393]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    224.434543  222.163298  ...    A1  3F1B3716-EDAF-4678-9B19-C853578E6E5E.png
1    233.272867  232.202094  ...    A1  AFCE8412-457E-4DC7-923D-0B6E1C589A1F.png
2    232.744339  231.950491  ...    A1  3FFEC1D4-F7E1-4097-B6BD-0FA34F0DA2CC.png
3    233.142846  231.853746  ...    A1  11C68593-0093-41EA-BC8D-E92083E86BFA.png
4    232.878419  231.775668  ...    A1  40D0741F-9FEB-4A37-85AF-E2F86BC757E6.png
..          ...         ...  ...   ...                                       ...
155  227.888321  225.930769  ...    D4  1C25B7DF-E145-4448-B108-35D44D417586.png
156  227.726402  225.710332  ...    D4  2FB2F299-FCA1-4F6B-B0CE-F6E91150F7E8.png
157  227.470579  225.559857  ...    D4  2C9BFCC9-B319-4EE6-BFDD-C66E652C1039.png
158  227.757974  225.844737  ...    D4  84180E71-640E-4340-B20D-C747A92B6924.png
159  227.921597  226.068663  ...    D4  5E93F9E9-8B39-4BE1-9B61-C012AC9EAFF5.png

[800 rows x 16 columns]

In [394]:
st1.to_csv('D4_6.csv', index=False)