<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareDSet6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerDD.xlsx']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.4 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.6 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 38.9 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'Color-checkerDD.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='D3_2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    A5CAA12F-125A-40AF-B325-D67C3B677C36.png  ...  Duration 1/145 ISO 145
1    A9E8B014-8F67-48FE-8249-E7C04861672F.png  ...  Duration 1/145 ISO 145
2    271DC401-D060-44CF-9035-B5163A38C82A.png  ...  Duration 1/145 ISO 145
3    A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png  ...  Duration 1/145 ISO 145
4    BFE57A76-6444-47E0-8266-3F9240EDE840.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
159  B51F14C0-14D0-4F52-B967-A0132DB00850.png  ...  Duration 1/145 ISO 145
160  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png  ...  Duration 1/145 ISO 145
161  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png  ...  Duration 1/145 ISO 145
162  24B04492-1778-415E-9411-D12049F82A81.png  ...  Duration 1/145 ISO 145
163  B106F719-98EA-4484-83F0-B831752F5811.png  ...  Duration 1/145 ISO 145

[164 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    A5CAA12F-125A-40AF-B325-D67C3B677C36.png  ...  Duration 1/145 ISO 145
1    A9E8B014-8F67-48FE-8249-E7C04861672F.png  ...  Duration 1/145 ISO 145
2    271DC401-D060-44CF-9035-B5163A38C82A.png  ...  Duration 1/145 ISO 145
3    A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png  ...  Duration 1/145 ISO 145
4    BFE57A76-6444-47E0-8266-3F9240EDE840.png  ...  Duration 1/145 ISO 145
..                                        ...  ...                     ...
159  B51F14C0-14D0-4F52-B967-A0132DB00850.png  ...  Duration 1/145 ISO 145
160  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png  ...  Duration 1/145 ISO 145
161  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png  ...  Duration 1/145 ISO 145
162  24B04492-1778-415E-9411-D12049F82A81.png  ...  Duration 1/145 ISO 145
163  B106F719-98EA-4484-83F0-B831752F5811.png  ...  Duration 1/145 ISO 145

[164 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

          Ref      Shad                                       Img
0     ตารางสี   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1    ตารางเทา  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2          D3        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3          D3        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4          D3        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..        ...       ...                                       ...
159        D3        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160        D3        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161        D3        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   ตารางสี   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163  ตารางเทา  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                หมายเหตุ
0  A5CAA12F-125A-40AF-B325-D67C3B677C36.png  ...  Duration 1/145 ISO 145
1  A9E8B014-8F67-48FE-8249-E7C04861672F.png  ...  Duration 1/145 ISO 145
2  271DC401-D060-44CF-9035-B5163A38C82A.png  ...  Duration 1/145 ISO 145

[3 rows x 7 columns]

In [ ]:
import numpy as np

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0   35.862755   43.021021   66.577064    Set1
1   36.018667   43.965425   66.361740    Set1
2  216.974434  221.510592  199.688012    Set1

In [ ]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...      Shad                                       Img
0     35.862755   43.021021  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     36.018667   43.965425  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    216.974434  221.510592  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3           NaN         NaN  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4           NaN         NaN  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159         NaN         NaN  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160         NaN         NaN  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161         NaN         NaN  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162         NaN         NaN  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163         NaN         NaN  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 7 columns]

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
import numpy as np

In [ ]:
from tabulate import tabulate

In [ ]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [ ]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [ ]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [ ]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0     35.862755   43.021021   66.577064   37.105825   44.283266   67.873266
1     36.018667   43.965425   66.361740   36.654790   44.546903   66.834862
2    216.974434  221.510592  199.688012  216.226726  220.796743  199.027381
3    224.099505  229.098369  205.000081  223.430553  228.342721  204.197781
4    223.496388  229.110949  204.149501  222.779319  228.326577  203.311215
..          ...         ...         ...         ...         ...         ...
159  225.616508  224.449801  189.317669  224.903350  223.803428  188.581893
160  224.155669  222.761951  185.668209  223.448972  222.049783  184.968494
161  224.913725  223.674702  187.020859  224.202617  222.956049  186.312424
162   38.828991   46.750183   68.267592   39.937131   47.949079   69.486381
163   36.081730   44.493710   67.252577   37.309295   45.774767   68.394567

[164 rows x 6 columns]

##HSV

In [ ]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [ ]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

         H-Shad      S-Shad      V-Shad Setting
id
0    113.043027  148.469099   67.873266    Set1
1    112.126236  148.747031   66.834862    Set1
2     36.572363   25.152407  220.796743    Set1
3     36.403741   26.914089  228.342721    Set1
4     36.838632   27.870422  228.326577    Set1
..          ...         ...         ...     ...
159   29.275585   41.220468  224.903350    Set1
160   29.264490   43.970130  223.448972    Set1
161   29.318683   43.156106  224.202902    Set1
162  111.993528  142.799090   69.486381    Set1
163  111.853638  145.823057   68.394567    Set1

[164 rows x 4 columns]

In [ ]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...      Shad                                       Img
0     35.862755   43.021021  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     36.018667   43.965425  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    216.974434  221.510592  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3    224.099505  229.098369  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4    223.496388  229.110949  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159  225.616508  224.449801  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160  224.155669  222.761951  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161  224.913725  223.674702  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   38.828991   46.750183  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163   36.081730   44.493710  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 16 columns]

#2

In [ ]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [ ]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [ ]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     30.557789   37.248349   59.751748   55.794366   65.477898   87.902326
1     27.538947   34.784188   58.005730   56.342415   66.237976   86.322676
2    223.003011  226.997086  203.197941  226.404689  225.717264  188.152813
3    229.059343  233.972222  210.975622  233.256047  233.547030  199.407284
4    228.455031  233.822261  210.014763  233.140209  233.602261  198.941062
..          ...         ...         ...         ...         ...         ...
159  231.932401  231.802545  202.107129  238.617830  236.825132  216.301177
160  230.226010  229.774281  198.125000  236.595589  234.096933  212.002039
161  231.060509  230.752137  199.680944  237.407562  234.995459  213.191271
162   31.007964   38.238054   59.203671   57.444630   67.388287   87.785099
163   28.558469   36.329157   59.391220   57.761931   67.795292   88.446761

[164 rows x 6 columns]

In [ ]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...      Shad                                       Img
0     30.557789   37.248349  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     27.538947   34.784188  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    223.003011  226.997086  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3    229.059343  233.972222  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4    228.455031  233.822261  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159  231.932401  231.802545  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160  230.226010  229.774281  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161  231.060509  230.752137  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   31.007964   38.238054  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163   28.558469   36.329157  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 16 columns]

#3

In [ ]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [ ]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [ ]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     30.618395   37.630245   60.165987   54.802984   64.516542   86.831804
1     29.449204   36.906469   59.837801   54.511445   64.372903   84.604763
2    221.148310  225.207265  201.648407  225.156890  224.367343  186.738578
3    226.892871  231.915016  207.906469  230.486146  230.582986  193.364100
4    226.239996  231.811577  206.976107  230.373552  230.644241  192.894449
..          ...         ...         ...         ...         ...         ...
159  228.979215  228.103827  194.763598  236.212585  233.843851  211.410249
160  227.251845  226.211830  190.804099  234.317209  231.258549  207.078769
161  228.094211  227.227078  192.293803  235.136781  232.142990  208.227597
162   31.751943   39.198621   60.127428   56.858493   66.772403   87.170883
163   30.313326   38.370338   61.235237   56.165323   66.072468   86.741081

[164 rows x 6 columns]

In [ ]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...      Shad                                       Img
0     30.618395   37.630245  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     29.449204   36.906469  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    221.148310  225.207265  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3    226.892871  231.915016  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4    226.239996  231.811577  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159  228.979215  228.103827  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160  227.251845  226.211830  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161  228.094211  227.227078  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   31.751943   39.198621  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163   30.313326   38.370338  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 16 columns]

#4

In [ ]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [ ]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [ ]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     32.184052   39.131799   62.082168   53.818923   63.614586   85.809378
1     31.754371   39.546232   62.264083   53.675470   63.558706   83.834770
2    218.774767  223.031177  199.940268  223.545825  222.756834  185.358262
3    224.999320  230.053710  205.890249  229.117505  229.105644  191.444074
4    224.371115  230.035451  204.878788  228.932258  229.251413  190.942637
..          ...         ...         ...         ...         ...         ...
159  226.834110  225.618298  190.833625  234.846168  232.109628  209.439904
160  225.272630  223.932692  187.184441  233.068761  229.770457  205.129645
161  226.072844  224.924242  188.596154  233.906403  230.622463  206.250672
162   33.679876   41.198621   62.246115   55.960152   65.811880   86.249560
163   32.816919   41.036713   63.766997   56.023353   65.836623   86.281716

[164 rows x 6 columns]

In [ ]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

          R-ref       G-ref  ...      Shad                                       Img
0     32.184052   39.131799  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     31.754371   39.546232  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    218.774767  223.031177  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3    224.999320  230.053710  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4    224.371115  230.035451  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159  226.834110  225.618298  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160  225.272630  223.932692  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161  226.072844  224.924242  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   33.679876   41.198621  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163   32.816919   41.036713  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 16 columns]

#5

In [ ]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     36.891608   44.408217   68.102273   53.492077   63.337225   85.511723
1     34.850524   42.792638   65.396076   53.127143   63.038921   83.286628
2    215.889957  220.492133  198.769134  221.715689  221.137059  184.329534
3    222.997086  228.073815  203.907828  227.557780  227.515522  189.676768
4    222.407148  228.006410  203.041181  227.322120  227.653508  189.204986
..          ...         ...         ...         ...         ...         ...
159  224.519619  223.277389  187.778943  233.135761  230.056714  207.378278
160  223.117813  221.579351  184.257673  231.416180  227.989250  203.063757
161  223.900058  222.470765  185.541861  232.395144  228.898063  204.180243
162   38.552253   46.940074   68.514180   55.535724   65.367343   85.805393
163   36.709110   45.152195   67.945319   55.492725   65.042165   85.482810

[164 rows x 6 columns]

In [ ]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...      Shad                                       Img
0     36.891608   44.408217  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     34.850524   42.792638  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    215.889957  220.492133  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3    222.997086  228.073815  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4    222.407148  228.006410  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159  224.519619  223.277389  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160  223.117813  221.579351  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161  223.900058  222.470765  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   38.552253   46.940074  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163   36.709110   45.152195  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[164 rows x 16 columns]

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref  ...      Shad                                       Img
0     35.862755   43.021021  ...   ตารางสี  A5CAA12F-125A-40AF-B325-D67C3B677C36.png
1     36.018667   43.965425  ...  ตารางเทา  A9E8B014-8F67-48FE-8249-E7C04861672F.png
2    216.974434  221.510592  ...        A1  271DC401-D060-44CF-9035-B5163A38C82A.png
3    224.099505  229.098369  ...        A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
4    223.496388  229.110949  ...        A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
..          ...         ...  ...       ...                                       ...
159  224.519619  223.277389  ...        D4  B51F14C0-14D0-4F52-B967-A0132DB00850.png
160  223.117813  221.579351  ...        D4  B5318B95-BFF4-4496-BE7E-74192DE01ACA.png
161  223.900058  222.470765  ...        D4  DF1A65AD-9A23-47F7-ABAF-3C30552317C4.png
162   38.552253   46.940074  ...   ตารางสี  24B04492-1778-415E-9411-D12049F82A81.png
163   36.709110   45.152195  ...  ตารางเทา  B106F719-98EA-4484-83F0-B831752F5811.png

[820 rows x 16 columns]

In [ ]:
st1.to_csv('D3set6.csv', index=False)