<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareBSet2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 2.4 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 3.8 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 45.0 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'BB1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='B1Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0    AEF34645-B125-4481-B378-9F740119E34B.png  ...  ค่า duration 1/100 ISO 630
1    7B786FDA-1147-419F-870D-48EE311B41A7.png  ...  ค่า duration 1/100 ISO 630
2    14C23018-F05B-47AF-ADC6-277F5B8227F2.png  ...  ค่า duration 1/100 ISO 630
3    03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png  ...  ค่า duration 1/100 ISO 630
4    E58BEC6B-47E4-4F24-A845-6C7065F6286F.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  ADD251E6-0001-4EC3-BB38-98E307E36583.png  ...  ค่า duration 1/100 ISO 630
157  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png  ...  ค่า duration 1/100 ISO 630
158  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png  ...  ค่า duration 1/100 ISO 630
159  135227AC-E890-479C-AE17-4BAB25C0851F.png  ...  ค่า duration 1/100 ISO 630
160  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                    หมายเหตุ
0    AEF34645-B125-4481-B378-9F740119E34B.png  ...  ค่า duration 1/100 ISO 630
1    7B786FDA-1147-419F-870D-48EE311B41A7.png  ...  ค่า duration 1/100 ISO 630
2    14C23018-F05B-47AF-ADC6-277F5B8227F2.png  ...  ค่า duration 1/100 ISO 630
3    03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png  ...  ค่า duration 1/100 ISO 630
4    E58BEC6B-47E4-4F24-A845-6C7065F6286F.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
156  ADD251E6-0001-4EC3-BB38-98E307E36583.png  ...  ค่า duration 1/100 ISO 630
157  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png  ...  ค่า duration 1/100 ISO 630
158  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png  ...  ค่า duration 1/100 ISO 630
159  135227AC-E890-479C-AE17-4BAB25C0851F.png  ...  ค่า duration 1/100 ISO 630
160  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B1   A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    B1   A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    B1   A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    B1   A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    B1   A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..   ..  ...                                       ...
156  B1   D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  B1   D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  B1   D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  B1   D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  B1   D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                    หมายเหตุ
0  AEF34645-B125-4481-B378-9F740119E34B.png  ...  ค่า duration 1/100 ISO 630
1  7B786FDA-1147-419F-870D-48EE311B41A7.png  ...  ค่า duration 1/100 ISO 630
2  14C23018-F05B-47AF-ADC6-277F5B8227F2.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [ ]:
import numpy as np

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  234.815031  217.558477  176.138625    Set1
1  232.727620  216.042529  174.417742    Set1
2  226.770067  210.563347  170.603522    Set1

In [ ]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    234.815031  217.558477  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    232.727620  216.042529  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    226.770067  210.563347  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3           NaN         NaN  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4           NaN         NaN  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156         NaN         NaN  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157         NaN         NaN  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158         NaN         NaN  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159         NaN         NaN  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160         NaN         NaN  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 7 columns]

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
import numpy as np

In [ ]:
from tabulate import tabulate

In [ ]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [ ]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [ ]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [ ]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    234.815031  217.558477  176.138625  234.785079  217.582035  176.231207
1    232.727620  216.042529  174.417742  232.590499  215.900220  174.397482
2    226.770067  210.563347  170.603522  226.835005  210.685229  170.845246
3    225.828017  205.090171  161.716581  225.956973  205.274020  162.008179
4    224.204123  203.246003  160.220274  224.318825  203.394851  160.420667
..          ...         ...         ...         ...         ...         ...
156  223.314017  197.437546  139.899034  223.286395  197.411777  139.969917
157  218.147796  192.170765  134.994319  218.240168  192.267549  135.195434
158  220.734112  194.969645  137.013798  220.752934  194.958538  137.115070
159  220.528529  194.584774  137.016882  220.508499  194.489866  136.893393
160  220.831507  194.947001  137.188621  220.818647  194.919565  137.233056

[161 rows x 6 columns]

##HSV

In [ ]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [ ]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    21.532964  63.610696  234.785079    Set1
1    21.642557  63.816300  232.590499    Set1
2    21.579262  62.906479  226.835005    Set1
3    20.198635  72.194652  225.956973    Set1
4    20.018633  72.672001  224.318825    Set1
..         ...        ...         ...     ...
156  20.991608  95.129223  223.286395    Set1
157  20.897518  97.011023  218.240168    Set1
158  20.984923  96.622929  220.752934    Set1
159  20.913804  96.682171  220.508499    Set1
160  20.980087  96.528696  220.818647    Set1

[161 rows x 4 columns]

In [ ]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    234.815031  217.558477  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    232.727620  216.042529  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    226.770067  210.563347  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    225.828017  205.090171  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    224.204123  203.246003  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156  223.314017  197.437546  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  218.147796  192.170765  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  220.734112  194.969645  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  220.528529  194.584774  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  220.831507  194.947001  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 16 columns]

#2

In [ ]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [ ]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [ ]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    239.881605  224.382867  184.782343  237.870726  226.047169  191.662311
1    238.117716  222.694736  183.378011  236.545455  224.692707  190.628209
2    233.842075  216.756216  175.541764  232.444908  218.966268  183.376703
3    231.565365  211.148407  167.135198  230.084515  212.845890  171.679362
4    230.061772  209.351593  165.364413  228.915392  211.588917  171.301270
..          ...         ...         ...         ...         ...         ...
156  228.435995  204.365676  148.641317  233.718562  217.651005  179.629135
157  223.564685  197.718726  140.564685  229.597535  212.637568  173.168474
158  226.121406  202.199689  146.731935  232.258363  216.627189  179.523028
159  225.577409  201.399476  146.246406  231.684367  216.109721  177.877491
160  226.285839  202.065365  146.926573  232.342786  216.323047  178.538504

[161 rows x 6 columns]

In [ ]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    239.881605  224.382867  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    238.117716  222.694736  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    233.842075  216.756216  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    231.565365  211.148407  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    230.061772  209.351593  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156  228.435995  204.365676  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  223.564685  197.718726  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  226.121406  202.199689  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  225.577409  201.399476  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  226.285839  202.065365  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 16 columns]

#3

In [ ]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [ ]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [ ]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    238.081682  221.755051  181.142385  235.877861  223.403206  188.274488
1    235.952117  219.916764  179.500291  234.624780  222.123251  187.442591
2    232.103632  215.131022  174.147533  230.502548  216.921416  181.024928
3    229.841492  209.444444  165.517483  228.251135  210.763414  169.306274
4    228.368395  207.523019  163.672980  227.025021  209.357891  169.048559
..          ...         ...         ...         ...         ...         ...
156  226.866356  201.997183  145.986888  232.340284  215.657214  176.236864
157  222.000680  196.017385  138.490190  228.330553  210.792790  171.242054
158  224.160354  199.408702  143.393260  231.053192  214.620888  176.439718
159  223.845377  198.916958  143.018551  230.467334  214.144936  174.395329
160  224.250777  199.292929  143.609460  230.977945  214.345195  175.260773

[161 rows x 6 columns]

In [ ]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    238.081682  221.755051  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    235.952117  219.916764  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    232.103632  215.131022  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    229.841492  209.444444  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    228.368395  207.523019  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156  226.866356  201.997183  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  222.000680  196.017385  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  224.160354  199.408702  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  223.845377  198.916958  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  224.250777  199.292929  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 16 columns]

#4

In [ ]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [ ]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [ ]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    236.372863  219.322844  177.911131  234.147067  220.985729  185.437680
1    233.941239  217.435800  176.092754  232.728292  219.556019  184.555278
2    229.438908  212.935606  172.304681  228.053470  214.411732  178.521731
3    227.790890  207.271659  163.585179  225.770642  208.319526  166.695672
4    226.350816  205.394134  161.782051  224.728477  206.874896  166.727365
..          ...         ...         ...         ...         ...         ...
156  224.691142  199.008936  141.808566  231.095265  213.991567  173.351960
157  220.157148  194.143162  136.419192  226.329719  208.563432  168.724493
158  221.989219  196.469114  138.924437  229.872394  212.685293  173.660921
159  221.706391  195.957265  138.620921  229.204337  212.232972  171.426559
160  222.129079  196.501943  139.379759  229.580576  212.372903  172.275971

[161 rows x 6 columns]

In [ ]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

          R-ref       G-ref  ...  Shad                                       Img
0    236.372863  219.322844  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    233.941239  217.435800  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    229.438908  212.935606  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    227.790890  207.271659  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    226.350816  205.394134  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156  224.691142  199.008936  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  220.157148  194.143162  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  221.989219  196.469114  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  221.706391  195.957265  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  222.129079  196.501943  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 16 columns]

#5

In [ ]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    234.592366  217.212024  175.886849  232.226022  218.809656  182.976925
1    232.555458  215.691822  174.076049  230.797887  217.391530  182.127606
2    226.305750  210.198524  170.470960  225.185525  211.633584  175.871004
3    225.616841  204.899087  161.657246  223.299787  205.777129  164.705403
4    224.022339  203.058372  160.139277  222.210175  204.329256  164.973774
..          ...         ...         ...         ...         ...         ...
156  222.976593  197.002234  139.413267  230.082476  212.689741  171.499583
157  217.744949  191.741550  134.388986  224.026596  206.311371  166.091836
158  220.288559  194.408605  136.307984  228.782504  211.165786  171.737003
159  220.079254  194.008547  136.199106  228.076360  210.583820  169.224539
160  220.414239  194.447650  136.564005  228.478269  210.826337  170.598740

[161 rows x 6 columns]

In [ ]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...  Shad                                       Img
0    234.592366  217.212024  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    232.555458  215.691822  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    226.305750  210.198524  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    225.616841  204.899087  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    224.022339  203.058372  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156  222.976593  197.002234  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  217.744949  191.741550  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  220.288559  194.408605  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  220.079254  194.008547  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  220.414239  194.447650  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[161 rows x 16 columns]

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    234.815031  217.558477  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1    232.727620  216.042529  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2    226.770067  210.563347  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3    225.828017  205.090171  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4    224.204123  203.246003  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png
..          ...         ...  ...   ...                                       ...
156  222.976593  197.002234  ...    D4  ADD251E6-0001-4EC3-BB38-98E307E36583.png
157  217.744949  191.741550  ...    D4  B690CC20-0FE1-476E-A9F2-EF9CA62D4EF0.png
158  220.288559  194.408605  ...    D4  3D0A1436-6A1A-480C-B3A6-2D1F7CC3AA29.png
159  220.079254  194.008547  ...    D4  135227AC-E890-479C-AE17-4BAB25C0851F.png
160  220.414239  194.447650  ...    D4  C7D801E8-3552-417B-B2AF-AFE238CA2FCE.png

[805 rows x 16 columns]

In [ ]:
st1.to_csv('B1Set1 .csv', index=False)