<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareASet5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
 import pandas as pd

In [73]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
path = '/content/drive/My Drive/shadeimg'

In [75]:
import os

In [76]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerDD .xlsx',
 'Color-checkerCC.xlsx']

In [77]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.27)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)

In [78]:
from azure.storage.blob import BlockBlobService
import os

In [79]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [80]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [81]:
AA = os.path.join(path,'Color-checkerAA1.xlsx')

In [82]:
A1_set1= pd.read_excel(AA, sheet_name='A1_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    617830DD-CE22-4FE4-BB73-985BA6B7C96D.png  ...  Duration 1/100 ISO 630
1    4A452059-7787-4CEB-B348-018AE0C9FE91.png  ...  Duration 1/100 ISO 630
2    A0DE7391-7B39-4698-A672-5E4B592D54F3.png  ...  Duration 1/100 ISO 630
3    29983AE2-42D6-4E42-8963-F2BC3C280F63.png  ...  Duration 1/100 ISO 630
4    1021EB5D-07A9-494F-83FF-87597C0B0C9A.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
161  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png  ...  Duration 1/100 ISO 630
162  393C275A-B31D-4CEA-836E-A6701A994A48.png  ...  Duration 1/100 ISO 630
163  7F7C74D8-6608-496B-9254-F10ACF1064CD.png  ...  Duration 1/100 ISO 630
164  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png  ...  Duration 1/100 ISO 630
165  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png  ...  Duration 1/100 ISO 630

[166 rows x 7 columns]

In [83]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [84]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [85]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [86]:
A1_set1

                                          Img  ...                หมายเหตุ
0    617830DD-CE22-4FE4-BB73-985BA6B7C96D.png  ...  Duration 1/100 ISO 630
1    4A452059-7787-4CEB-B348-018AE0C9FE91.png  ...  Duration 1/100 ISO 630
2    A0DE7391-7B39-4698-A672-5E4B592D54F3.png  ...  Duration 1/100 ISO 630
3    29983AE2-42D6-4E42-8963-F2BC3C280F63.png  ...  Duration 1/100 ISO 630
4    1021EB5D-07A9-494F-83FF-87597C0B0C9A.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
161  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png  ...  Duration 1/100 ISO 630
162  393C275A-B31D-4CEA-836E-A6701A994A48.png  ...  Duration 1/100 ISO 630
163  7F7C74D8-6608-496B-9254-F10ACF1064CD.png  ...  Duration 1/100 ISO 630
164  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png  ...  Duration 1/100 ISO 630
165  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png  ...  Duration 1/100 ISO 630

[166 rows x 7 columns]

In [87]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [88]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

               Ref Shad                                       Img
0          ตารางสี  NaN  617830DD-CE22-4FE4-BB73-985BA6B7C96D.png
1         ตารางเทา  NaN  4A452059-7787-4CEB-B348-018AE0C9FE91.png
2               A1   A1  A0DE7391-7B39-4698-A672-5E4B592D54F3.png
3               A1   A1  29983AE2-42D6-4E42-8963-F2BC3C280F63.png
4               A1   A1  1021EB5D-07A9-494F-83FF-87597C0B0C9A.png
..             ...  ...                                       ...
161             A1   D4  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png
162   ตารางสี เล็ก  NaN  393C275A-B31D-4CEA-836E-A6701A994A48.png
163        ตารางสี  NaN  7F7C74D8-6608-496B-9254-F10ACF1064CD.png
164  ตารางเทา เล็ก  NaN  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png
165       ตารางเทา  NaN  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png

[166 rows x 3 columns]

In [89]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                หมายเหตุ
0  617830DD-CE22-4FE4-BB73-985BA6B7C96D.png  ...  Duration 1/100 ISO 630
1  4A452059-7787-4CEB-B348-018AE0C9FE91.png  ...  Duration 1/100 ISO 630
2  A0DE7391-7B39-4698-A672-5E4B592D54F3.png  ...  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [90]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

#ลอง

In [91]:
import cv2
pic = ('A0DE7391-7B39-4698-A672-5E4B592D54F3.png')
img00  = cv2.imread(pic)
img00

array([[[ 96,  96, 102],
        [104, 104, 110],
        [106, 106, 112],
        ...,
        [102, 102, 108],
        [107, 107, 113],
        [104, 104, 110]],

       [[104, 104, 110],
        [ 95,  95, 101],
        [109, 109, 115],
        ...,
        [111, 111, 117],
        [107, 107, 113],
        [109, 109, 115]],

       [[ 97,  97, 103],
        [ 96,  96, 102],
        [ 94,  94, 100],
        ...,
        [116, 116, 122],
        [107, 107, 113],
        [109, 109, 115]],

       ...,

       [[ 51,  52,  56],
        [ 45,  46,  50],
        [ 59,  60,  64],
        ...,
        [ 33,  37,  42],
        [ 29,  33,  38],
        [ 39,  43,  48]],

       [[ 43,  44,  48],
        [ 44,  45,  49],
        [ 57,  58,  62],
        ...,
        [ 33,  37,  42],
        [ 36,  40,  45],
        [ 23,  27,  32]],

       [[ 55,  56,  60],
        [ 52,  53,  57],
        [ 57,  58,  62],
        ...,
        [ 33,  37,  42],
        [ 48,  52,  57],
        [ 36,  40,  45]]], dtype=uint8)

In [92]:
import cv2

In [93]:
list_total = list()
S1_double = pic
img00  = cv2.imread(S1_double)
S1RGB_imgA1A1_1= cv2.cvtColor(img00, cv2.COLOR_BGR2RGB)
S1meanrefA1_1 = list()
S1meanA1_2 = list()
for i in range(S1RGB_imgA1A1_1.shape[0]): 
   for j in range(S1RGB_imgA1A1_1.shape[1]): 
              if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
              if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])
S1meanrefA1_1 = np.array(S1meanrefA1_1)
S1meanA1_2 = np.array(S1meanA1_2)
S1rgbrefA1_1 = list()
S1rgbA1_2 = list()
for i in range(3):
  S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  S1rgbA1_2.append(S1meanA1_2[:,i].mean())
list_total.append([S1rgbrefA1_1,S1rgbA1_2])

In [94]:
list_total = list()
S1_double = pic
img00  = cv2.imread(S1_double)
S1RGB_imgA1A1_1= cv2.cvtColor(img00, cv2.COLOR_BGR2RGB)
S1meanrefA1_1 = list()
for i in range(S1RGB_imgA1A1_1.shape[0]): 
   for j in range(S1RGB_imgA1A1_1.shape[1]): 
              if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
              if 1770<i<1880 and 2015<j<2145 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j])
S1meanrefA1_1 = np.array(S1meanrefA1_1)
#S1meanA1_2 = np.array(S1meanrefA1_1)
S1rgbrefA1_1 = list()
#S1rgbA1_2 = list()
for i in range(3):
  S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  S1rgbrefA1_1.append(S1meanA1_2[:,i].mean())
list_total.append(S1rgbrefA1_1)

In [95]:
list_total

[[229.13092259874156,
  229.05803285683805,
  210.02645743309833,
  209.94474077234906,
  170.32692745053444,
  170.30623710973614]]

In [96]:
list_total

[[229.13092259874156,
  229.05803285683805,
  210.02645743309833,
  209.94474077234906,
  170.32692745053444,
  170.30623710973614]]

In [97]:
list_total

[[229.13092259874156,
  229.05803285683805,
  210.02645743309833,
  209.94474077234906,
  170.32692745053444,
  170.30623710973614]]

In [98]:
  list_total

[[229.13092259874156,
  229.05803285683805,
  210.02645743309833,
  209.94474077234906,
  170.32692745053444,
  170.30623710973614]]

In [99]:
list_total

[[229.13092259874156,
  229.05803285683805,
  210.02645743309833,
  209.94474077234906,
  170.32692745053444,
  170.30623710973614]]

In [100]:
list_total

[[229.13092259874156,
  229.05803285683805,
  210.02645743309833,
  209.94474077234906,
  170.32692745053444,
  170.30623710973614]]

In [101]:
import numpy as np

In [102]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [103]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0   36.425371   36.587858   38.650434    Set1
1   32.685983   33.454833   33.523415    Set1
2  229.214106  210.119714  170.350540    Set1

In [104]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0     36.425371   36.587858  ...   NaN  617830DD-CE22-4FE4-BB73-985BA6B7C96D.png
1     32.685983   33.454833  ...   NaN  4A452059-7787-4CEB-B348-018AE0C9FE91.png
2    229.214106  210.119714  ...    A1  A0DE7391-7B39-4698-A672-5E4B592D54F3.png
3           NaN         NaN  ...    A1  29983AE2-42D6-4E42-8963-F2BC3C280F63.png
4           NaN         NaN  ...    A1  1021EB5D-07A9-494F-83FF-87597C0B0C9A.png
..          ...         ...  ...   ...                                       ...
161         NaN         NaN  ...    D4  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png
162         NaN         NaN  ...   NaN  393C275A-B31D-4CEA-836E-A6701A994A48.png
163         NaN         NaN  ...   NaN  7F7C74D8-6608-496B-9254-F10ACF1064CD.png
164         NaN         NaN  ...   NaN  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png
165         NaN         NaN  ...   NaN  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png

[166 rows x 7 columns]

In [105]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [106]:
import numpy as np

In [107]:
from tabulate import tabulate

In [108]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [109]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [110]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [111]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [112]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [113]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0     36.425371   36.587858   38.650434   36.398620   36.529763   38.511699
1     32.685983   33.454833   33.523415   34.832942   35.703933   35.771851
2    229.214106  210.119714  170.350540  229.058033  209.944741  170.306237
3    227.036766  209.694262  175.875091  226.733945  209.511841  175.717588
4    227.672105  209.547439  172.753023  227.502738  209.367755  172.649456
..          ...         ...         ...         ...         ...         ...
161  223.703839  198.102751  143.307361  223.636441  198.023683  143.280563
162   35.285610   34.508400   34.988637   36.133561   35.505085   36.329280
163   27.735817   28.380894   29.579661   25.937771   26.610767   27.856909
164   31.217758   31.871358   32.167762   32.546761   33.340303   33.620937
165   29.567568   30.617564   31.637205   30.740132   31.797454   32.912168

[166 rows x 6 columns]

##HSV

In [114]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [115]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [116]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [117]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    96.258588  59.626911   39.470735    Set1
1    72.216699  24.823839   36.499680    Set1
2    19.956404  65.429557  229.058033    Set1
3    19.683095  57.351397  226.733945    Set1
4    19.930873  61.477633  227.502738    Set1
..         ...        ...         ...     ...
161  20.593983  91.651732  223.636441    Set1
162  80.221179  41.724131   37.775834    Set1
163  91.623498  66.030581   28.116208    Set1
164  66.973330  28.140388   34.245573    Set1
165  96.024109  46.176090   33.343788    Set1

[166 rows x 4 columns]

In [118]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0     36.425371   36.587858  ...   NaN  617830DD-CE22-4FE4-BB73-985BA6B7C96D.png
1     32.685983   33.454833  ...   NaN  4A452059-7787-4CEB-B348-018AE0C9FE91.png
2    229.214106  210.119714  ...    A1  A0DE7391-7B39-4698-A672-5E4B592D54F3.png
3    227.036766  209.694262  ...    A1  29983AE2-42D6-4E42-8963-F2BC3C280F63.png
4    227.672105  209.547439  ...    A1  1021EB5D-07A9-494F-83FF-87597C0B0C9A.png
..          ...         ...  ...   ...                                       ...
161  223.703839  198.102751  ...    D4  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png
162   35.285610   34.508400  ...   NaN  393C275A-B31D-4CEA-836E-A6701A994A48.png
163   27.735817   28.380894  ...   NaN  7F7C74D8-6608-496B-9254-F10ACF1064CD.png
164   31.217758   31.871358  ...   NaN  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png
165   29.567568   30.617564  ...   NaN  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png

[166 rows x 16 columns]

#2

In [119]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [120]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [121]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [122]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [123]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     40.022533   40.036616   43.054876   39.079140   39.293485   41.443240
1     28.574495   29.177933   29.554196   44.884070   45.589751   47.953943
2    234.997766  216.540598  178.479021  232.624595  214.648503  177.541377
3    232.732129  216.752137  184.566919  230.764711  215.301548  183.333148
4    233.101399  215.829351  180.719988  231.509499  214.492077  180.063201
..          ...         ...         ...         ...         ...         ...
161  227.789433  204.585567  151.071775  235.565101  216.709480  177.894449
162   42.674048   41.510781   42.299340   29.751089   30.854323   31.429710
163   27.278846   27.474845   28.499223   40.544435   41.603837   43.068483
164   25.640734   26.110625   26.258256   45.751923   46.301362   47.800482
165   26.522533   26.345571   25.450466   47.196367   47.897693   49.674636

[166 rows x 6 columns]

In [124]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [125]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [126]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [127]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [128]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0     40.022533   40.036616  ...   NaN  617830DD-CE22-4FE4-BB73-985BA6B7C96D.png
1     28.574495   29.177933  ...   NaN  4A452059-7787-4CEB-B348-018AE0C9FE91.png
2    234.997766  216.540598  ...    A1  A0DE7391-7B39-4698-A672-5E4B592D54F3.png
3    232.732129  216.752137  ...    A1  29983AE2-42D6-4E42-8963-F2BC3C280F63.png
4    233.101399  215.829351  ...    A1  1021EB5D-07A9-494F-83FF-87597C0B0C9A.png
..          ...         ...  ...   ...                                       ...
161  227.789433  204.585567  ...    D4  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png
162   42.674048   41.510781  ...   NaN  393C275A-B31D-4CEA-836E-A6701A994A48.png
163   27.278846   27.474845  ...   NaN  7F7C74D8-6608-496B-9254-F10ACF1064CD.png
164   25.640734   26.110625  ...   NaN  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png
165   26.522533   26.345571  ...   NaN  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png

[166 rows x 16 columns]

#3

In [129]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [130]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [131]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [132]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [133]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     39.374417   39.579060   42.414530   42.360208   42.796034   44.765453
1     29.870144   30.517580   30.688714   43.819757   44.550922   46.898249
2    232.921232  214.016997  175.090715  230.066630  211.452229  174.113243
3    230.408897  213.997183  180.860528  227.916875  212.177463  179.426652
4    230.887821  213.056624  177.241744  228.804374  211.283384  176.041423
..          ...         ...         ...         ...         ...         ...
161  226.315657  202.068862  148.034188  233.268186  214.122973  174.620610
162   36.962024   35.905109   36.530692   29.555926   30.565379   31.250023
163   24.571581   25.002525   26.026224   39.895839   40.936799   42.256881
164   27.114025   27.741162   27.918901   45.955611   46.482161   48.050968
165   26.949883   27.310606   27.137626   44.865721   45.571031   47.272727

[166 rows x 6 columns]

In [134]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [135]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [136]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [137]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [138]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0     39.374417   39.579060  ...   NaN  617830DD-CE22-4FE4-BB73-985BA6B7C96D.png
1     29.870144   30.517580  ...   NaN  4A452059-7787-4CEB-B348-018AE0C9FE91.png
2    232.921232  214.016997  ...    A1  A0DE7391-7B39-4698-A672-5E4B592D54F3.png
3    230.408897  213.997183  ...    A1  29983AE2-42D6-4E42-8963-F2BC3C280F63.png
4    230.887821  213.056624  ...    A1  1021EB5D-07A9-494F-83FF-87597C0B0C9A.png
..          ...         ...  ...   ...                                       ...
161  226.315657  202.068862  ...    D4  8B15B11E-99EB-4D7D-9742-000B1379DCA4.png
162   36.962024   35.905109  ...   NaN  393C275A-B31D-4CEA-836E-A6701A994A48.png
163   24.571581   25.002525  ...   NaN  7F7C74D8-6608-496B-9254-F10ACF1064CD.png
164   27.114025   27.741162  ...   NaN  2A188017-1584-4E2A-BFD4-9D2F3F336F78.png
165   26.949883   27.310606  ...   NaN  94CF7F00-8461-420B-880B-E2DEFE0A51E3.png

[166 rows x 16 columns]

#4

In [139]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [140]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [141]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [142]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [143]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     38.006896   38.414530   41.100913   42.695858   43.127050   44.564545
1     31.305653   32.043706   32.091006   42.011213   42.734130   45.000649
2    230.841200  211.730963  172.298660  228.076638  209.047076  171.672876
3    228.303225  211.354409  177.593629  225.687888  209.782782  176.690761
4    228.926185  210.873349  174.407537  226.853860  209.072190  173.301640
..          ...         ...         ...         ...         ...         ...
161  225.054973  199.898504  145.425019  231.490501  212.417107  172.488833
162   35.195901   34.261169   34.834596   30.672690   31.522658   32.402836
163   23.768648   24.430361   25.418221   39.176258   40.160226   41.435270
164   28.839355   29.519328   29.715132   44.801223   45.353257   46.827449
165   27.997475   28.854604   29.460567   42.001205   42.713002   44.326568

[166 rows x 6 columns]

In [144]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [145]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

#5

In [ ]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

In [ ]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

In [ ]:
st1.to_csv('A1set5.csv', index=False)