<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareSet1_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 4.3 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 3.5 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 57.3 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [171]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [172]:
path2 = os.path.join(path,'A1set1.xlsx')

In [173]:
A1_set1 = pd.read_excel(path2)

In [174]:
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0                                         NaN  ...                        NaN
1    219558E6-E67A-4672-9E46-3D084D0D2032.png  ...  ค่า duration 1/88 ISO 323
2    6D94544D-442A-4CFB-811D-FE7DC11D2ED2.png  ...  ค่า duration 1/88 ISO 323
3    7BF85808-DA35-4E17-B217-3872CF481063.png  ...  ค่า duration 1/88 ISO 323
4    F8F3A06B-FA35-4279-8C60-CA55360B7179.png  ...  ค่า duration 1/88 ISO 323
..                                        ...  ...                        ...
157  BD2FA08C-7FFF-4954-A5A7-439696889EAF.png  ...  ค่า duration 1/88 ISO 323
158  F416C964-E748-4A43-BD14-E972296B93AB.png  ...  ค่า duration 1/88 ISO 323
159  A7822018-E2E3-4156-8F78-EA68133F6491.png  ...  ค่า duration 1/88 ISO 323
160  5CD12207-6DA2-4D7B-B0DC-8D7406088384.png  ...  ค่า duration 1/88 ISO 323
161  E0E1C37E-221D-4768-8BC2-66513E7C527B.png  ...  ค่า duration 1/88 ISO 323

[162 rows x 7 columns]

In [175]:
A1_set1.rename(columns={"รหัสเฉดไกด์": "Ref"},inplace=True)

In [176]:
A1_set1.rename(columns={"Unnamed: 2":"Shad"},inplace=True)

In [177]:
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0                                         NaN  ...                        NaN
1    219558E6-E67A-4672-9E46-3D084D0D2032.png  ...  ค่า duration 1/88 ISO 323
2    6D94544D-442A-4CFB-811D-FE7DC11D2ED2.png  ...  ค่า duration 1/88 ISO 323
3    7BF85808-DA35-4E17-B217-3872CF481063.png  ...  ค่า duration 1/88 ISO 323
4    F8F3A06B-FA35-4279-8C60-CA55360B7179.png  ...  ค่า duration 1/88 ISO 323
..                                        ...  ...                        ...
157  BD2FA08C-7FFF-4954-A5A7-439696889EAF.png  ...  ค่า duration 1/88 ISO 323
158  F416C964-E748-4A43-BD14-E972296B93AB.png  ...  ค่า duration 1/88 ISO 323
159  A7822018-E2E3-4156-8F78-EA68133F6491.png  ...  ค่า duration 1/88 ISO 323
160  5CD12207-6DA2-4D7B-B0DC-8D7406088384.png  ...  ค่า duration 1/88 ISO 323
161  E0E1C37E-221D-4768-8BC2-66513E7C527B.png  ...  ค่า duration 1/88 ISO 323

[162 rows x 7 columns]

In [178]:
A1_set1 = A1_set1.drop([0])
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
1    219558E6-E67A-4672-9E46-3D084D0D2032.png  ...  ค่า duration 1/88 ISO 323
2    6D94544D-442A-4CFB-811D-FE7DC11D2ED2.png  ...  ค่า duration 1/88 ISO 323
3    7BF85808-DA35-4E17-B217-3872CF481063.png  ...  ค่า duration 1/88 ISO 323
4    F8F3A06B-FA35-4279-8C60-CA55360B7179.png  ...  ค่า duration 1/88 ISO 323
5    B7D67D95-6E1E-4FDB-9C86-BEC2876991A4.png  ...  ค่า duration 1/88 ISO 323
..                                        ...  ...                        ...
157  BD2FA08C-7FFF-4954-A5A7-439696889EAF.png  ...  ค่า duration 1/88 ISO 323
158  F416C964-E748-4A43-BD14-E972296B93AB.png  ...  ค่า duration 1/88 ISO 323
159  A7822018-E2E3-4156-8F78-EA68133F6491.png  ...  ค่า duration 1/88 ISO 323
160  5CD12207-6DA2-4D7B-B0DC-8D7406088384.png  ...  ค่า duration 1/88 ISO 323
161  E0E1C37E-221D-4768-8BC2-66513E7C527B.png  ...  ค่า duration 1/88 ISO 323

[161 rows x 7 columns]

In [189]:
table1= A1_set1[['Ref', 'Shad','ชื่อไฟล์ข้อมูล']]
table1

    Ref Shad                            ชื่อไฟล์ข้อมูล
1    A1   A1  219558E6-E67A-4672-9E46-3D084D0D2032.png
2    A1   A1  6D94544D-442A-4CFB-811D-FE7DC11D2ED2.png
3    A1   A1  7BF85808-DA35-4E17-B217-3872CF481063.png
4    A1   A1  F8F3A06B-FA35-4279-8C60-CA55360B7179.png
5    A1   A1  B7D67D95-6E1E-4FDB-9C86-BEC2876991A4.png
..   ..  ...                                       ...
157  A1   D4  BD2FA08C-7FFF-4954-A5A7-439696889EAF.png
158  A1   D4  F416C964-E748-4A43-BD14-E972296B93AB.png
159  A1   D4  A7822018-E2E3-4156-8F78-EA68133F6491.png
160  A1   D4  5CD12207-6DA2-4D7B-B0DC-8D7406088384.png
161  A1   D4  E0E1C37E-221D-4768-8BC2-66513E7C527B.png

[161 rows x 3 columns]

In [17]:
df =A1_set1.drop(['ชนิดกล้องถ่ายรูป','แสงที่ใช้', 'ฉากหลัง','หมายเหตุ'], axis=1)
df

                               ชื่อไฟล์ข้อมูล Ref Shad
1    219558E6-E67A-4672-9E46-3D084D0D2032.png  A1   A1
2    6D94544D-442A-4CFB-811D-FE7DC11D2ED2.png  A1   A1
3    7BF85808-DA35-4E17-B217-3872CF481063.png  A1   A1
4    F8F3A06B-FA35-4279-8C60-CA55360B7179.png  A1   A1
5    B7D67D95-6E1E-4FDB-9C86-BEC2876991A4.png  A1   A1
..                                        ...  ..  ...
157  BD2FA08C-7FFF-4954-A5A7-439696889EAF.png  A1   D4
158  F416C964-E748-4A43-BD14-E972296B93AB.png  A1   D4
159  A7822018-E2E3-4156-8F78-EA68133F6491.png  A1   D4
160  5CD12207-6DA2-4D7B-B0DC-8D7406088384.png  A1   D4
161  E0E1C37E-221D-4768-8BC2-66513E7C527B.png  A1   D4

[161 rows x 3 columns]

In [51]:
A1_set11 =A1_set1.head(3)
A1_set11

                             ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
1  219558E6-E67A-4672-9E46-3D084D0D2032.png  ...  ค่า duration 1/88 ISO 323
2  6D94544D-442A-4CFB-811D-FE7DC11D2ED2.png  ...  ค่า duration 1/88 ISO 323
3  7BF85808-DA35-4E17-B217-3872CF481063.png  ...  ค่า duration 1/88 ISO 323

[3 rows x 7 columns]

In [19]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [20]:
import numpy as np

In [21]:
from tabulate import tabulate

In [22]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

In [55]:
list_total = list()
for img in A1_set11['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total.append(S1rgbrefA1_1)

In [56]:
list_total

[[237.14446879311745, 225.53786218651084, 191.67080594107622],
 [235.97857316776236, 225.38194951708465, 192.18001785569354],
 [235.79993507020535, 224.51602954305656, 190.8735492249006]]

In [57]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total,columns=cols)
S1.index.names=['id']

In [58]:
data_1 = S1[['R-ref','G-ref','B-ref']]
data_1

         R-ref       G-ref       B-ref
id
0   237.144469  225.537862  191.670806
1   235.978573  225.381950  192.180018
2   235.799935  224.516030  190.873549

In [60]:
list_total11= list()
for img in A1_set11['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total11.append(S1rgbA1_2)

In [68]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S=pd.DataFrame(list_total11,columns=cols)
S.index.names=['id']

In [69]:
pd.concat([data_1, S], axis=1)

         R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0   237.144469  225.537862  191.670806  237.809189  226.416827  193.195363
1   235.978573  225.381950  192.180018  236.688358  226.208591  193.704004
2   235.799935  224.516030  190.873549  236.478202  225.354384  192.366332

#ดึงค่า

In [94]:
list_total1 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [95]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [97]:
list_total2 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [197]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [200]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    237.504662  226.087607  192.520591  237.809189  226.416827  193.195363
1    236.455905  226.094697  193.265054  236.688358  226.208591  193.704004
2    236.285645  225.201923  191.899767  236.478202  225.354384  192.366332
3    235.223193  224.210470  189.598291  235.609061  224.545978  190.322452
4    235.735043  224.420357  190.126457  236.031292  224.678046  190.755707
..          ...         ...         ...         ...         ...         ...
156  229.192502  206.797106  157.807789  229.660622  207.387881  158.815163
157  229.478341  207.391511  159.599456  229.914515  207.934784  160.458218
158  232.252817  209.974359  161.079740  232.841548  211.054264  163.067989
159  231.952991  209.665793  160.899476  232.540502  210.645829  162.609416
160  226.932304  204.290598  154.965909  227.327004  204.902354  156.112083

[161 rows x 6 columns]

##HSV

In [108]:
list_total11 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [109]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [111]:
list_total22 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [112]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']

In [113]:
dataP1 = pd.concat([S1, S2,S11,S22], axis=1)
dataP1

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    237.144469  225.537862  191.670806  ...  22.332764  47.917502  237.810967
1    235.978573  225.381950  192.180018  ...  22.696039  46.374938  236.688358
2    235.799935  224.516030  190.873549  ...  22.411208  47.614892  236.478202
3    234.887834  223.690123  188.796283  ...  22.616101  49.037977  235.609061
4    235.364581  223.858372  189.236750  ...  22.445132  48.941256  236.031292
..          ...         ...         ...  ...        ...        ...         ...
156  229.052755  206.550686  157.331467  ...  20.690847  78.711969  229.660622
157  229.335768  207.122312  159.061927  ...  20.589787  77.092810  229.914515
158  232.133431  209.823472  160.814707  ...  20.855487  76.523434  232.841832
159  231.750426  209.396965  160.317913  ...  20.816229  76.807482  232.541071
160  226.744177  204.013067  154.432757  ...  20.698599  79.948652  227.327217

[161 rows x 12 columns]

#2

In [ ]:
 if 1719<i<1819 and 2029<j<2134 :
 if 1719<i<1819 and 1709<j<1819 :

In [115]:
list_total102 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [121]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [117]:
list_total202 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [119]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [122]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    240.424145  229.212315  195.707751  237.046242  225.158836  190.855713
1    240.216103  229.084790  195.400350  235.960523  224.901770  190.743305
2    240.496018  228.920940  195.054487  236.139931  225.030674  190.576128
3    239.835567  228.246795  192.906080  235.938653  223.794366  188.639792
4    240.250291  228.347805  193.538947  236.251413  223.762024  189.312019
..          ...         ...         ...         ...         ...         ...
156  234.394716  212.069542  162.386849  241.318692  223.175887  189.382078
157  234.689297  212.491259  164.173368  240.911222  223.171439  190.084515
158  237.558372  215.932498  168.940851  242.770642  225.226856  192.203132
159  237.125291  215.497960  168.390637  242.897693  225.223242  192.184969
160  232.060703  209.636072  159.584207  239.580669  221.105088  186.441942

[161 rows x 6 columns]

In [123]:
list_total1102 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [124]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [125]:
list_total2202 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [126]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']

In [127]:
dataP2 = pd.concat([S1, S2,S11,S22], axis=1)
dataP2

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    240.424145  229.212315  195.707751  ...  22.287740  49.708831  237.046242
1    240.216103  229.084790  195.400350  ...  22.648411  48.856084  235.960523
2    240.496018  228.920940  195.054487  ...  22.571773  49.199611  236.139931
3    239.835567  228.246795  192.906080  ...  22.325920  51.134835  235.938653
4    240.250291  228.347805  193.538947  ...  22.102585  50.693356  236.251413
..          ...         ...         ...  ...        ...        ...         ...
156  234.394716  212.069542  162.386849  ...  19.458530  54.896210  241.318692
157  234.689297  212.491259  164.173368  ...  19.430266  53.809471  240.911222
158  237.558372  215.932498  168.940851  ...  19.514132  53.132703  242.770642
159  237.125291  215.497960  168.390637  ...  19.492633  53.245019  242.897693
160  232.060703  209.636072  159.584207  ...  19.541284  56.559540  239.580669

[161 rows x 12 columns]

#3

In [ ]:
 if 1739<i<1839 and 2029<j<2134 :
 if 1739<i<1839 and 1709<j<1819 :

In [129]:
list_total103 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [130]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [132]:
list_total203 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [133]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [134]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    239.444542  228.016317  194.375097  236.039292  224.159670  189.969975
1    239.242230  228.251748  194.651709  234.643499  223.517468  189.441479
2    239.439782  227.920066  194.019134  234.661477  223.490501  189.173663
3    238.605381  227.103632  191.694736  234.453804  222.394403  187.284496
4    239.050117  227.227855  192.342463  234.726902  222.313039  187.893615
..          ...         ...         ...         ...         ...         ...
156  232.589258  210.147242  160.184149  239.772032  221.585303  187.934112
157  232.884227  210.649184  161.954643  239.429803  221.590214  188.628857
158  235.980186  214.133644  166.532440  241.453248  223.648967  190.605968
159  235.657051  213.813617  166.154235  241.631452  223.580298  190.664257
160  230.201437  207.640637  157.293415  237.933092  219.400148  184.925679

[161 rows x 6 columns]

In [136]:
list_total1103 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [137]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [138]:
list_total2203 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [139]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']

In [140]:
dataP3 = pd.concat([S1, S2,S11,S22], axis=1)
dataP3

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    239.444542  228.016317  194.375097  ...  22.262719  49.776758  236.039292
1    239.242230  228.251748  194.651709  ...  22.570383  49.108609  234.643499
2    239.439782  227.920066  194.019134  ...  22.521731  49.432027  234.661477
3    238.605381  227.103632  191.694736  ...  22.351497  51.313502  234.453804
4    239.050117  227.227855  192.342463  ...  22.123622  50.898619  234.726902
..          ...         ...         ...  ...        ...        ...         ...
156  232.589258  210.147242  160.184149  ...  19.417200  55.128070  239.772032
157  232.884227  210.649184  161.954643  ...  19.376981  54.109721  239.429803
158  235.980186  214.133644  166.532440  ...  19.412195  53.698823  241.453248
159  235.657051  213.813617  166.154235  ...  19.338801  53.773608  241.631452
160  230.201437  207.640637  157.293415  ...  19.484848  56.807895  237.933092

[161 rows x 12 columns]

#4

In [ ]:
 if 1759<i<1859 and 2029<j<2134 :
 if 1759<i<1859 and 1709<j<1819 :

In [141]:
list_total104 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [142]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [143]:
list_total204 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [144]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [145]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    238.419580  226.860043  193.207265  234.704569  222.752664  188.710499
1    237.971737  227.222999  193.757673  233.076453  221.922435  187.938004
2    238.049728  226.670940  192.875680  232.919933  221.670929  187.469373
3    237.031274  225.678322  190.490093  232.601056  220.692151  185.649893
4    237.580128  225.869172  191.044192  232.774998  220.530813  185.980261
..          ...         ...         ...         ...         ...         ...
156  231.073621  208.593434  158.747863  237.962283  219.661199  186.144472
157  231.381410  209.169386  160.496212  237.677138  219.782504  186.995923
158  234.072164  211.962995  163.544678  240.094245  222.068112  189.052914
159  233.605284  211.509421  163.132479  240.106292  221.694560  188.888333
160  228.653069  206.058081  155.834110  235.980539  217.425725  183.105551

[161 rows x 6 columns]

In [146]:
list_total1104 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [147]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [148]:
list_total2204 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [149]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']

In [150]:
dataP4 = pd.concat([S1, S2,S11,S22], axis=1)
dataP4

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    238.419580  226.860043  193.207265  ...  22.203781  49.973682  234.704569
1    237.971737  227.222999  193.757673  ...  22.550088  49.371143  233.076453
2    238.049728  226.670940  192.875680  ...  22.469743  49.763692  232.919933
3    237.031274  225.678322  190.490093  ...  22.382263  51.480308  232.601056
4    237.580128  225.869172  191.044192  ...  22.184691  51.274025  232.774998
..          ...         ...         ...  ...        ...        ...         ...
156  231.073621  208.593434  158.747863  ...  19.360300  55.521824  237.962283
157  231.381410  209.169386  160.496212  ...  19.332870  54.375869  237.677138
158  234.072164  211.962995  163.544678  ...  19.322120  54.201928  240.094245
159  233.605284  211.509421  163.132479  ...  19.191919  54.372069  240.106292
160  228.653069  206.058081  155.834110  ...  19.443610  57.127977  235.980539

[161 rows x 12 columns]

#5

In [ ]:
 if 1779<i<1879 and 2029<j<2134 :
 if 1779<i<1879 and 1709<j<1819 :

In [151]:
list_total105 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [152]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [153]:
list_total205 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [154]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [155]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    237.504662  226.087607  192.520591  233.441016  221.511537  187.632286
1    236.455905  226.094697  193.265054  231.193031  220.170049  186.610694
2    236.285645  225.201923  191.899767  230.926606  219.744324  185.874340
3    235.223193  224.210470  189.598291  230.727180  218.988787  184.146140
4    235.735043  224.420357  190.126457  230.740061  218.805023  184.213419
..          ...         ...         ...         ...         ...         ...
156  229.192502  206.797106  157.807789  235.807988  217.466963  184.218886
157  229.478341  207.391511  159.599456  235.536002  217.654527  185.117227
158  232.252817  209.974359  161.079740  238.753128  220.584376  187.707349
159  231.952991  209.665793  160.899476  238.657585  220.122231  187.398666
160  226.932304  204.290598  154.965909  233.937633  215.344268  181.364192

[161 rows x 6 columns]

In [156]:
list_total1105 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [157]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [158]:
list_total2205 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [159]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']

In [160]:
dataP5 = pd.concat([S1, S2,S11,S22], axis=1)
dataP5

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    237.504662  226.087607  192.520591  ...  22.174127  50.045130  233.441016
1    236.455905  226.094697  193.265054  ...  22.544713  49.160319  231.193031
2    236.285645  225.201923  191.899767  ...  22.430359  49.745714  230.926606
3    235.223193  224.210470  189.598291  ...  22.396256  51.479381  230.727180
4    235.735043  224.420357  190.126457  ...  22.283014  51.424150  230.740061
..          ...         ...         ...  ...        ...        ...         ...
156  229.192502  206.797106  157.807789  ...  19.296821  55.783709  235.807988
157  229.478341  207.391511  159.599456  ...  19.298953  54.592994  235.536002
158  232.252817  209.974359  161.079740  ...  19.264665  54.517654  238.753128
159  231.952991  209.665793  160.899476  ...  19.143453  54.740154  238.657585
160  226.932304  204.290598  154.965909  ...  19.358540  57.294041  233.937633

[161 rows x 12 columns]

In [187]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    237.144469  225.537862  191.670806  ...  22.332764  47.917502  237.810967
1    235.978573  225.381950  192.180018  ...  22.696039  46.374938  236.688358
2    235.799935  224.516030  190.873549  ...  22.411208  47.614892  236.478202
3    234.887834  223.690123  188.796283  ...  22.616101  49.037977  235.609061
4    235.364581  223.858372  189.236750  ...  22.445132  48.941256  236.031292
..          ...         ...         ...  ...        ...        ...         ...
156  229.192502  206.797106  157.807789  ...  19.296821  55.783709  235.807988
157  229.478341  207.391511  159.599456  ...  19.298953  54.592994  235.536002
158  232.252817  209.974359  161.079740  ...  19.264665  54.517654  238.753128
159  231.952991  209.665793  160.899476  ...  19.143453  54.740154  238.657585
160  226.932304  204.290598  154.965909  ...  19.358540  57.294041  233.937633

[805 rows x 12 columns]

In [ ]:
set1= pd.concat([st1,table1], axis=1)
set1

In [202]:
set1.to_csv('A1Set1.csv', index=False)